In [1]:
import pandas as pd

In [2]:
df_16_17 = pd.read_excel("FINAL Data - FY 2016-2017_Excluding PII.xlsx")
df_18_20 = pd.read_excel("FINAL Data - FY 2018-2020_Excluding PII.xlsx")
df_21_22 = pd.read_excel("SSVF Annual National Report Data Oct 21 - Sep 22_Excluding PII.xlsx")
pd.set_option('display.max_columns', None)

In [3]:
#Imported the three main tables of results.

In [4]:
list_of_tables = [df_16_17, df_18_20, df_21_22]
#printing all columns
for table in list_of_tables:
    print(table.columns)
    print(len(table.columns))
    print("========")

Index(['ResponseID', 'ResponseSet', 'IPAddress', 'StartDate', 'EndDate',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalDataReference', 'Finished', 'Status', 'va Cell Phone',
       'Response ID', 'Timestamp MM/dd/yyyy', 'Custom Variable 1',
       'Custom Variable 2', 'Custom Variable 3', 'Custom Variable 4',
       'Respondent Email', 'Region',
       'How many people are in the veterans household including the veteran',
       'Veterans First Name if first name is not provided  please type',
       'Veterans Email Address yourname.com',
       'Cell Phone XXX-XXX-XXXX 1-999-999-9999', 'UserAgent', 'Q_URL', 'Q35',
       'QIS', 'QIVA', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'F37',
       'Q8 into', 'Q8.1-1a', 'Q8.1-1b', 'Q8.1-1c_1', 'Q8.2-2a', 'Q8.2-2b',
       'Q8.2-2c_1', 'Q8.3-a_1', 'Q8.3-a_2', 'Q8.3-a_3', 'Q8.3-a_4', 'Q8.3-a_5',
       'Q8.3-a_6', 'Q8.3-a_7', 'Q8.3-a_8', 'Q8.3-b_1', 'Q8.3-b_2', 'Q8.3-b_3',
       'Q8.3-b_4', 'Q8.3-b_5', 'Q8.3-b_6', 'Q8.3-b_7', 'Q8.3-b_8', 'Q8.3-c_1',
       'Q8.3-c_2', 'Q8.3-c_3', 'Q8.3-c_4', 'Q8.3-c_5', 'Q8.3-c_6', 'Q8.3-c_7',
       'Q8.3-c_8', 'Q8.4-a_1', 'Q8.4-a_2', 'Q8.4-a_3', 'Q8.4-a_4', 'Q8.4-a_5',
       'Q8.4-a_6', 'Q8.4-a_6_TEXT', 'Q8.4-b_1', 'Q8.4-b_2', 'Q8.4-b_3',
       'Q8.4-b_4', 'Q8.4-b_5', 'Q8.4-b_6', 'Q8.4-b_6_TEXT', 'Q8.4-c_1',
       'Q8.4-c_2', 'Q8.4-c_3', 'Q8.4-c_4', 'Q8.4-c_5', 'Q8.4-c_6',
       'Q8.4-c_6_TEXT', 'Q15', 'Q16', 'Q17', 'Q18', 'Negative', 'date range'],
      dtype='object')
95
========
Index(['ResponseID', 'PIN', 'Timestamp', 'GRANT_ID', 'LEGAL_NAME', 'FNAME',
       'PHONE', 'REMAIL', 'QA', 'QB', 'QC', 'Q1', 'Q2', 'Q2A', 'Q3_1_A',
       'Q3_1_B', 'Q3_1_C', 'Q3_2_A', 'Q3_2_B', 'Q3_2_C', 'Q3_3_1_A',
       'Q3_3_2_A', 'Q3_3_3_A', 'Q3_3_4_A', 'Q3_3_5_A', 'Q3_3_6_A', 'Q3_3_7_A',
       'Q3_3_8_A', 'Q3_3_1_B', 'Q3_3_2_B', 'Q3_3_3_B', 'Q3_3_4_B', 'Q3_3_5_B',
       'Q3_3_6_B', 'Q3_3_7_B', 'Q3_3_8_B', 'Q3_3_1_C', 'Q3_3_2_C', 'Q3_3_3_C',
       'Q3_3_4_C', 'Q3_3_5_C', 'Q3_3_6_C', 'Q3_3_7_C', 'Q3_3_8_C', 'Q3_4_1_A',
       'Q3_4_2_A', 'Q3_4_3_A', 'Q3_4_4_A', 'Q3_4_5_A', 'Q3_4_1_B', 'Q3_4_2_B',
       'Q3_4_3_B', 'Q3_4_4_B', 'Q3_4_5_B', 'Q3_4_1_C', 'Q3_4_2_C', 'Q3_4_3_C',
       'Q3_4_4_C', 'Q3_4_5_C', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'DateRange'],
      dtype='object')
68
========
Index(['UNIQUEID', 'GRANTEEID', 'MODE', 'LtCallDt', 'LtCallST', 'CallDurS',
       'CallDurM', 'TotalTime', 'LtCallR', 'LtCaseR', 'Date', 'HOUSEHOLD',
       'HEALTHCARE', 'HEALTHCARE2', 'Q1', 'Q1 Num', 'Q2', 'Q2A', 'Q3_1',
       'Q3_1B', 'Q3_2', 'Q3_2B', 'Q3_3A', 'Q3_3A2', 'Q3_3B', 'Q3_3B2', 'Q3_3C',
       'Q3_3C2', 'Q3_3D', 'Q3_3D2', 'Q3_3E', 'Q3_3E2', 'Q3_3F', 'Q3_3F2',
       'Q3_3G', 'Q3_3G2', 'Q3_3H', 'Q3_3H2', 'Q4_A', 'Q4_A2', 'Q4_B', 'Q4_B2',
       'Q4_C', 'Q4_C2', 'Q4_D', 'Q4_D2', 'Q4_E', 'Q4_E2', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'EXPERIENCE', 'Q9', 'Q10', 'Q11A', 'Q11', 'Q13', 'Q14',
       'Q15', 'Q16', 'INT99', 'Q12', 'INT'],
      dtype='object')
65
========

In [5]:
dlp_qs = pd.read_csv("dlp_questions_explained - Sheet1_with_data_dict.csv")
#Note that table 0 refers to the data dictionary.

In [6]:
dlp_qs.head(3)

,given_q_label,given_q_text,source_type,num,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes
0,Q1,How would you rate the quality of the services...,pdf,16,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.
1,Q2,If another Veteran or a friend were in need of...,pdf,16,NaN,NaN,NaN,NaN,NaN,NaN
2,Q3,How satisfied are you with the services you ha...,pdf,16,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dlp_qs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   given_q_label            369 non-null    object
 1   given_q_text             141 non-null    object
 2   source_type              369 non-null    object
 3   num                      305 non-null    object
 4   percent_nonnull          228 non-null    float64
 5   consistent/inconsistent  0 non-null      float64
 6   dlp_std_q                0 non-null      float64
 7   dlp_id_for_std_q         0 non-null      float64
 8   dlp_qid_all_qs (index)   0 non-null      float64
 9   notes                    19 non-null     object
dtypes: float64(5), object(5)
memory usage: 29.0+ KB

In [8]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [9]:
#I'm going to manually look at every question.
#I don't think there's any way around it.
#To make it easy, I'm going to bundle questions
#with the same label together.

q_num_list = []

for q_num in dlp_qs["given_q_label"]: #for each question label
    if q_num in q_num_list:
        continue #if I already appended the question label (below), skip
    else:
        qs_per_num = ( #create a Series of questions for each q_num
            dlp_qs[
            (dlp_qs["given_q_label"] == q_num) #filter to only include the given q number
            &
            (
                (dlp_qs["source_type"] == "pdf")
            |
                (dlp_qs["source_type"] == "data dictionary")
            )
                #filter to only include pdfs and the data dictionary (since only those have question text)
        ]
        [["given_q_text", "num"]] #show the question text and their numbers
        )
        number_of_qs_per_num = len(qs_per_num)
        q_num_list.append(q_num)
        print(f'{q_num} ({number_of_qs_per_num} questions): {qs_per_num}')
        print("=======")

Q1 (6 questions):                                                                                                   given_q_text  \
0    How would you rate the quality of the services you have\nreceived from this supportive services provider?
7    How would you rate the quality of the services you have\nreceived from this supportive services provider?
13   How would you rate the quality of the services you have\nreceived from this supportive services provider?
20    How would you rate the quality of the services you have received from this supportive services provider?
30                         HOW WOULD YOU RATE THE QUALITY OF SERVICES YOU HAVE RECEIVED FROM THIS SSVF AGENCY?
312   How would you rate the quality of the services you have received from this supportive services provider?

       num
0       16
7       17
13      18
20      20
30   21-22
312    NaN
=======
Q2 (4 questions):                                                                                                                             given_q_text  \
1    If another Veteran or a friend were in need of similar\nhelp, would you recommend this supportive services provider\nto him or her?
8    If another Veteran or a friend were in need of similar help,\nwould you recommend this supportive services provider to him or\nher?
31                                      DID THE SSVF CASE MANAGER INVOLVE YOU IN CREATING AN INDIVIDUALIZED HOUSING STABILIZATION\nPLAN?
313                           Did the supportive services provider involve you in creating an individualized housing stabilization plan?

       num
1       16
8       17
31   21-22
313    NaN
=======
Q3 (2 questions):                                                                                          given_q_text  \
2  How satisfied are you with the services you have\nreceived from this supportive services provider?
9  How satisfied are you with the services you have received\nfrom this supportive services provider?

  num
2  16
9  17
=======
Q4 (4 questions):                                                                                                                              given_q_text  \
3    If you needed help again and had a choice of where to\ngo at no cost to you, would you return to this supportive\nservices provider?
10   If you needed help again and had a choice of where to go at\nno cost to you, would you return to this supportive services\nprovider?
63                                            HOW MANY TIMES HAVE YOU MOVED SINCE YOU STARTED RECEIVING SERVICES FROM THIS SSVF AGENCY?\n
360                                                How many times have you moved since you started receiving services from this provider?

       num
3       16
10      17
63   21-22
360    NaN
=======
Q6abc (2 questions):                                                                                                                                                                                                                                                                                                                                                                                                                                     given_q_text  \
4   Veterans were asked a series of questions about which supportive services they needed and\nreceived. If they received the service, they were then asked about the quality of the service.\nAfter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.
11  Veterans were asked a series of questions about which supportive services they needed and\nreceived. If they received the service, they were then asked about the quality of the service.\nAfter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.

   num
4   16
11  17
=======
Q7 (6 questions):                                                                                                                                     given_q_text  \
5                                       Is there any other feedback\nabout the supportive services provider that\nyou wish to provide to the VA?
12                                      Is there any other feedback\nabout the supportive services provider that\nyou wish to provide to the VA?
15   How satisfied are you with the courteousness of the staff person that you dealt with most often\nwhile you were working with this provider?
22   How satisfied are you with the courteousness of the staff person that you dealt with most often\nwhile you were working with this provider?
66   HOW SATISFIED ARE YOU WITH THE COURTEOUSNESS OF THE STAFF PERSON THAT YOU DEALT WITH MOST\nOFTEN WHILE YOU WERE WORKING WITH THIS PROVIDER?
363   How satisfied are you with the courteousness of the staff person that you dealt with most often while you were working with this provider?

       num
5       16
12      17
15      18
22      20
66   21-22
363    NaN
=======
Q8 (5 questions):                                                                                                                                                     given_q_text  \
6                                           Please indicate which supportive services you received and indicate the quality of the supportive services received.
16   How satisfied are you with the timeliness of communication with the staff person that you dealt\nwith most often while you were working with this provider?
23   How satisfied are you with the timeliness of communication with the staff person that you dealt\nwith most often while you were working with this provider?
67   HOW SATISFIED ARE YOU WITH THE TIMELINESS OF COMMUNICATION WITH THE STAFF PERSON THAT YOU\nDEALT WITH MOST OFTEN WHILE YOU WERE WORKING WITH THIS PROVIDER?
364   How satisfied are you with the timeliness of communication with the staff person that you dealt with most often while you were working with this provider?

       num
6       16
16      18
23      20
67   21-22
364    NaN
=======
Q6 (4 questions):                                                                                                                          given_q_text  \
14   How satisfied are you with the courteousness of the staff person that you initially spoke with when\nyou contacted the provider?
21   How satisfied are you with the courteousness of the staff person that you initially spoke with when\nyou contacted the provider?
65   HOW SATISFIED ARE YOU WITH THE COURTEOUSNESS OF THE STAFF PERSON THAT YOU INITIALLY SPOKE\nWITH WHEN YOU CONTACTED THE PROVIDER?
362   How satisfied are you with the courteousness of the staff person that you initially spoke with when you contacted the provider?

       num
14      18
21      20
65   21-22
362    NaN
=======
Q9 (4 questions):                                                                                        given_q_text  \
17   If your experiences were positive with this supportive services provider,\nplease tell us why.
24   If your experiences were positive with this supportive services provider,\nplease tell us why.
74                       Appendix A: Q9_Positive experiences with the S.S.V.F staff that helped you
365   If your experiences were positive with this supportive services provider, please tell us why.

       num
17      18
24      20
74   21-22
365    NaN
=======
Q10 (4 questions):                                                                                                given_q_text  \
18           If your experiences were negative with this supportive services\nprovider, please tell us why.
25           If your experiences were negative with this supportive services\nprovider, please tell us why.
75   Appendix B: Q10_Negative experiences you had with the SSVF agency or S. S. V. F.\nstaff who helped you
366           If your experiences were negative with this supportive services provider, please tell us why.

       num
18      18
25      20
75   21-22
366    NaN
=======
Q11 (4 questions):                                                                        given_q_text  \
19   Please list any additional suggestions as to how to improve the SSVF\nProgram.
26   Please list any additional suggestions as to how to improve the SSVF\nProgram.
76                       Appendix C: Q11_Suggestions to improve the S.S.V.F program
367   Please list any additional suggestions as to how to improve the SSVF Program.

       num
19      18
26      20
76   21-22
367    NaN
=======
QA (2 questions):                                                                                                given_q_text  \
27                                                     WHAT IS THE NUMBER OF INDIVIDUALS IN YOUR HOUSEHOLD?
309  Number of individuals (including yourself) in household receiving support services from this provider:

       num
27   21-22
309    NaN
=======
QB (2 questions):                                        given_q_text    num
28   ARE YOU ENROLLED IN THE VA HEALTH CARE SYSTEM?  21-22
310  Are you enrolled in the VA health care system?    NaN
=======
QC (2 questions):                                                                                        given_q_text  \
29   WERE YOU ENROLLED IN THE VA HEALTHCARE SYSTEM PRIOR TO RECEIVING SERVICES FROM THIS\nPROVIDER?
311  Were you enrolled in the VA health care system prior to receiving services from this provider?

       num
29   21-22
311    NaN
=======
Q2A (2 questions):                                                          given_q_text    num
32   DO YOU FEEL THAT THIS HOUSING PLAN IS A GOOD FIT FOR YOUR NEEDS?  21-22
314  Do you feel that this housing plan is a good fit for your needs?    NaN
=======
Q3_1 (1 questions):                      given_q_text    num
33  DID YOU NEED CASE MANAGEMENT?  21-22
=======
Q3_1B (1 questions):                                              given_q_text    num
34  WHAT WAS THE QUALITY OF THE CASE MANAGEMENT RECEIVED?  21-22
=======
Q3_2 (1 questions):                                          given_q_text    num
35  DID YOU NEED ASSISTANCE IN OBTAINING VA BENEFITS?  21-22
=======
Q3_2B (1 questions):                                                              given_q_text  \
36  WHAT WAS THE QUALITY OF ASSISTANCE RECEIVED IN OBTAINING VA BENEFITS?

      num
36  21-22
=======
Q3_3A (1 questions):                                                                    given_q_text  \
37  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING HEALTH CARE BENEFITS?

      num
37  21-22
=======
Q3_3A2 (1 questions):                                                                                            given_q_text  \
38  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING\nHEALTHCARE BENEFITS?

      num
38  21-22
=======
Q3_3B (1 questions):                                                                     given_q_text  \
39  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING DAILY LIVING BENEFITS?

      num
39  21-22
=======
Q3_3B2 (1 questions):                                                                                              given_q_text  \
40  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING DAILY\nLIVING BENEFITS?

      num
40  21-22
=======
Q3_3C (1 questions):                                                                                     given_q_text  \
41  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING PERSONAL FINANCIAL PLANNING\nBENEFITS?

      num
41  21-22
=======
Q3_3C2 (1 questions):                                                                                                            given_q_text  \
42  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING PERSONAL FINANCIAL PLANNING BENEFITS?

      num
42  21-22
=======
Q3_3D (1 questions):                                                                       given_q_text  \
43  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING TRANSPORTATION BENEFITS?

      num
43  21-22
=======
Q3_3D2 (1 questions):                                                                                                given_q_text  \
44  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING TRANSPORTATION BENEFITS?

      num
44  21-22
=======
Q3_3E (1 questions):                                                                       given_q_text  \
45  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING INCOME SUPPORT BENEFITS?

      num
45  21-22
=======
Q3_3E2 (1 questions):                                                                                                given_q_text  \
46  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING INCOME\nSUPPORT BENEFITS?

      num
46  21-22
=======
Q3_3F (1 questions):                                                              given_q_text  \
47  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING LEGAL BENEFITS?

      num
47  21-22
=======
Q3_3F2 (1 questions):                                                                                       given_q_text  \
48  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING LEGAL\nBENEFITS?

      num
48  21-22
=======
Q3_3G (1 questions):                                                                  given_q_text  \
49  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING CHILDCARE BENEFITS?

      num
49  21-22
=======
Q3_3G2  (1 questions):                                                                                           given_q_text  \
50  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING\nCHILDCARE BENEFITS?

      num
50  21-22
=======
Q3_3H (1 questions):                                                                           given_q_text  \
51  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING HOUSING COUNSELING BENEFITS?

      num
51  21-22
=======
Q3_3H2 (1 questions):                                                                                                    given_q_text  \
52  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING HOUSING\nCOUNSELING BENEFITS?

      num
52  21-22
=======
Q4_A (1 questions):                        given_q_text    num
53  DID YOU NEED RENTAL ASSISTANCE?  21-22
=======
Q4_A2 (1 questions):                                                given_q_text    num
54  WHAT WAS THE QUALITY OF THE RENTAL ASSISTANCE RECEIVED?  21-22
=======
Q4_B (1 questions):                                     given_q_text    num
55  DID YOU NEED UTILITY FEE PAYMENT ASSISTANCE?  21-22
=======
Q4_B2 (1 questions):                                                             given_q_text  \
56  WHAT WAS THE QUALITY OF THE UTILITY FEE PAYMENT ASSISTANCE RECEIVED?

      num
56  21-22
=======
Q4_C (1 questions):                                               given_q_text    num
57  DID YOU NEED SECURITY AND UTILITY DEPOSITS ASSISTANCE?  21-22
=======
Q4_C2 (1 questions):                                                                       given_q_text  \
58  WHAT WAS THE QUALITY OF THE SECURITY AND UTILITY DEPOSITS ASSISTANCE RECEIVED?

      num
58  21-22
=======
Q4_D (1 questions):                               given_q_text    num
59  DID YOU NEED MOVING COSTS ASSISTANCE?   21-22
=======
Q4_D2 (1 questions):                                                      given_q_text    num
60  WHAT WAS THE QUALITY OF THE MOVING COSTS ASSISTANCE RECEIVED?  21-22
=======
Q4_E (1 questions):                                               given_q_text    num
61  DID YOU NEED ASSISTANCE PURCHASING EMERGENCY SUPPLIES?  21-22
=======
Q4_E2 (1 questions):                                                                       given_q_text  \
62  WHAT WAS THE QUALITY OF THE EMERGENCY SUPPLIES PURCHASING ASSISTANCE RECEIVED?

      num
62  21-22
=======
Q5 (2 questions):                                                                                                                                                                          given_q_text  \
64   SINCE YOU STARTED RECEIVING SERVICES FROM THIS SUPPORTIVE SERVICES PROVIDER, WAS THERE A TIME\nWHEN YOUR INCOME DECREASED SO MUCH THAT IT BECAME HARD TO PAY YOUR HOUSING COSTS?
361   Since you started receiving services from this supportive services provider, was there a time when your income decreased so much that it became hard to pay your housing costs?

       num
64   21-22
361    NaN
=======
EXPERIENCE (1 questions):                                                                                                                                                 given_q_text  \
68  DO YOU HAVE ANY POSITIVE OR NEGATIVE EXPERIENCES YOU HAD WITH THE SSVF AGENCY OR\nSSVF STAFF WHO HELPED YOU THAT YOU WOULD LIKE TO PROVIDE COMMENTS ON?

      num
68  21-22
=======
Q11A (1 questions):                                                                       given_q_text  \
69  DO YOU HAVE ANY ADDITIONAL SUGGESTIONS AS TO HOW TO IMPROVE THE SSVF PROGRAM?

      num
69  21-22
=======
Q13 (1 questions):                      given_q_text    num
70  WHAT RACE DO YOU IDENTIFY AS?  21-22
=======
Q14 (1 questions):                           given_q_text    num
71  WHAT ETHNICITY DO YOU IDENTIFY AS?  21-22
=======
Q15 (1 questions):                       given_q_text    num
72  DO YOU CONSIDER YOURSELF TO BE  21-22
=======
Q16 (1 questions):             given_q_text    num
73  WHAT IS YOUR GENDER?  21-22
=======
ResponseID (1 questions):           given_q_text  num
305  Unique Identifier  NaN
=======
ResponseSet (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
IPAddress (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
StartDate (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
EndDate (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
RecipientLastName (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
RecipientFirstName (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
RecipientEmail (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
ExternalDataReference (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Finished (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Status (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
va Cell Phone (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Response ID (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Timestamp MM/dd/yyyy (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Custom Variable 1 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Custom Variable 2 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Custom Variable 3 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Custom Variable 4 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Respondent Email (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Region (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
How many people are in the veterans household including the veteran (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Veterans First Name if first name is not provided  please type (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======

In [10]:
#RESULTS FOR QS WITH THE SAME LABEL BUT DIFFERENT TEXT VALUES (DEFINITIONS):

#Q1: A presumably insignificant change in 21-22, from "this ssvf agency" to "this supportive services provider."

#Q2: There's an inconsistency. In the pdfs for 16 and for 17, Q2 asks if the participant would
#recommend the services provider to a friend or veteran. However, in the pdf for 21-22 and the data dictionary, it
#changes and asks if the SSVF case manager involved the participant in creating an individualized housing
#stabilization plan. Also, in the data dictionary, it refers to the "supportive services provider" rather than
#the "SSVF case manager." I would think they're referring to the same thing, but in my head, they mean different
#things.

#Q4: There's an inconsistency. In the pdfs for 16 and for 17, Q4 asks if the participant would return to
#the supportive services provider at no cost if she/he/they need help again. But in the pdf for 21-22 as well as 
#the data dictionary, Q4 instead asks if the SSVF case manager/supportive services provider involved the
#participant in creating an individualized housing stabilization plan. (The 20-22 pdf refers to the subject
#as "this SSVF agency," whereas the data dict refers to the subject as "the supportive services provider."
#I presume this is an insignificant change.)

#Q7: There's an inconsistency. In the pdfs for 16 and for 17, it asks for additional feedback about the supportive
#services provider. However, in the pdfs for 18, 20 and 21-22 as well as in the data dictionary, it instead asks
#how satisfied the participant is with the courteousness of the staff dealt with most often.

#Q8: There's an inconsistency. The pdf for 16 asks about supportive services received and their quality, whereas 
#the pdfs for 18, 20 and 21-22 are about timeliness of communication of the person the participant dealt with the most.

#Q9, Q10 and Q11: Appears insignificant, but just noting that the pdf for 21-22 has unusual prose. Presumably,
#these are all the same, though.

#QA: Presumably insignificant, but noting that for the pdf for 21-22, it asks for the number of people in the 
#household, whereas in the data dictionary, it asks for the number of individuals receiving support services 
#from the provider.

In [11]:
#Redoing it with normalized letters (uppercasing them):

q_num_list = []

for q_num in dlp_qs["given_q_label"].str.upper(): #for each question label
    if q_num in q_num_list:
        continue #if I already appended the question label (below), skip
    else:
        qs_per_num = ( #create a Series of questions for each q_num
            dlp_qs[
            (dlp_qs["given_q_label"].str.upper() == q_num) #filter to only include the given q number
            &
            (
                (dlp_qs["source_type"] == "pdf")
            |
                (dlp_qs["source_type"] == "data dictionary")
            )
                #filter to only include pdfs and the data dictionary (since only those have question text)
        ]
        [["given_q_text", "num"]] #show the question text and their numbers
        )
        number_of_qs_per_num = len(qs_per_num)
        q_num_list.append(q_num)
        print(f'{q_num} ({number_of_qs_per_num} questions): {qs_per_num}')
        print("=======")

Q1 (6 questions):                                                                                                   given_q_text  \
0    How would you rate the quality of the services you have\nreceived from this supportive services provider?
7    How would you rate the quality of the services you have\nreceived from this supportive services provider?
13   How would you rate the quality of the services you have\nreceived from this supportive services provider?
20    How would you rate the quality of the services you have received from this supportive services provider?
30                         HOW WOULD YOU RATE THE QUALITY OF SERVICES YOU HAVE RECEIVED FROM THIS SSVF AGENCY?
312   How would you rate the quality of the services you have received from this supportive services provider?

       num
0       16
7       17
13      18
20      20
30   21-22
312    NaN
=======
Q2 (4 questions):                                                                                                                             given_q_text  \
1    If another Veteran or a friend were in need of similar\nhelp, would you recommend this supportive services provider\nto him or her?
8    If another Veteran or a friend were in need of similar help,\nwould you recommend this supportive services provider to him or\nher?
31                                      DID THE SSVF CASE MANAGER INVOLVE YOU IN CREATING AN INDIVIDUALIZED HOUSING STABILIZATION\nPLAN?
313                           Did the supportive services provider involve you in creating an individualized housing stabilization plan?

       num
1       16
8       17
31   21-22
313    NaN
=======
Q3 (2 questions):                                                                                          given_q_text  \
2  How satisfied are you with the services you have\nreceived from this supportive services provider?
9  How satisfied are you with the services you have received\nfrom this supportive services provider?

  num
2  16
9  17
=======
Q4 (4 questions):                                                                                                                              given_q_text  \
3    If you needed help again and had a choice of where to\ngo at no cost to you, would you return to this supportive\nservices provider?
10   If you needed help again and had a choice of where to go at\nno cost to you, would you return to this supportive services\nprovider?
63                                            HOW MANY TIMES HAVE YOU MOVED SINCE YOU STARTED RECEIVING SERVICES FROM THIS SSVF AGENCY?\n
360                                                How many times have you moved since you started receiving services from this provider?

       num
3       16
10      17
63   21-22
360    NaN
=======
Q6ABC (2 questions):                                                                                                                                                                                                                                                                                                                                                                                                                                     given_q_text  \
4   Veterans were asked a series of questions about which supportive services they needed and\nreceived. If they received the service, they were then asked about the quality of the service.\nAfter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.
11  Veterans were asked a series of questions about which supportive services they needed and\nreceived. If they received the service, they were then asked about the quality of the service.\nAfter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.

   num
4   16
11  17
=======
Q7 (6 questions):                                                                                                                                     given_q_text  \
5                                       Is there any other feedback\nabout the supportive services provider that\nyou wish to provide to the VA?
12                                      Is there any other feedback\nabout the supportive services provider that\nyou wish to provide to the VA?
15   How satisfied are you with the courteousness of the staff person that you dealt with most often\nwhile you were working with this provider?
22   How satisfied are you with the courteousness of the staff person that you dealt with most often\nwhile you were working with this provider?
66   HOW SATISFIED ARE YOU WITH THE COURTEOUSNESS OF THE STAFF PERSON THAT YOU DEALT WITH MOST\nOFTEN WHILE YOU WERE WORKING WITH THIS PROVIDER?
363   How satisfied are you with the courteousness of the staff person that you dealt with most often while you were working with this provider?

       num
5       16
12      17
15      18
22      20
66   21-22
363    NaN
=======
Q8 (5 questions):                                                                                                                                                     given_q_text  \
6                                           Please indicate which supportive services you received and indicate the quality of the supportive services received.
16   How satisfied are you with the timeliness of communication with the staff person that you dealt\nwith most often while you were working with this provider?
23   How satisfied are you with the timeliness of communication with the staff person that you dealt\nwith most often while you were working with this provider?
67   HOW SATISFIED ARE YOU WITH THE TIMELINESS OF COMMUNICATION WITH THE STAFF PERSON THAT YOU\nDEALT WITH MOST OFTEN WHILE YOU WERE WORKING WITH THIS PROVIDER?
364   How satisfied are you with the timeliness of communication with the staff person that you dealt with most often while you were working with this provider?

       num
6       16
16      18
23      20
67   21-22
364    NaN
=======
Q6 (4 questions):                                                                                                                          given_q_text  \
14   How satisfied are you with the courteousness of the staff person that you initially spoke with when\nyou contacted the provider?
21   How satisfied are you with the courteousness of the staff person that you initially spoke with when\nyou contacted the provider?
65   HOW SATISFIED ARE YOU WITH THE COURTEOUSNESS OF THE STAFF PERSON THAT YOU INITIALLY SPOKE\nWITH WHEN YOU CONTACTED THE PROVIDER?
362   How satisfied are you with the courteousness of the staff person that you initially spoke with when you contacted the provider?

       num
14      18
21      20
65   21-22
362    NaN
=======
Q9 (4 questions):                                                                                        given_q_text  \
17   If your experiences were positive with this supportive services provider,\nplease tell us why.
24   If your experiences were positive with this supportive services provider,\nplease tell us why.
74                       Appendix A: Q9_Positive experiences with the S.S.V.F staff that helped you
365   If your experiences were positive with this supportive services provider, please tell us why.

       num
17      18
24      20
74   21-22
365    NaN
=======
Q10 (4 questions):                                                                                                given_q_text  \
18           If your experiences were negative with this supportive services\nprovider, please tell us why.
25           If your experiences were negative with this supportive services\nprovider, please tell us why.
75   Appendix B: Q10_Negative experiences you had with the SSVF agency or S. S. V. F.\nstaff who helped you
366           If your experiences were negative with this supportive services provider, please tell us why.

       num
18      18
25      20
75   21-22
366    NaN
=======
Q11 (4 questions):                                                                        given_q_text  \
19   Please list any additional suggestions as to how to improve the SSVF\nProgram.
26   Please list any additional suggestions as to how to improve the SSVF\nProgram.
76                       Appendix C: Q11_Suggestions to improve the S.S.V.F program
367   Please list any additional suggestions as to how to improve the SSVF Program.

       num
19      18
26      20
76   21-22
367    NaN
=======
QA (2 questions):                                                                                                given_q_text  \
27                                                     WHAT IS THE NUMBER OF INDIVIDUALS IN YOUR HOUSEHOLD?
309  Number of individuals (including yourself) in household receiving support services from this provider:

       num
27   21-22
309    NaN
=======
QB (2 questions):                                        given_q_text    num
28   ARE YOU ENROLLED IN THE VA HEALTH CARE SYSTEM?  21-22
310  Are you enrolled in the VA health care system?    NaN
=======
QC (2 questions):                                                                                        given_q_text  \
29   WERE YOU ENROLLED IN THE VA HEALTHCARE SYSTEM PRIOR TO RECEIVING SERVICES FROM THIS\nPROVIDER?
311  Were you enrolled in the VA health care system prior to receiving services from this provider?

       num
29   21-22
311    NaN
=======
Q2A (2 questions):                                                          given_q_text    num
32   DO YOU FEEL THAT THIS HOUSING PLAN IS A GOOD FIT FOR YOUR NEEDS?  21-22
314  Do you feel that this housing plan is a good fit for your needs?    NaN
=======
Q3_1 (1 questions):                      given_q_text    num
33  DID YOU NEED CASE MANAGEMENT?  21-22
=======
Q3_1B (1 questions):                                              given_q_text    num
34  WHAT WAS THE QUALITY OF THE CASE MANAGEMENT RECEIVED?  21-22
=======
Q3_2 (1 questions):                                          given_q_text    num
35  DID YOU NEED ASSISTANCE IN OBTAINING VA BENEFITS?  21-22
=======
Q3_2B (1 questions):                                                              given_q_text  \
36  WHAT WAS THE QUALITY OF ASSISTANCE RECEIVED IN OBTAINING VA BENEFITS?

      num
36  21-22
=======
Q3_3A (1 questions):                                                                    given_q_text  \
37  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING HEALTH CARE BENEFITS?

      num
37  21-22
=======
Q3_3A2 (1 questions):                                                                                            given_q_text  \
38  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING\nHEALTHCARE BENEFITS?

      num
38  21-22
=======
Q3_3B (1 questions):                                                                     given_q_text  \
39  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING DAILY LIVING BENEFITS?

      num
39  21-22
=======
Q3_3B2 (1 questions):                                                                                              given_q_text  \
40  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING DAILY\nLIVING BENEFITS?

      num
40  21-22
=======
Q3_3C (1 questions):                                                                                     given_q_text  \
41  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING PERSONAL FINANCIAL PLANNING\nBENEFITS?

      num
41  21-22
=======
Q3_3C2 (1 questions):                                                                                                            given_q_text  \
42  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING PERSONAL FINANCIAL PLANNING BENEFITS?

      num
42  21-22
=======
Q3_3D (1 questions):                                                                       given_q_text  \
43  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING TRANSPORTATION BENEFITS?

      num
43  21-22
=======
Q3_3D2 (1 questions):                                                                                                given_q_text  \
44  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING TRANSPORTATION BENEFITS?

      num
44  21-22
=======
Q3_3E (1 questions):                                                                       given_q_text  \
45  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING INCOME SUPPORT BENEFITS?

      num
45  21-22
=======
Q3_3E2 (1 questions):                                                                                                given_q_text  \
46  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING INCOME\nSUPPORT BENEFITS?

      num
46  21-22
=======
Q3_3F (1 questions):                                                              given_q_text  \
47  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING LEGAL BENEFITS?

      num
47  21-22
=======
Q3_3F2 (1 questions):                                                                                       given_q_text  \
48  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING LEGAL\nBENEFITS?

      num
48  21-22
=======
Q3_3G (1 questions):                                                                  given_q_text  \
49  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING CHILDCARE BENEFITS?

      num
49  21-22
=======
Q3_3G2  (1 questions):                                                                                           given_q_text  \
50  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING\nCHILDCARE BENEFITS?

      num
50  21-22
=======
Q3_3H (1 questions):                                                                           given_q_text  \
51  DID YOU NEED ASSISTANCE IN OBTAINING AND COORDINATING HOUSING COUNSELING BENEFITS?

      num
51  21-22
=======
Q3_3H2 (1 questions):                                                                                                    given_q_text  \
52  WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING HOUSING\nCOUNSELING BENEFITS?

      num
52  21-22
=======
Q4_A (1 questions):                        given_q_text    num
53  DID YOU NEED RENTAL ASSISTANCE?  21-22
=======
Q4_A2 (1 questions):                                                given_q_text    num
54  WHAT WAS THE QUALITY OF THE RENTAL ASSISTANCE RECEIVED?  21-22
=======
Q4_B (1 questions):                                     given_q_text    num
55  DID YOU NEED UTILITY FEE PAYMENT ASSISTANCE?  21-22
=======
Q4_B2 (1 questions):                                                             given_q_text  \
56  WHAT WAS THE QUALITY OF THE UTILITY FEE PAYMENT ASSISTANCE RECEIVED?

      num
56  21-22
=======
Q4_C (1 questions):                                               given_q_text    num
57  DID YOU NEED SECURITY AND UTILITY DEPOSITS ASSISTANCE?  21-22
=======
Q4_C2 (1 questions):                                                                       given_q_text  \
58  WHAT WAS THE QUALITY OF THE SECURITY AND UTILITY DEPOSITS ASSISTANCE RECEIVED?

      num
58  21-22
=======
Q4_D (1 questions):                               given_q_text    num
59  DID YOU NEED MOVING COSTS ASSISTANCE?   21-22
=======
Q4_D2 (1 questions):                                                      given_q_text    num
60  WHAT WAS THE QUALITY OF THE MOVING COSTS ASSISTANCE RECEIVED?  21-22
=======
Q4_E (1 questions):                                               given_q_text    num
61  DID YOU NEED ASSISTANCE PURCHASING EMERGENCY SUPPLIES?  21-22
=======
Q4_E2 (1 questions):                                                                       given_q_text  \
62  WHAT WAS THE QUALITY OF THE EMERGENCY SUPPLIES PURCHASING ASSISTANCE RECEIVED?

      num
62  21-22
=======
Q5 (2 questions):                                                                                                                                                                          given_q_text  \
64   SINCE YOU STARTED RECEIVING SERVICES FROM THIS SUPPORTIVE SERVICES PROVIDER, WAS THERE A TIME\nWHEN YOUR INCOME DECREASED SO MUCH THAT IT BECAME HARD TO PAY YOUR HOUSING COSTS?
361   Since you started receiving services from this supportive services provider, was there a time when your income decreased so much that it became hard to pay your housing costs?

       num
64   21-22
361    NaN
=======
EXPERIENCE (1 questions):                                                                                                                                                 given_q_text  \
68  DO YOU HAVE ANY POSITIVE OR NEGATIVE EXPERIENCES YOU HAD WITH THE SSVF AGENCY OR\nSSVF STAFF WHO HELPED YOU THAT YOU WOULD LIKE TO PROVIDE COMMENTS ON?

      num
68  21-22
=======
Q11A (1 questions):                                                                       given_q_text  \
69  DO YOU HAVE ANY ADDITIONAL SUGGESTIONS AS TO HOW TO IMPROVE THE SSVF PROGRAM?

      num
69  21-22
=======
Q13 (1 questions):                      given_q_text    num
70  WHAT RACE DO YOU IDENTIFY AS?  21-22
=======
Q14 (1 questions):                           given_q_text    num
71  WHAT ETHNICITY DO YOU IDENTIFY AS?  21-22
=======
Q15 (1 questions):                       given_q_text    num
72  DO YOU CONSIDER YOURSELF TO BE  21-22
=======
Q16 (1 questions):             given_q_text    num
73  WHAT IS YOUR GENDER?  21-22
=======
RESPONSEID (1 questions):           given_q_text  num
305  Unique Identifier  NaN
=======
RESPONSESET (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
IPADDRESS (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
STARTDATE (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
ENDDATE (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
RECIPIENTLASTNAME (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
RECIPIENTFIRSTNAME (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
RECIPIENTEMAIL (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
EXTERNALDATAREFERENCE (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
FINISHED (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
STATUS (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
VA CELL PHONE (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
RESPONSE ID (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
TIMESTAMP MM/DD/YYYY (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
CUSTOM VARIABLE 1 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
CUSTOM VARIABLE 2 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
CUSTOM VARIABLE 3 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
CUSTOM VARIABLE 4 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
RESPONDENT EMAIL (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
REGION (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
HOW MANY PEOPLE ARE IN THE VETERANS HOUSEHOLD INCLUDING THE VETERAN (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
VETERANS FIRST NAME IF FIRST NAME IS NOT PROVIDED  PLEASE TYPE (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======

Q3_1_A (1 questions):                                     given_q_text  num
315  Case Management: Did you need this service?  NaN
=======
Q3_1_B (1 questions):                                        given_q_text  num
316  Case Management: Did you receive this service?  NaN
=======
Q3_1_C (1 questions):                                                           given_q_text  num
317  Case Management: What was the quality of service? Case Management  NaN
=======
Q3_2_A (1 questions):                                                         given_q_text  num
318  Assistance in obtaining VA Benefits: Did you need this service?  NaN
=======
Q3_2_B (1 questions):                                                            given_q_text  num
319  Assistance in obtaining VA Benefits: Did you receive this service?  NaN
=======
Q3_2_C (1 questions):                                                                                                   given_q_text  \
320  Assistance in obtaining VA Benefits: What was the quality of service? Assistance in obtaining VA Benefits

     num
320  NaN
=======
Q3_3_1_A (1 questions):                                                                                                given_q_text  \
321  Assistance in obtaining and coordinating other public benefits: Did you need this service? Health care

     num
321  NaN
=======
Q3_3_2_A (1 questions):                                                                                                 given_q_text  \
322  Assistance in obtaining and coordinating other public benefits: Did you need this service? Daily living

     num
322  NaN
=======
Q3_3_3_A (1 questions):                                                                                                                given_q_text  \
323  Assistance in obtaining and coordinating other public benefits: Did you need this service? Personal financial planning

     num
323  NaN
=======
Q3_3_4_A (1 questions):                                                                                                   given_q_text  \
324  Assistance in obtaining and coordinating other public benefits: Did you need this service? Transportation

     num
324  NaN
=======
Q3_3_5_A (1 questions):                                                                                                   given_q_text  \
325  Assistance in obtaining and coordinating other public benefits: Did you need this service? Income support

     num
325  NaN
=======
Q3_3_6_A (1 questions):                                                                                          given_q_text  \
326  Assistance in obtaining and coordinating other public benefits: Did you need this service? Legal

     num
326  NaN
=======
Q3_3_7_A (1 questions):                                                                                               given_q_text  \
327  Assistance in obtaining and coordinating other public benefits: Did you need this service? Child care

     num
327  NaN
=======
Q3_3_8_A (1 questions):                                                                                                       given_q_text  \
328  Assistance in obtaining and coordinating other public benefits: Did you need this service? Housing counseling

     num
328  NaN
=======
Q3_3_1_B (1 questions):                                                                                                   given_q_text  \
329  Assistance in obtaining and coordinating other public benefits: Did you receive this service? Health care

     num
329  NaN
=======
Q3_3_2_B (1 questions):                                                                                                    given_q_text  \
330  Assistance in obtaining and coordinating other public benefits: Did you receive this service? Daily living

     num
330  NaN
=======
Q3_3_3_B (1 questions):                                                                                                                   given_q_text  \
331  Assistance in obtaining and coordinating other public benefits: Did you receive this service? Personal financial planning

     num
331  NaN
=======
Q3_3_4_B (1 questions):                                                                                                      given_q_text  \
332  Assistance in obtaining and coordinating other public benefits: Did you receive this service? Transportation

     num
332  NaN
=======
Q3_3_5_B (1 questions):                                                                                                      given_q_text  \
333  Assistance in obtaining and coordinating other public benefits: Did you receive this service? Income support

     num
333  NaN
=======
Q3_3_6_B (1 questions):                                                                                             given_q_text  \
334  Assistance in obtaining and coordinating other public benefits: Did you receive this service? Legal

     num
334  NaN
=======
Q3_3_7_B (1 questions):                                                                                                  given_q_text  \
335  Assistance in obtaining and coordinating other public benefits: Did you receive this service? Child care

     num
335  NaN
=======
Q3_3_8_B (1 questions):                                                                                                          given_q_text  \
336  Assistance in obtaining and coordinating other public benefits: Did you receive this service? Housing counseling

     num
336  NaN
=======
Q3_3_1_C (1 questions):                                                                                                      given_q_text  \
337  Assistance in obtaining and coordinating other public benefits: What was the quality of service? Health care

     num
337  NaN
=======
Q3_3_2_C (1 questions):                                                                                                       given_q_text  \
338  Assistance in obtaining and coordinating other public benefits: What was the quality of service? Daily living

     num
338  NaN
=======
Q3_3_3_C (1 questions):                                                                                                                      given_q_text  \
339  Assistance in obtaining and coordinating other public benefits: What was the quality of service? Personal financial planning

     num
339  NaN
=======
Q3_3_4_C (1 questions):                                                                                                         given_q_text  \
340  Assistance in obtaining and coordinating other public benefits: What was the quality of service? Transportation

     num
340  NaN
=======
Q3_3_5_C (1 questions):                                                                                                         given_q_text  \
341  Assistance in obtaining and coordinating other public benefits: What was the quality of service? Income support

     num
341  NaN
=======
Q3_3_6_C (1 questions):                                                                                                given_q_text  \
342  Assistance in obtaining and coordinating other public benefits: What was the quality of service? Legal

     num
342  NaN
=======
Q3_3_7_C (1 questions):                                                                                                     given_q_text  \
343  Assistance in obtaining and coordinating other public benefits: What was the quality of service? Child care

     num
343  NaN
=======
Q3_3_8_C (1 questions):                                                                                                             given_q_text  \
344  Assistance in obtaining and coordinating other public benefits: What was the quality of service? Housing counseling

     num
344  NaN
=======
Q3_4_1_A (1 questions):                                                                 given_q_text  \
345  Other Supportive Services: Did you need this service? Rental Assistance

     num
345  NaN
=======
Q3_4_2_A (1 questions):                                                                              given_q_text  \
346  Other Supportive Services: Did you need this service? Utility fee payment assistance

     num
346  NaN
=======
Q3_4_3_A (1 questions):                                                                             given_q_text  \
347  Other Supportive Services: Did you need this service? Security and utility deposits

     num
347  NaN
=======
Q3_4_4_A (1 questions):                                                            given_q_text  num
348  Other Supportive Services: Did you need this service? Moving costs  NaN
=======
Q3_4_5_A (1 questions):                                                                              given_q_text  \
349  Other Supportive Services: Did you need this service? Purchase of emergency supplies

     num
349  NaN
=======
Q3_4_1_B (1 questions):                                                                    given_q_text  \
350  Other Supportive Services: Did you receive this service? Rental Assistance

     num
350  NaN
=======
Q3_4_2_B (1 questions):                                                                                 given_q_text  \
351  Other Supportive Services: Did you receive this service? Utility fee payment assistance

     num
351  NaN
=======
Q3_4_3_B (1 questions):                                                                                given_q_text  \
352  Other Supportive Services: Did you receive this service? Security and utility deposits

     num
352  NaN
=======
Q3_4_4_B (1 questions):                                                               given_q_text  \
353  Other Supportive Services: Did you receive this service? Moving costs

     num
353  NaN
=======
Q3_4_5_B (1 questions):                                                                                 given_q_text  \
354  Other Supportive Services: Did you receive this service? Purchase of emergency supplies

     num
354  NaN
=======
Q3_4_1_C (1 questions):                                                                       given_q_text  \
355  Other Supportive Services: What was the quality of service? Rental Assistance

     num
355  NaN
=======
Q3_4_2_C (1 questions):                                                                                    given_q_text  \
356  Other Supportive Services: What was the quality of service? Utility fee payment assistance

     num
356  NaN
=======
Q3_4_3_C (1 questions):                                                                                   given_q_text  \
357  Other Supportive Services: What was the quality of service? Security and utility deposits

     num
357  NaN
=======
Q3_4_4_C (1 questions):                                                                  given_q_text  \
358  Other Supportive Services: What was the quality of service? Moving costs

     num
358  NaN
=======
Q3_4_5_C (1 questions):                                                                                    given_q_text  \
359  Other Supportive Services: What was the quality of service? Purchase of emergency supplies

     num
359  NaN
=======
DATERANGE (1 questions):                            given_q_text  num
368  Month in which survey was reported  NaN
=======
UNIQUEID (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
GRANTEEID (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
MODE (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
LTCALLDT (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
LTCALLST (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
CALLDURS (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
CALLDURM (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
TOTALTIME (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
LTCALLR (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
LTCASER (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
DATE (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
HOUSEHOLD (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
HEALTHCARE (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
HEALTHCARE2 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Q1 NUM (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Q3_3G2 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
INT99 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
Q12 (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======
INT (0 questions): Empty DataFrame
Columns: [given_q_text, num]
Index: []
=======

In [12]:
#OK, I checked manually. The question counts per question are the same. 
#Therefore, normalizing the q labels in that loop didn't make 
#a difference.

In [13]:
#However, let's figure out whether we need to normalize the labels when accounting for *all* of the labels
#  not just the ones we filtered for in the loop:

In [14]:
not_normalized_label_counts = (
    dlp_qs["given_q_label"]
    .value_counts()
    .to_frame()
    .reset_index()
)
not_normalized_label_counts.head()

  given_q_label  count
0            Q1      9
1            Q7      9
2            Q4      7
3            Q8      7
4            Q6      7

In [15]:
normalized_label_counts = (
    dlp_qs["given_q_label"]
    .str.upper()
    .value_counts()
    .to_frame()
    .reset_index()
)
normalized_label_counts.head()

  given_q_label  count
0            Q1      9
1            Q7      9
2            Q4      7
3            Q8      7
4            Q6      7

In [16]:
(
    not_normalized_label_counts
    ["given_q_label"] 
    == 
    normalized_label_counts
    ["given_q_label"]
).value_counts()
#Looks like there are some values that are different when uppercased.
#I'll have to stay wary of that.

given_q_label
True     119
False     91
Name: count, dtype: int64

In [17]:
dlp_qs = (
    dlp_qs
    .merge(not_normalized_label_counts)
    .rename(columns={"count" : "not_normalized_label_counts"})
)
dlp_qs.head()

,given_q_label,given_q_text,source_type,num,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,not_normalized_label_counts
0,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,16,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.,9
1,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,17,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.,9
2,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,18,NaN,NaN,NaN,NaN,NaN,NaN,9
3,Q1,How would you rate the quality of the services you have received from this supportive services provider?,pdf,20,NaN,NaN,NaN,NaN,NaN,NaN,9
4,Q1,HOW WOULD YOU RATE THE QUALITY OF SERVICES YOU HAVE RECEIVED FROM THIS SSVF AGENCY?,pdf,21-22,NaN,NaN,NaN,NaN,NaN,NaN,9

In [18]:
#To add the count to a DataFrame:
counted_dlp_qs = (
    normalized_label_counts
    .assign(normalized_dlp_label = ( #this will be the key column they'll merge on
        lambda df: (
            df["given_q_label"] #defining normalized_dlp label as given_q_label
        ))) #end of assignment
    .drop(columns=["given_q_label"]) #dropping the given_q_label to only keep the count
    .merge #Now, they're merge on normalized_dlp_label
(
    dlp_qs
    .assign(
    normalized_dlp_label = lambda df: (
        df["given_q_label"] #adding the same column to this table to ensure the dfs merge
        .str.upper() 
    ) #end of this column's assignment
    ) #end of assign function
    ,
    on="normalized_dlp_label"
)
    .rename(columns={"count" : "normalized_label_counts"})
    [[ #reorganizing the columns a bit
        "given_q_label",
        "given_q_text",
        "source_type",
        "num",
        "percent_nonnull",
        "consistent/inconsistent",
        "dlp_std_q",
        "dlp_id_for_std_q",
        "dlp_qid_all_qs (index)",
        "notes",
        "given_q_text",
        "normalized_dlp_label",
        "normalized_label_counts",
        "not_normalized_label_counts"
        
    ]]
)

In [19]:
counted_dlp_qs.head()

,given_q_label,given_q_text,source_type,num,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,given_q_text,normalized_dlp_label,normalized_label_counts,not_normalized_label_counts
0,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,16,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.,How would you rate the quality of the services you have\nreceived from this supportive services provider?,Q1,9,9
1,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,17,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.,How would you rate the quality of the services you have\nreceived from this supportive services provider?,Q1,9,9
2,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,18,NaN,NaN,NaN,NaN,NaN,NaN,How would you rate the quality of the services you have\nreceived from this supportive services provider?,Q1,9,9
3,Q1,How would you rate the quality of the services you have received from this supportive services provider?,pdf,20,NaN,NaN,NaN,NaN,NaN,NaN,How would you rate the quality of the services you have received from this supportive services provider?,Q1,9,9
4,Q1,HOW WOULD YOU RATE THE QUALITY OF SERVICES YOU HAVE RECEIVED FROM THIS SSVF AGENCY?,pdf,21-22,NaN,NaN,NaN,NaN,NaN,NaN,HOW WOULD YOU RATE THE QUALITY OF SERVICES YOU HAVE RECEIVED FROM THIS SSVF AGENCY?,Q1,9,9

In [20]:
#I want to know which Q labels with a source_type of "table" don't have a Q label with a source type of "pdf" or
#a source type of "data dictionary". I especially want to know this for observations where percent_nonnull is
#not na and is > 0.

#For this, I'll check if every given_q_label value with a source type of "pdf" or a source
#type of "data dictionary" appears in any given_q_label with a source type of "table."

(
    counted_dlp_qs
    [counted_dlp_qs["source_type"] == "table"]
    ["given_q_label"] #for labels with the source type of table ...
    .isin( 
        counted_dlp_qs
        [(counted_dlp_qs["source_type"] == "pdf")
        |
        (counted_dlp_qs["source_type"] == "data dictionary")]
        ["given_q_label"]) #see if any value from a pdf or the data dictionary appears within them.
).value_counts()

#The false values are how many "pdf" and "data dictionary" values
#don't exist in the "table" column

given_q_label
True     120
False    108
Name: count, dtype: int64

In [21]:
#Let's identify those false values:

filter_for_table_labels_defined_by_pdf_or_dict = (
    counted_dlp_qs
    [counted_dlp_qs["source_type"] == "table"]
    ["given_q_label"]
    .isin(
        counted_dlp_qs
        [(counted_dlp_qs["source_type"] == "pdf")
        |
        (counted_dlp_qs["source_type"] == "data dictionary")]
        ["given_q_label"])
)
filter_for_table_labels_defined_by_pdf_or_dict

5       True
6       True
7       True
14      True
15      True
16      True
21      True
22      True
23      True
29      True
30      True
35      True
36      True
37      True
42      True
43      True
44      True
49      True
50      True
55      True
56      True
61      True
62      True
65      True
66      True
67      True
70      True
71      True
74      True
75      True
76      True
77      True
80      True
83      True
86      True
90      True
92      True
93      True
94      True
96      True
98      True
100     True
102     True
104     True
106     True
108     True
110     True
112     True
114     True
116     True
118     True
120     True
122     True
124     True
126     True
128     True
130     True
132     True
134     True
136     True
138     True
140     True
142     True
144     True
146     True
148     True
150     True
152     True
154     True
156     True
158     True
160     True
162     True
164     True
166     True
168     True
170     True
172     True
174     True
176     True
178     True
180     True
182     True
185     True
187     True
189     True
191     True
193     True
195     True
197     True
199     True
201     True
203     True
205     True
207     True
209     True
211     True
213     True
215     True
217     True
219     True
221     True
223     True
225     True
227     True
230     True
232     True
234     True
237     True
239     True
240     True
243     True
245     True
247     True
249     True
251     True
253     True
255     True
257     True
259     True
260    False
261    False
262    False
263    False
264    False
265    False
266    False
267    False
268    False
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
278    False
279    False
280    False
281    False
282    False
283    False
284    False
285    False
286    False
287    False
288    False
289    False
290    False
291    False
292    False
293    False
294    False
295    False
296    False
297    False
298    False
299    False
300    False
301    False
302    False
303    False
304    False
305    False
306    False
307    False
308    False
309    False
310    False
311    False
313    False
314    False
315    False
316    False
317    False
318    False
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326    False
327    False
328    False
329    False
330    False
331    False
332    False
333    False
334    False
335    False
336    False
337    False
338    False
339    False
340    False
341    False
342    False
343    False
344    False
345    False
346    False
347    False
348    False
349    False
350    False
351    False
352    False
353    False
354    False
355    False
356    False
357    False
358    False
359    False
360    False
361    False
362    False
363    False
364    False
365    False
366    False
367    False
368    False
Name: given_q_label, dtype: bool

In [22]:
table_labels_defined_by_pdf_or_dict = (
    counted_dlp_qs[filter_for_table_labels_defined_by_pdf_or_dict]
)

/var/folders/cl/myc9mwnx15nbmsd02f_ct27h0000gn/T/ipykernel_14702/1604140302.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  counted_dlp_qs[filter_for_table_labels_defined_by_pdf_or_dict]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [23]:
#Let's try to fix this ... Looks like the indexes don't match.

In [24]:
index_of_filter_for_table_labels_defined_by_pdf_or_dict = (
    filter_for_table_labels_defined_by_pdf_or_dict
    .index) #create an index for the filter

(
    counted_dlp_qs.loc[ #Within the main table,
        index_of_filter_for_table_labels_defined_by_pdf_or_dict, :] #locate rows with the index of the filter.
    [filter_for_table_labels_defined_by_pdf_or_dict] #Use that filter, as well.
)

,given_q_label,given_q_text,source_type,num,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,given_q_text,normalized_dlp_label,normalized_label_counts,not_normalized_label_counts
5,Q1,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q1,9,9
6,Q1,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q1,9,9
7,Q1,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q1,9,9
14,Q7,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,Q7,9,9
15,Q7,NaN,table,18-20,84.39,NaN,NaN,NaN,NaN,NaN,NaN,Q7,9,9
16,Q7,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q7,9,9
21,Q4,NaN,table,16-17,97.99,NaN,NaN,NaN,NaN,NaN,NaN,Q4,7,7
22,Q4,NaN,table,18-20,86.04,NaN,NaN,NaN,NaN,NaN,NaN,Q4,7,7
23,Q4,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4,7,7
29,Q8,NaN,table,18-20,84.88,NaN,NaN,NaN,NaN,NaN,NaN,Q8,7,7
30,Q8,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q8,7,7
35,Q6,NaN,table,16-17,76.86,NaN,NaN,NaN,NaN,NaN,NaN,Q6,7,7
36,Q6,NaN,table,18-20,85.82,NaN,NaN,NaN,NaN,NaN,NaN,Q6,7,7
37,Q6,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q6,7,7
42,Q2,NaN,table,16-17,98.96,NaN,NaN,NaN,NaN,NaN,NaN,Q2,7,7
43,Q2,NaN,table,18-20,97.45,NaN,NaN,NaN,NaN,NaN,NaN,Q2,7,7
44,Q2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q2,7,7
49,Q9,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,Q9,6,6
50,Q9,NaN,table,21-22,0.00,NaN,NaN,NaN,NaN,NaN,NaN,Q9,6,6
55,Q10,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,Q10,6,6
56,Q10,NaN,table,21-22,0.00,NaN,NaN,NaN,NaN,NaN,NaN,Q10,6,6
61,Q11,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,Q11,6,6
62,Q11,NaN,table,21-22,0.00,NaN,NaN,NaN,NaN,NaN,NaN,Q11,6,6
65,Q5,NaN,table,16-17,97.39,NaN,NaN,NaN,NaN,NaN,NaN,Q5,5,5
66,Q5,NaN,table,18-20,85.24,NaN,NaN,NaN,NaN,NaN,NaN,Q5,5,5
67,Q5,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q5,5,5
70,Q2A,NaN,table,18-20,72.16,NaN,NaN,NaN,NaN,NaN,NaN,Q2A,4,4
71,Q2A,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q2A,4,4
74,Q16,NaN,table,16-17,86.64,NaN,NaN,NaN,NaN,NaN,NaN,Q16,3,3
75,Q16,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q16,3,3
76,ResponseID,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,Bolded means likely a relevant question,NaN,RESPONSEID,3,3
77,ResponseID,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONSEID,3,3
80,QC,NaN,table,18-20,98.94,NaN,NaN,NaN,NaN,NaN,NaN,QC,3,3
83,QB,NaN,table,18-20,99.42,NaN,NaN,NaN,NaN,NaN,NaN,QB,3,3
86,QA,NaN,table,18-20,98.19,NaN,NaN,NaN,NaN,NaN,NaN,QA,3,3
90,Q3,NaN,table,16-17,98.59,NaN,NaN,NaN,NaN,NaN,NaN,Q3,3,3
92,Q15,NaN,table,16-17,87.63,NaN,NaN,NaN,NaN,NaN,NaN,Q15,3,3
93,Q15,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q15,3,3
94,Q3_4_1_C,NaN,table,18-20,60.99,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_1_C,2,2
96,Q3_4_5_A,NaN,table,18-20,84.62,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_5_A,2,2
98,Q3_4_1_B,NaN,table,18-20,85.75,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_1_B,2,2
100,Q3_4_2_B,NaN,table,18-20,83.94,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_2_B,2,2
102,Q3_4_3_B,NaN,table,18-20,84.07,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_3_B,2,2
104,Q3_4_4_B,NaN,table,18-20,83.52,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_4_B,2,2
106,Q3_4_5_B,NaN,table,18-20,83.48,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_5_B,2,2
108,Q3_4_4_A,NaN,table,18-20,84.53,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_4_A,2,2
110,Q3_2_C,NaN,table,18-20,42.66,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2_C,2,2
112,Q3_4_2_C,NaN,table,18-20,31.34,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_2_C,2,2
114,Q3_4_3_C,NaN,table,18-20,43.97,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_3_C,2,2
116,Q3_4_4_C,NaN,table,18-20,14.54,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_4_C,2,2
118,Q3_4_5_C,NaN,table,18-20,21.90,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_5_C,2,2
120,DateRange,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,DATERANGE,2,2
122,Q3_4_2_A,NaN,table,18-20,84.97,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_2_A,2,2
124,Q3_2_B,NaN,table,18-20,92.33,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2_B,2,2
126,Q3_2_A,NaN,table,18-20,93.65,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2_A,2,2
128,Q3_1_C,NaN,table,18-20,75.81,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1_C,2,2
130,Q3_4_3_A,NaN,table,18-20,85.08,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_3_A,2,2
132,Q3_3_3_C,NaN,table,18-20,30.37,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_3_C,2,2
134,Q3_4_1_A,NaN,table,18-20,86.86,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_1_A,2,2
136,Q3_3_8_C,NaN,table,18-20,43.15,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_8_C,2,2
138,Q3_3_3_A,NaN,table,18-20,86.47,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_3_A,2,2
140,Q3_3_4_A,NaN,table,18-20,86.56,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_4_A,2,2
142,Q3_3_5_A,NaN,table,18-20,86.96,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_5_A,2,2
144,Q3_3_6_A,NaN,table,18-20,85.83,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_6_A,2,2
146,Q3_3_7_A,NaN,table,18-20,85.05,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_7_A,2,2
148,Q3_3_8_A,NaN,table,18-20,87.40,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_8_A,2,2
150,Q3_3_1_B,NaN,table,18-20,87.29,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_1_B,2,2
152,Q3_3_2_B,NaN,table,18-20,84.89,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_2_B,2,2
154,Q3_3_3_B,NaN,table,18-20,84.80,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_3_B,2,2
156,Q3_3_4_B,NaN,table,18-20,84.68,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_4_B,2,2
158,Q3_3_5_B,NaN,table,18-20,84.70,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_5_B,2,2
160,Q3_3_6_B,NaN,table,18-20,84.06,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_6_B,2,2
162,Q3_3_7_B,NaN,table,18-20,83.49,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_7_B,2,2
164,Q3_3_8_B,NaN,table,18-20,84.92,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_8_B,2,2
166,Q3_3_1_C,NaN,table,18-20,31.71,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_1_C,2,2
168,Q3_3_2_C,NaN,table,18-20,30.11,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_2_C,2,2
170,Q3_1_A,NaN,table,18-20,95.16,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1_A,2,2
172,Q3_3_4_C,NaN,table,18-20,24.85,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_4_C,2,2
174,Q3_3_5_C,NaN,table,18-20,34.06,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_5_C,2,2
176,Q3_3_6_C,NaN,table,18-20,12.37,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_6_C,2,2
178,Q3_3_7_C,NaN,table,18-20,2.91,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_7_C,2,2
180,Q3_1_B,NaN,table,18-20,93.34,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1_B,2,2
182,Q3_3_2_A,NaN,table,18-20,86.49,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_2_A,2,2
185,Q4_A2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4_A2,2,2
187,Q3_3G,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3G,2,2
189,Q4_B2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4_B2,2,2
191,Q4_B,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4_B,2,2
193,Q3_3A,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3A,2,2
195,Q4_A,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4_A,2,2
197,Q3_3H2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3H2,2,2
199,Q3_3H,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3H,2,2
201,Q3_3A2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3A2,2,2
203,Q3_3F2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3F2,2,2
205,Q3_3B,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3B,2,2
207,Q3_3F,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3F,2,2
209,Q3_3E2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3E2,2,2
211,Q3_3E,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3E,2,2
213,Q3_3D2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3D2,2,2
215,Q3_3D,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3D,2,2
217,Q3_3C2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3C2,2,2
219,Q3_3C,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3C,2,2
221,Q4_C,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4_C,2,2
223,Q4_C2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4_C2,2,2
225,Q4_D,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4_D,2,2
227,Q4_D2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4_D2,2,2
230,LEGAL_NAME,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,LEGAL_NAME,2,2
232,GRANT_ID,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,GRANT_ID,2,2
234,Timestamp,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,TIMESTAMP,2,2
237,Q3_1,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1,2,2
239,Q3_1B,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1B,2,2
240,Q3_3_1_A,NaN,table,18-20,89.83,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_1_A,2,2
243,Q3_2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2,2,2
245,Q3_2B,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2B,2,2
247,Q14,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q14,2,2
249,Q13,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q13,2,2
251,Q11A,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q11A,2,2
253,EXPERIENCE,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,EXPERIENCE,2,2
255,Q4_E2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4_E2,2,2
257,Q4_E,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q4_E,2,2
259,Q3_3B2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3B2,2,2

In [ ]:
#I actually need the reverse because I need the True values
#to be the ones that don't include a source_type of "pdf"
#or "data dictionary." 

#Let's recreate the index with a ~ and use a ~
#in the final filter to get the reverse:

In [36]:
reversed_filter_for_table_labels_defined_by_pdf_or_dict = ~filter_for_table_labels_defined_by_pdf_or_dict

In [39]:
reversed_index_of_filter_for_table_labels_defined_by_pdf_or_dict = (
    reversed_filter_for_table_labels_defined_by_pdf_or_dict
    .index
) #create an index for the filter

cols_without_definitions_not_normalized = (
    counted_dlp_qs.loc[ #Again, within the main table,
        reversed_index_of_filter_for_table_labels_defined_by_pdf_or_dict, :] #locate rows with the index of the filter.
    [reversed_filter_for_table_labels_defined_by_pdf_or_dict] #Reverse the main filter, as well.
)

In [42]:
(
    cols_without_definitions_not_normalized
    [cols_without_definitions_not_normalized
    ["given_q_label"]
    .str.contains("Q")]
)

,given_q_label,given_q_text,source_type,num,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,given_q_text,normalized_dlp_label,normalized_label_counts,not_normalized_label_counts
261,Q8.4-c_6_TEXT,NaN,table,16-17,8.17,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_6_TEXT,1,1
263,Q17,NaN,table,16-17,86.36,NaN,NaN,NaN,NaN,NaN,NaN,Q17,1,1
264,Q18,NaN,table,16-17,37.43,NaN,NaN,NaN,NaN,NaN,NaN,Q18,1,1
270,UNIQUEID,NaN,table,21-22,0.00,NaN,NaN,NaN,NaN,NaN,NaN,UNIQUEID,1,1
272,Q12,NaN,table,21-22,4.78,NaN,NaN,NaN,NaN,NaN,NaN,Q12,1,1
274,Q3_3G2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3G2,1,1
275,Q1 Num,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q1 NUM,1,1
285,Q8.4-c_5,NaN,table,16-17,27.45,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_5,1,1
288,Q8.4-c_6,NaN,table,16-17,16.52,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_6,1,1
289,Q8.3-c_1,NaN,table,16-17,38.95,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_1,1,1
290,Q8.4-c_4,NaN,table,16-17,22.24,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_4,1,1
291,QIS,NaN,table,16-17,98.29,NaN,NaN,NaN,NaN,NaN,NaN,QIS,1,1
297,Q_URL,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,Q_URL,1,1
298,Q35,NaN,table,16-17,95.95,NaN,NaN,NaN,NaN,NaN,NaN,Q35,1,1
299,QIVA,NaN,table,16-17,99.62,NaN,NaN,NaN,NaN,NaN,NaN,QIVA,1,1
302,Q8 into,NaN,table,16-17,40.80,NaN,NaN,NaN,NaN,NaN,NaN,Q8 INTO,1,1
303,Q8.1-1a,NaN,table,16-17,94.02,NaN,NaN,NaN,NaN,NaN,NaN,Q8.1-1A,1,1
304,Q8.1-1b,NaN,table,16-17,93.06,NaN,NaN,NaN,NaN,NaN,NaN,Q8.1-1B,1,1
305,Q8.1-1c_1,NaN,table,16-17,80.49,NaN,NaN,NaN,NaN,NaN,NaN,Q8.1-1C_1,1,1
306,Q8.2-2a,NaN,table,16-17,92.98,NaN,NaN,NaN,NaN,NaN,NaN,Q8.2-2A,1,1
307,Q8.2-2b,NaN,table,16-17,92.17,NaN,NaN,NaN,NaN,NaN,NaN,Q8.2-2B,1,1
310,Q8.3-a_1,NaN,table,16-17,85.29,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_1,1,1
328,Q8.2-2c_1,NaN,table,16-17,51.08,NaN,NaN,NaN,NaN,NaN,NaN,Q8.2-2C_1,1,1
329,Q8.3-a_2,NaN,table,16-17,83.71,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_2,1,1
330,Q8.4-c_3,NaN,table,16-17,52.31,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_3,1,1
331,Q8.4-b_1,NaN,table,16-17,84.47,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_1,1,1
332,Q8.4-a_1,NaN,table,16-17,87.17,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_1,1,1
333,Q8.4-a_2,NaN,table,16-17,83.85,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_2,1,1
334,Q8.4-a_3,NaN,table,16-17,84.71,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_3,1,1
335,Q8.4-a_4,NaN,table,16-17,81.48,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_4,1,1
336,Q8.4-a_5,NaN,table,16-17,81.56,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_5,1,1
337,Q8.4-a_6,NaN,table,16-17,58.94,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_6,1,1
338,Q8.4-a_6_TEXT,NaN,table,16-17,14.27,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_6_TEXT,1,1
339,Q8.4-b_2,NaN,table,16-17,79.39,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_2,1,1
340,Q8.3-c_7,NaN,table,16-17,12.51,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_7,1,1
341,Q8.4-b_3,NaN,table,16-17,81.36,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_3,1,1
342,Q8.4-b_4,NaN,table,16-17,75.94,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_4,1,1
343,Q8.4-b_5,NaN,table,16-17,76.84,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_5,1,1
344,Q8.4-b_6,NaN,table,16-17,58.26,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_6,1,1
345,Q8.4-b_6_TEXT,NaN,table,16-17,10.26,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_6_TEXT,1,1
346,Q8.4-c_1,NaN,table,16-17,66.23,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_1,1,1
347,Q8.4-c_2,NaN,table,16-17,39.66,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_2,1,1
348,Q8.3-c_8,NaN,table,16-17,52.23,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_8,1,1
349,Q8.3-c_6,NaN,table,16-17,20.73,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_6,1,1
350,Q8.3-a_3,NaN,table,16-17,83.18,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_3,1,1
351,Q8.3-b_3,NaN,table,16-17,77.80,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_3,1,1
352,Q8.3-a_4,NaN,table,16-17,83.10,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_4,1,1
353,Q8.3-a_5,NaN,table,16-17,84.68,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_5,1,1
354,Q8.3-a_6,NaN,table,16-17,80.82,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_6,1,1
355,Q8.3-a_7,NaN,table,16-17,78.45,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_7,1,1
356,Q8.3-a_8,NaN,table,16-17,83.32,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_8,1,1
357,Q8.3-b_1,NaN,table,16-17,77.96,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_1,1,1
358,Q8.3-b_2,NaN,table,16-17,77.68,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_2,1,1
359,Q8.3-b_4,NaN,table,16-17,77.43,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_4,1,1
360,Q8.3-c_5,NaN,table,16-17,43.10,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_5,1,1
361,Q8.3-b_5,NaN,table,16-17,78.73,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_5,1,1
362,Q8.3-b_6,NaN,table,16-17,74.27,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_6,1,1
363,Q8.3-b_7,NaN,table,16-17,71.62,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_7,1,1
364,Q8.3-b_8,NaN,table,16-17,79.56,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_8,1,1
365,Q8.3-c_2,NaN,table,16-17,38.39,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_2,1,1
366,Q8.3-c_3,NaN,table,16-17,38.36,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_3,1,1
367,Q8.3-c_4,NaN,table,16-17,33.68,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_4,1,1

In [58]:
(
    cols_without_definitions_not_normalized
    [cols_without_definitions_not_normalized
    ["given_q_label"]
    .str.contains("Q")]
    [["given_q_label", "source_type", "num"]]
    .drop([270])
    .to_csv("ssvf_question-labels-without-definitions.csv")
)

In [48]:
(
    cols_without_definitions_not_normalized
    .loc[lambda df: (
        ~df["given_q_label"]
        .str.contains("Q"))]
)

,given_q_label,given_q_text,source_type,num,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,given_q_text,normalized_dlp_label,normalized_label_counts,not_normalized_label_counts
260,REMAIL,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,REMAIL,1,1
262,PHONE,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,PHONE,1,1
265,date range,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,DATE RANGE,1,1
266,PIN,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,PIN,1,1
267,FNAME,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,FNAME,1,1
268,Negative,NaN,table,16-17,13.69,NaN,NaN,NaN,NaN,NaN,NaN,NEGATIVE,1,1
269,LtCallST,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,LTCALLST,1,1
271,Date,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,DATE,1,1
273,INT99,NaN,table,21-22,5.56,NaN,NaN,NaN,NaN,NaN,NaN,INT99,1,1
276,HEALTHCARE2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,HEALTHCARE2,1,1
277,HEALTHCARE,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,HEALTHCARE,1,1
278,HOUSEHOLD,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,HOUSEHOLD,1,1
279,LtCaseR,NaN,table,21-22,5.91,NaN,NaN,NaN,NaN,NaN,NaN,LTCASER,1,1
280,GRANTEEID,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,GRANTEEID,1,1
281,LtCallR,NaN,table,21-22,5.93,NaN,NaN,NaN,NaN,NaN,NaN,LTCALLR,1,1
282,TotalTime,NaN,table,21-22,93.73,NaN,NaN,NaN,NaN,NaN,NaN,TOTALTIME,1,1
283,CallDurM,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CALLDURM,1,1
284,CallDurS,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CALLDURS,1,1
286,LtCallDt,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,LTCALLDT,1,1
287,MODE,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,MODE,1,1
292,How many people are in the veterans household including the veteran,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,HOW MANY PEOPLE ARE IN THE VETERANS HOUSEHOLD INCLUDING THE VETERAN,1,1
293,Veterans First Name if first name is not provided please type,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,VETERANS FIRST NAME IF FIRST NAME IS NOT PROVIDED PLEASE TYPE,1,1
294,Veterans Email Address yourname.com,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,VETERANS EMAIL ADDRESS YOURNAME.COM,1,1
295,Cell Phone XXX-XXX-XXXX 1-999-999-9999,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,CELL PHONE XXX-XXX-XXXX 1-999-999-9999,1,1
296,UserAgent,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,USERAGENT,1,1
300,Respondent Email,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONDENT EMAIL,1,1
301,F37,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,F37,1,1
308,Region,NaN,table,16-17,81.60,NaN,NaN,NaN,NaN,NaN,NaN,REGION,1,1
309,Custom Variable 4,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 4,1,1
311,RecipientEmail,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RECIPIENTEMAIL,1,1
313,ResponseSet,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONSESET,1,1
314,IPAddress,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,IPADDRESS,1,1
315,StartDate,NaN,table,16-17,45.84,NaN,NaN,NaN,NaN,NaN,NaN,STARTDATE,1,1
316,EndDate,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,ENDDATE,1,1
317,RecipientLastName,NaN,table,16-17,7.14,NaN,NaN,NaN,NaN,NaN,NaN,RECIPIENTLASTNAME,1,1
318,RecipientFirstName,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RECIPIENTFIRSTNAME,1,1
319,ExternalDataReference,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,EXTERNALDATAREFERENCE,1,1
320,Custom Variable 3,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 3,1,1
321,Finished,NaN,table,16-17,44.52,NaN,NaN,NaN,NaN,NaN,NaN,FINISHED,1,1
322,Status,NaN,table,16-17,44.52,NaN,NaN,NaN,NaN,NaN,NaN,STATUS,1,1
323,va Cell Phone,NaN,table,16-17,7.14,NaN,NaN,NaN,NaN,NaN,NaN,VA CELL PHONE,1,1
324,Response ID,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONSE ID,1,1
325,Timestamp MM/dd/yyyy,NaN,table,16-17,53.46,NaN,NaN,NaN,NaN,NaN,NaN,TIMESTAMP MM/DD/YYYY,1,1
326,Custom Variable 1,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 1,1,1
327,Custom Variable 2,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 2,1,1
368,INT,NaN,table,21-22,94.01,NaN,NaN,NaN,NaN,NaN,NaN,INT,1,1

In [44]:
#I should probably check what happens if I normalize the above steps ...

In [46]:
(
    counted_dlp_qs
    [counted_dlp_qs["source_type"] == "table"]
    ["given_q_label"] #for labels with the source type of table ...
    .str.upper()
    .isin( 
        counted_dlp_qs
        [(counted_dlp_qs["source_type"] == "pdf")
        |
        (counted_dlp_qs["source_type"] == "data dictionary")]
        ["given_q_label"] #see if any value from a pdf or the data dictionary appears within them.
        .str.upper())
).value_counts()

given_q_label
True     120
False    108
Name: count, dtype: int64

In [47]:
#Whew ... True 120, False 108  the same as before. No need to go through all of the same steps with uppercasing.

In [ ]:
#Now, I should try the reverse: Check the PDFs and 
#data dictionary for values that aren't included in the observational tables.
#But, you know what  I can do it later. I should report to Jeremy.

In [61]:
len(df_16_17.melt())

814625

In [62]:
len(df_16_17)

8575

In [63]:
df_16_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8575 entries, 0 to 8574
Data columns (total 95 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   ResponseID                                                           8575 non-null   int64
 1   ResponseSet                                                          8575 non-null   object
 2   IPAddress                                                            0 non-null      float64
 3   StartDate                                                            3931 non-null   datetime64[ns]
 4   EndDate                                                              8575 non-null   object
 5   RecipientLastName                                                    612 non-null    object
 6   RecipientFirstName                                                   0 non-null      float64
 7   RecipientEmail                                                       0 non-null      float64
 8   ExternalDataReference                                                0 non-null      float64
 9   Finished                                                             3818 non-null   float64
 10  Status                                                               3818 non-null   object
 11  va Cell Phone                                                        612 non-null    object
 12  Response ID                                                          0 non-null      float64
 13  Timestamp MM/dd/yyyy                                                 4584 non-null   object
 14  Custom Variable 1                                                    8575 non-null   object
 15  Custom Variable 2                                                    8575 non-null   object
 16  Custom Variable 3                                                    0 non-null      float64
 17  Custom Variable 4                                                    0 non-null      float64
 18  Respondent Email                                                     0 non-null      float64
 19  Region                                                               6997 non-null   object
 20  How many people are in the veterans household including the veteran  0 non-null      float64
 21  Veterans First Name if first name is not provided  please type       0 non-null      float64
 22  Veterans Email Address yourname.com                                  0 non-null      float64
 23  Cell Phone XXX-XXX-XXXX 1-999-999-9999                               0 non-null      float64
 24  UserAgent                                                            0 non-null      float64
 25  Q_URL                                                                0 non-null      float64
 26  Q35                                                                  8228 non-null   float64
 27  QIS                                                                  8428 non-null   object
 28  QIVA                                                                 8542 non-null   object
 29  Q1                                                                   8575 non-null   int64
 30  Q2                                                                   8486 non-null   object
 31  Q3                                                                   8454 non-null   object
 32  Q4                                                                   8403 non-null   object
 33  Q5                                                                   8351 non-null   object
 34  Q6                                                                   6591 non-null   object
 35  Q7                                                                   0 non-null      float64
 36  F37                                                                  0 non-null      float64
 37  Q8 into                                                              3499 non-null   object
 38  Q8.1-1a                                                              8062 non-null   object
 39  Q8.1-1b                                                              7980 non-null   object
 40  Q8.1-1c_1                                                            6902 non-null   object
 41  Q8.2-2a                                                              7973 non-null   object
 42  Q8.2-2b                                                              7904 non-null   object
 43  Q8.2-2c_1                                                            4380 non-null   object
 44  Q8.3-a_1                                                             7314 non-null   object
 45  Q8.3-a_2                                                             7178 non-null   object
 46  Q8.3-a_3                                                             7133 non-null   object
 47  Q8.3-a_4                                                             7126 non-null   object
 48  Q8.3-a_5                                                             7261 non-null   object
 49  Q8.3-a_6                                                             6930 non-null   object
 50  Q8.3-a_7                                                             6727 non-null   object
 51  Q8.3-a_8                                                             7145 non-null   object
 52  Q8.3-b_1                                                             6685 non-null   object
 53  Q8.3-b_2                                                             6661 non-null   object
 54  Q8.3-b_3                                                             6671 non-null   object
 55  Q8.3-b_4                                                             6640 non-null   object
 56  Q8.3-b_5                                                             6751 non-null   object
 57  Q8.3-b_6                                                             6369 non-null   object
 58  Q8.3-b_7                                                             6141 non-null   object
 59  Q8.3-b_8                                                             6822 non-null   object
 60  Q8.3-c_1                                                             3340 non-null   object
 61  Q8.3-c_2                                                             3292 non-null   object
 62  Q8.3-c_3                                                             3289 non-null   object
 63  Q8.3-c_4                                                             2888 non-null   object
 64  Q8.3-c_5                                                             3696 non-null   object
 65  Q8.3-c_6                                                             1778 non-null   object
 66  Q8.3-c_7                                                             1073 non-null   object
 67  Q8.3-c_8                                                             4479 non-null   object
 68  Q8.4-a_1                                                             7475 non-null   object
 69  Q8.4-a_2                                                             7190 non-null   object
 70  Q8.4-a_3                                                             7264 non-null   object
 71  Q8.4-a_4                                                             6987 non-null   object
 72  Q8.4-a_5                                                             6994 non-null   object
 73  Q8.4-a_6                                                             5054 non-null   object
 74  Q8.4-a_6_TEXT                                                        1224 non-null   object
 75  Q8.4-b_1                                                             7243 non-null   object
 76  Q8.4-b_2                                                             6808 non-null   object
 77  Q8.4-b_3                                                             6977 non-null   object
 78  Q8.4-b_4                                                             6512 non-null   object
 79  Q8.4-b_5                                                             6589 non-null   object
 80  Q8.4-b_6                                                             4996 non-null   object
 81  Q8.4-b_6_TEXT                                                        880 non-null    object
 82  Q8.4-c_1                                                             5679 non-null   object
 83  Q8.4-c_2                                                             3401 non-null   object
 84  Q8.4-c_3                                                             4486 non-null   object
 85  Q8.4-c_4                                                             1907 non-null   object
 86  Q8.4-c_5                                                             2354 non-null   object
 87  Q8.4-c_6                                                             1417 non-null   object
 88  Q8.4-c_6_TEXT                                                        701 non-null    object
 89  Q15                                                                  7514 non-null   object
 90  Q16                                                                  7429 non-null   object
 91  Q17                                                                  7405 non-null   object
 92  Q18                                                                  3210 non-null   object
 93  Negative                                                             1174 non-null   object
 94  date range                                                           8575 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(18), int64(2), object(73)
memory usage: 6.2+ MB

In [64]:
95 * 8575

814625