In [ ]:
#NOTE: THIS FILE HAS TWO BIG MISTAKES THAT I FIX IN THE NEXT FILE.
#1. I forgot to include the data dictionary data
#2. I eventually forget to reverse the index when using .loc to filter

In [3]:
import pandas as pd

In [4]:
df_16_17 = pd.read_excel("FINAL Data - FY 2016-2017_Excluding PII.xlsx")
df_18_20 = pd.read_excel("FINAL Data - FY 2018-2020_Excluding PII.xlsx")
df_21_22 = pd.read_excel("SSVF Annual National Report Data Oct 21 - Sep 22_Excluding PII.xlsx")
pd.set_option('display.max_columns', None)

In [5]:
list_of_tables = [df_16_17, df_18_20, df_21_22]

In [6]:
#printing all columns
for table in list_of_tables:
    print(table.columns)
    print(len(table.columns))
    print("========")

Index(['ResponseID', 'ResponseSet', 'IPAddress', 'StartDate', 'EndDate',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalDataReference', 'Finished', 'Status', 'va Cell Phone',
       'Response ID', 'Timestamp MM/dd/yyyy', 'Custom Variable 1',
       'Custom Variable 2', 'Custom Variable 3', 'Custom Variable 4',
       'Respondent Email', 'Region',
       'How many people are in the veterans household including the veteran',
       'Veterans First Name if first name is not provided  please type',
       'Veterans Email Address yourname.com',
       'Cell Phone XXX-XXX-XXXX 1-999-999-9999', 'UserAgent', 'Q_URL', 'Q35',
       'QIS', 'QIVA', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'F37',
       'Q8 into', 'Q8.1-1a', 'Q8.1-1b', 'Q8.1-1c_1', 'Q8.2-2a', 'Q8.2-2b',
       'Q8.2-2c_1', 'Q8.3-a_1', 'Q8.3-a_2', 'Q8.3-a_3', 'Q8.3-a_4', 'Q8.3-a_5',
       'Q8.3-a_6', 'Q8.3-a_7', 'Q8.3-a_8', 'Q8.3-b_1', 'Q8.3-b_2', 'Q8.3-b_3',
       'Q8.3-b_4', 'Q8.3-b_5', 'Q8.3-b_6', 'Q8.3-b_7', 'Q8.3-b_8', 'Q8.3-c_1',
       'Q8.3-c_2', 'Q8.3-c_3', 'Q8.3-c_4', 'Q8.3-c_5', 'Q8.3-c_6', 'Q8.3-c_7',
       'Q8.3-c_8', 'Q8.4-a_1', 'Q8.4-a_2', 'Q8.4-a_3', 'Q8.4-a_4', 'Q8.4-a_5',
       'Q8.4-a_6', 'Q8.4-a_6_TEXT', 'Q8.4-b_1', 'Q8.4-b_2', 'Q8.4-b_3',
       'Q8.4-b_4', 'Q8.4-b_5', 'Q8.4-b_6', 'Q8.4-b_6_TEXT', 'Q8.4-c_1',
       'Q8.4-c_2', 'Q8.4-c_3', 'Q8.4-c_4', 'Q8.4-c_5', 'Q8.4-c_6',
       'Q8.4-c_6_TEXT', 'Q15', 'Q16', 'Q17', 'Q18', 'Negative', 'date range'],
      dtype='object')
95
========
Index(['ResponseID', 'PIN', 'Timestamp', 'GRANT_ID', 'LEGAL_NAME', 'FNAME',
       'PHONE', 'REMAIL', 'QA', 'QB', 'QC', 'Q1', 'Q2', 'Q2A', 'Q3_1_A',
       'Q3_1_B', 'Q3_1_C', 'Q3_2_A', 'Q3_2_B', 'Q3_2_C', 'Q3_3_1_A',
       'Q3_3_2_A', 'Q3_3_3_A', 'Q3_3_4_A', 'Q3_3_5_A', 'Q3_3_6_A', 'Q3_3_7_A',
       'Q3_3_8_A', 'Q3_3_1_B', 'Q3_3_2_B', 'Q3_3_3_B', 'Q3_3_4_B', 'Q3_3_5_B',
       'Q3_3_6_B', 'Q3_3_7_B', 'Q3_3_8_B', 'Q3_3_1_C', 'Q3_3_2_C', 'Q3_3_3_C',
       'Q3_3_4_C', 'Q3_3_5_C', 'Q3_3_6_C', 'Q3_3_7_C', 'Q3_3_8_C', 'Q3_4_1_A',
       'Q3_4_2_A', 'Q3_4_3_A', 'Q3_4_4_A', 'Q3_4_5_A', 'Q3_4_1_B', 'Q3_4_2_B',
       'Q3_4_3_B', 'Q3_4_4_B', 'Q3_4_5_B', 'Q3_4_1_C', 'Q3_4_2_C', 'Q3_4_3_C',
       'Q3_4_4_C', 'Q3_4_5_C', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10',
       'Q11', 'DateRange'],
      dtype='object')
68
========
Index(['UNIQUEID', 'GRANTEEID', 'MODE', 'LtCallDt', 'LtCallST', 'CallDurS',
       'CallDurM', 'TotalTime', 'LtCallR', 'LtCaseR', 'Date', 'HOUSEHOLD',
       'HEALTHCARE', 'HEALTHCARE2', 'Q1', 'Q1 Num', 'Q2', 'Q2A', 'Q3_1',
       'Q3_1B', 'Q3_2', 'Q3_2B', 'Q3_3A', 'Q3_3A2', 'Q3_3B', 'Q3_3B2', 'Q3_3C',
       'Q3_3C2', 'Q3_3D', 'Q3_3D2', 'Q3_3E', 'Q3_3E2', 'Q3_3F', 'Q3_3F2',
       'Q3_3G', 'Q3_3G2', 'Q3_3H', 'Q3_3H2', 'Q4_A', 'Q4_A2', 'Q4_B', 'Q4_B2',
       'Q4_C', 'Q4_C2', 'Q4_D', 'Q4_D2', 'Q4_E', 'Q4_E2', 'Q4', 'Q5', 'Q6',
       'Q7', 'Q8', 'EXPERIENCE', 'Q9', 'Q10', 'Q11A', 'Q11', 'Q13', 'Q14',
       'Q15', 'Q16', 'INT99', 'Q12', 'INT'],
      dtype='object')
65
========

In [7]:
#Let's figure out how many columns in total there are:

df_16_cols = []
df_18_cols = []
df_21_cols = []

for table in list_of_tables:
    if table is df_16_17:
        df_16_cols.append(table.columns.tolist())
    elif table is df_18_20:
        df_18_cols.append(table.columns.tolist())
    elif table is df_21_22:
        df_21_cols.append(table.columns.tolist())
        
#Let's check that that worked:
df_16_cols = df_16_cols[0]
df_18_cols = df_18_cols[0]
df_21_cols = df_21_cols[0]

df_21_cols[:5]
#Cool

['UNIQUEID', 'GRANTEEID', 'MODE', 'LtCallDt', 'LtCallST']

In [8]:
#Actually, rather than do that, why not just add them all to a list and then
#remove the duplicates?

dfs_all_cols = []

for table in list_of_tables:
    dfs_all_cols.append(table.columns.tolist())
    
dfs_all_cols = dfs_all_cols[0] + dfs_all_cols[1] + dfs_all_cols[2]

print(len(dfs_all_cols))

print(len(list(set(dfs_all_cols)))) #counting after removing duplicates
#shows that the columns removed from addition are due to duplicates
    
#OK, cool.

228
208

In [9]:
#Let's extract the duplicates:

og_list = []
dups = []

for col_name in dfs_all_cols:
    if col_name not in og_list:
        og_list.append(col_name)
    else:
        dups.append(col_name)

dups
#Cool. We've confirmed that these are the 20 cols excluded in the concact'd df.

['ResponseID',
 'Q1',
 'Q2',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q1',
 'Q2',
 'Q2A',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q8',
 'Q9',
 'Q10',
 'Q11',
 'Q15',
 'Q16']

In [10]:
#printing number of null values per column per table
for table in list_of_tables:
    print(table.info())
    print("========")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8575 entries, 0 to 8574
Data columns (total 95 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   ResponseID                                                           8575 non-null   int64
 1   ResponseSet                                                          8575 non-null   object
 2   IPAddress                                                            0 non-null      float64
 3   StartDate                                                            3931 non-null   datetime64[ns]
 4   EndDate                                                              8575 non-null   object
 5   RecipientLastName                                                    612 non-null    object
 6   RecipientFirstName                                                   0 non-null      float64
 7   RecipientEmail                                                       0 non-null      float64
 8   ExternalDataReference                                                0 non-null      float64
 9   Finished                                                             3818 non-null   float64
 10  Status                                                               3818 non-null   object
 11  va Cell Phone                                                        612 non-null    object
 12  Response ID                                                          0 non-null      float64
 13  Timestamp MM/dd/yyyy                                                 4584 non-null   object
 14  Custom Variable 1                                                    8575 non-null   object
 15  Custom Variable 2                                                    8575 non-null   object
 16  Custom Variable 3                                                    0 non-null      float64
 17  Custom Variable 4                                                    0 non-null      float64
 18  Respondent Email                                                     0 non-null      float64
 19  Region                                                               6997 non-null   object
 20  How many people are in the veterans household including the veteran  0 non-null      float64
 21  Veterans First Name if first name is not provided  please type       0 non-null      float64
 22  Veterans Email Address yourname.com                                  0 non-null      float64
 23  Cell Phone XXX-XXX-XXXX 1-999-999-9999                               0 non-null      float64
 24  UserAgent                                                            0 non-null      float64
 25  Q_URL                                                                0 non-null      float64
 26  Q35                                                                  8228 non-null   float64
 27  QIS                                                                  8428 non-null   object
 28  QIVA                                                                 8542 non-null   object
 29  Q1                                                                   8575 non-null   int64
 30  Q2                                                                   8486 non-null   object
 31  Q3                                                                   8454 non-null   object
 32  Q4                                                                   8403 non-null   object
 33  Q5                                                                   8351 non-null   object
 34  Q6                                                                   6591 non-null   object
 35  Q7                                                                   0 non-null      float64
 36  F37                                                                  0 non-null      float64
 37  Q8 into                                                              3499 non-null   object
 38  Q8.1-1a                                                              8062 non-null   object
 39  Q8.1-1b                                                              7980 non-null   object
 40  Q8.1-1c_1                                                            6902 non-null   object
 41  Q8.2-2a                                                              7973 non-null   object
 42  Q8.2-2b                                                              7904 non-null   object
 43  Q8.2-2c_1                                                            4380 non-null   object
 44  Q8.3-a_1                                                             7314 non-null   object
 45  Q8.3-a_2                                                             7178 non-null   object
 46  Q8.3-a_3                                                             7133 non-null   object
 47  Q8.3-a_4                                                             7126 non-null   object
 48  Q8.3-a_5                                                             7261 non-null   object
 49  Q8.3-a_6                                                             6930 non-null   object
 50  Q8.3-a_7                                                             6727 non-null   object
 51  Q8.3-a_8                                                             7145 non-null   object
 52  Q8.3-b_1                                                             6685 non-null   object
 53  Q8.3-b_2                                                             6661 non-null   object
 54  Q8.3-b_3                                                             6671 non-null   object
 55  Q8.3-b_4                                                             6640 non-null   object
 56  Q8.3-b_5                                                             6751 non-null   object
 57  Q8.3-b_6                                                             6369 non-null   object
 58  Q8.3-b_7                                                             6141 non-null   object
 59  Q8.3-b_8                                                             6822 non-null   object
 60  Q8.3-c_1                                                             3340 non-null   object
 61  Q8.3-c_2                                                             3292 non-null   object
 62  Q8.3-c_3                                                             3289 non-null   object
 63  Q8.3-c_4                                                             2888 non-null   object
 64  Q8.3-c_5                                                             3696 non-null   object
 65  Q8.3-c_6                                                             1778 non-null   object
 66  Q8.3-c_7                                                             1073 non-null   object
 67  Q8.3-c_8                                                             4479 non-null   object
 68  Q8.4-a_1                                                             7475 non-null   object
 69  Q8.4-a_2                                                             7190 non-null   object
 70  Q8.4-a_3                                                             7264 non-null   object
 71  Q8.4-a_4                                                             6987 non-null   object
 72  Q8.4-a_5                                                             6994 non-null   object
 73  Q8.4-a_6                                                             5054 non-null   object
 74  Q8.4-a_6_TEXT                                                        1224 non-null   object
 75  Q8.4-b_1                                                             7243 non-null   object
 76  Q8.4-b_2                                                             6808 non-null   object
 77  Q8.4-b_3                                                             6977 non-null   object
 78  Q8.4-b_4                                                             6512 non-null   object
 79  Q8.4-b_5                                                             6589 non-null   object
 80  Q8.4-b_6                                                             4996 non-null   object
 81  Q8.4-b_6_TEXT                                                        880 non-null    object
 82  Q8.4-c_1                                                             5679 non-null   object
 83  Q8.4-c_2                                                             3401 non-null   object
 84  Q8.4-c_3                                                             4486 non-null   object
 85  Q8.4-c_4                                                             1907 non-null   object
 86  Q8.4-c_5                                                             2354 non-null   object
 87  Q8.4-c_6                                                             1417 non-null   object
 88  Q8.4-c_6_TEXT                                                        701 non-null    object
 89  Q15                                                                  7514 non-null   object
 90  Q16                                                                  7429 non-null   object
 91  Q17                                                                  7405 non-null   object
 92  Q18                                                                  3210 non-null   object
 93  Negative                                                             1174 non-null   object
 94  date range                                                           8575 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(18), int64(2), object(73)
memory usage: 6.2+ MB
None
========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26347 entries, 0 to 26346
Data columns (total 68 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ResponseID  26347 non-null  int64
 1   PIN         26347 non-null  int64
 2   Timestamp   26347 non-null  int64
 3   GRANT_ID    26347 non-null  object
 4   LEGAL_NAME  26347 non-null  object
 5   FNAME       0 non-null      float64
 6   PHONE       0 non-null      float64
 7   REMAIL      0 non-null      float64
 8   QA          25869 non-null  float64
 9   QB          26194 non-null  float64
 10  QC          26069 non-null  float64
 11  Q1          26347 non-null  int64
 12  Q2          25676 non-null  float64
 13  Q2A         19012 non-null  float64
 14  Q3_1_A      25073 non-null  float64
 15  Q3_1_B      24591 non-null  float64
 16  Q3_1_C      19973 non-null  float64
 17  Q3_2_A      24674 non-null  float64
 18  Q3_2_B      24325 non-null  float64
 19  Q3_2_C      11239 non-null  float64
 20  Q3_3_1_A    23667 non-null  float64
 21  Q3_3_2_A    22787 non-null  float64
 22  Q3_3_3_A    22783 non-null  float64
 23  Q3_3_4_A    22805 non-null  float64
 24  Q3_3_5_A    22911 non-null  float64
 25  Q3_3_6_A    22613 non-null  float64
 26  Q3_3_7_A    22407 non-null  float64
 27  Q3_3_8_A    23026 non-null  float64
 28  Q3_3_1_B    22997 non-null  float64
 29  Q3_3_2_B    22365 non-null  float64
 30  Q3_3_3_B    22341 non-null  float64
 31  Q3_3_4_B    22311 non-null  float64
 32  Q3_3_5_B    22317 non-null  float64
 33  Q3_3_6_B    22147 non-null  float64
 34  Q3_3_7_B    21997 non-null  float64
 35  Q3_3_8_B    22373 non-null  float64
 36  Q3_3_1_C    8354 non-null   float64
 37  Q3_3_2_C    7932 non-null   float64
 38  Q3_3_3_C    8001 non-null   float64
 39  Q3_3_4_C    6546 non-null   float64
 40  Q3_3_5_C    8975 non-null   float64
 41  Q3_3_6_C    3259 non-null   float64
 42  Q3_3_7_C    768 non-null    float64
 43  Q3_3_8_C    11369 non-null  float64
 44  Q3_4_1_A    22886 non-null  float64
 45  Q3_4_2_A    22387 non-null  float64
 46  Q3_4_3_A    22417 non-null  float64
 47  Q3_4_4_A    22271 non-null  float64
 48  Q3_4_5_A    22295 non-null  float64
 49  Q3_4_1_B    22593 non-null  float64
 50  Q3_4_2_B    22116 non-null  float64
 51  Q3_4_3_B    22149 non-null  float64
 52  Q3_4_4_B    22004 non-null  float64
 53  Q3_4_5_B    21995 non-null  float64
 54  Q3_4_1_C    16070 non-null  float64
 55  Q3_4_2_C    8258 non-null   float64
 56  Q3_4_3_C    11585 non-null  float64
 57  Q3_4_4_C    3832 non-null   float64
 58  Q3_4_5_C    5771 non-null   float64
 59  Q4          22668 non-null  float64
 60  Q5          22459 non-null  float64
 61  Q6          22610 non-null  float64
 62  Q7          22233 non-null  float64
 63  Q8          22363 non-null  float64
 64  Q9          0 non-null      float64
 65  Q10         0 non-null      float64
 66  Q11         0 non-null      float64
 67  DateRange   26347 non-null  object
dtypes: float64(61), int64(4), object(3)
memory usage: 13.7+ MB
None
========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 65 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   UNIQUEID     0 non-null      float64
 1   GRANTEEID    4622 non-null   object
 2   MODE         4622 non-null   object
 3   LtCallDt     4622 non-null   int64
 4   LtCallST     4622 non-null   object
 5   CallDurS     4622 non-null   int64
 6   CallDurM     4622 non-null   int64
 7   TotalTime    4332 non-null   float64
 8   LtCallR      274 non-null    object
 9   LtCaseR      273 non-null    object
 10  Date         4622 non-null   datetime64[ns]
 11  HOUSEHOLD    4622 non-null   object
 12  HEALTHCARE   4622 non-null   object
 13  HEALTHCARE2  4622 non-null   object
 14  Q1           4622 non-null   object
 15  Q1 Num       4622 non-null   int64
 16  Q2           4622 non-null   object
 17  Q2A          4622 non-null   object
 18  Q3_1         4622 non-null   object
 19  Q3_1B        4622 non-null   object
 20  Q3_2         4622 non-null   object
 21  Q3_2B        4622 non-null   object
 22  Q3_3A        4622 non-null   object
 23  Q3_3A2       4622 non-null   object
 24  Q3_3B        4622 non-null   object
 25  Q3_3B2       4622 non-null   object
 26  Q3_3C        4622 non-null   object
 27  Q3_3C2       4622 non-null   object
 28  Q3_3D        4622 non-null   object
 29  Q3_3D2       4622 non-null   object
 30  Q3_3E        4622 non-null   object
 31  Q3_3E2       4622 non-null   object
 32  Q3_3F        4622 non-null   object
 33  Q3_3F2       4622 non-null   object
 34  Q3_3G        4622 non-null   object
 35  Q3_3G2       4622 non-null   object
 36  Q3_3H        4622 non-null   object
 37  Q3_3H2       4622 non-null   object
 38  Q4_A         4622 non-null   object
 39  Q4_A2        4622 non-null   object
 40  Q4_B         4622 non-null   object
 41  Q4_B2        4622 non-null   object
 42  Q4_C         4622 non-null   object
 43  Q4_C2        4622 non-null   object
 44  Q4_D         4622 non-null   object
 45  Q4_D2        4622 non-null   object
 46  Q4_E         4622 non-null   object
 47  Q4_E2        4622 non-null   object
 48  Q4           4622 non-null   object
 49  Q5           4622 non-null   object
 50  Q6           4622 non-null   object
 51  Q7           4622 non-null   object
 52  Q8           4622 non-null   object
 53  EXPERIENCE   4622 non-null   object
 54  Q9           0 non-null      float64
 55  Q10          0 non-null      float64
 56  Q11A         4622 non-null   object
 57  Q11          0 non-null      float64
 58  Q13          4622 non-null   object
 59  Q14          4622 non-null   object
 60  Q15          4622 non-null   object
 61  Q16          4622 non-null   object
 62  INT99        257 non-null    object
 63  Q12          221 non-null    float64
 64  INT          4345 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(4), object(54)
memory usage: 2.3+ MB
None
========

In [11]:
#We'll be merging DateRange columns for the first 2 tables and the Date column
#for the third because these seem to all indicate the month, with some exceptions.
#In the 2018 table, I'll need to remember to replace the "4395" month values with
#those of the Timestamp column.

In [12]:
#Anyway, let's create columns for the final concluded_survey_details table:
#df_csd stands for df_completed_survey_details

df_csd = pd.DataFrame({
    "dlp_id" : [],
    "date" : [],
    "respondent_id" : [],
    "grantee_id" : [],
    "mode" : [],
    "status" : [],
    "household_size" : [],
    "region" : [],
    "call_duration" : []
})

In [13]:
df_21_22["INT99"].value_counts()

INT99
'CO': Completed    257
Name: count, dtype: int64

In [14]:
df_21_22["INT"].value_counts()

INT
'CO': Completed      2934
Completed            1142
'I0': Interrupted     191
Interrupted            67
PI                      6
T1                      5
Name: count, dtype: int64

In [15]:
df_all = (
    pd.concat([df_16_17, df_18_20, df_21_22])
    .reset_index(drop=True)
    .reset_index()
    .rename(columns={"index" : "dlp_id"})
)
df_all

,dlp_id,ResponseID,ResponseSet,IPAddress,StartDate,EndDate,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalDataReference,Finished,Status,va Cell Phone,Response ID,Timestamp MM/dd/yyyy,Custom Variable 1,Custom Variable 2,Custom Variable 3,Custom Variable 4,Respondent Email,Region,How many people are in the veterans household including the veteran,Veterans First Name if first name is not provided please type,Veterans Email Address yourname.com,Cell Phone XXX-XXX-XXXX 1-999-999-9999,UserAgent,Q_URL,Q35,QIS,QIVA,Q1,Q2,Q3,Q4,Q5,Q6,Q7,F37,Q8 into,Q8.1-1a,Q8.1-1b,Q8.1-1c_1,Q8.2-2a,Q8.2-2b,Q8.2-2c_1,Q8.3-a_1,Q8.3-a_2,Q8.3-a_3,Q8.3-a_4,Q8.3-a_5,Q8.3-a_6,Q8.3-a_7,Q8.3-a_8,Q8.3-b_1,Q8.3-b_2,Q8.3-b_3,Q8.3-b_4,Q8.3-b_5,Q8.3-b_6,Q8.3-b_7,Q8.3-b_8,Q8.3-c_1,Q8.3-c_2,Q8.3-c_3,Q8.3-c_4,Q8.3-c_5,Q8.3-c_6,Q8.3-c_7,Q8.3-c_8,Q8.4-a_1,Q8.4-a_2,Q8.4-a_3,Q8.4-a_4,Q8.4-a_5,Q8.4-a_6,Q8.4-a_6_TEXT,Q8.4-b_1,Q8.4-b_2,Q8.4-b_3,Q8.4-b_4,Q8.4-b_5,Q8.4-b_6,Q8.4-b_6_TEXT,Q8.4-c_1,Q8.4-c_2,Q8.4-c_3,Q8.4-c_4,Q8.4-c_5,Q8.4-c_6,Q8.4-c_6_TEXT,Q15,Q16,Q17,Q18,Negative,date range,PIN,Timestamp,GRANT_ID,LEGAL_NAME,FNAME,PHONE,REMAIL,QA,QB,QC,Q2A,Q3_1_A,Q3_1_B,Q3_1_C,Q3_2_A,Q3_2_B,Q3_2_C,Q3_3_1_A,Q3_3_2_A,Q3_3_3_A,Q3_3_4_A,Q3_3_5_A,Q3_3_6_A,Q3_3_7_A,Q3_3_8_A,Q3_3_1_B,Q3_3_2_B,Q3_3_3_B,Q3_3_4_B,Q3_3_5_B,Q3_3_6_B,Q3_3_7_B,Q3_3_8_B,Q3_3_1_C,Q3_3_2_C,Q3_3_3_C,Q3_3_4_C,Q3_3_5_C,Q3_3_6_C,Q3_3_7_C,Q3_3_8_C,Q3_4_1_A,Q3_4_2_A,Q3_4_3_A,Q3_4_4_A,Q3_4_5_A,Q3_4_1_B,Q3_4_2_B,Q3_4_3_B,Q3_4_4_B,Q3_4_5_B,Q3_4_1_C,Q3_4_2_C,Q3_4_3_C,Q3_4_4_C,Q3_4_5_C,Q8,Q9,Q10,Q11,DateRange,UNIQUEID,GRANTEEID,MODE,LtCallDt,LtCallST,CallDurS,CallDurM,TotalTime,LtCallR,LtCaseR,Date,HOUSEHOLD,HEALTHCARE,HEALTHCARE2,Q1 Num,Q3_1,Q3_1B,Q3_2,Q3_2B,Q3_3A,Q3_3A2,Q3_3B,Q3_3B2,Q3_3C,Q3_3C2,Q3_3D,Q3_3D2,Q3_3E,Q3_3E2,Q3_3F,Q3_3F2,Q3_3G,Q3_3G2,Q3_3H,Q3_3H2,Q4_A,Q4_A2,Q4_B,Q4_B2,Q4_C,Q4_C2,Q4_D,Q4_D2,Q4_E,Q4_E2,EXPERIENCE,Q11A,Q13,Q14,INT99,Q12,INT
0,0,557.0,Default Response Set,NaN,2016-04-23 13:33:00,2016-05-01 00:09:00,,NaN,NaN,NaN,1.0,0,,NaN,,Decatur Cooperative Ministry Inc.,13-GA-102,NaN,NaN,NaN,GA,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,1,1,1,2,2,2,NaN,NaN,NaN,1,1,2,NaN,1,2,NaN,1,1,1,2,1,1,1,1,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,NaN,,2,2,2,2,2,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,,4,1,1,2,NaN,2016-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,558.0,Default Response Set,NaN,2016-04-29 13:09:00,2016-05-01 00:09:00,,NaN,NaN,NaN,1.0,0,,NaN,,Salvation Army a California Corporation,13-NV-118,NaN,NaN,NaN,NV,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,1,4,4,5,4,1,1,NaN,NaN,1,1,1,4,1,1,4,1,1,2,1,2,2,2,1,1,1,2,1,2,2,2,1,4,4,NaN,3,NaN,NaN,NaN,4,1,1,1,2,2,2,,1,1,1,2,2,2,,3,4,5,NaN,NaN,NaN,,1,2,2,NaN,NaN,2016-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,559.0,Default Response Set,NaN,2016-04-29 12:59:00,2016-05-01 00:09:00,,NaN,NaN,NaN,1.0,0,,NaN,,Families in Transition of Santa Cruz County Inc.,14-CA-169,NaN,NaN,NaN,CA,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,2,4,3,1,4,2,NaN,NaN,NaN,1,1,1,4,1,1,4,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,5,NaN,NaN,NaN,5,1,NaN,NaN,NaN,NaN,NaN,,1,NaN,NaN,NaN,NaN,NaN,,4,NaN,NaN,NaN,NaN,NaN,,1,1,1,1,NaN,2016-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,560.0,Default Response Set,NaN,2016-04-29 13:23:00,2016-05-01 00:09:00,,NaN,NaN,NaN,1.0,0,,NaN,,Veterans Northeast Outreach Center Inc.,14-MA-209,NaN,NaN,NaN,MA,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,1,4,3,5,4,2,NaN,NaN,NaN,1,1,2,NaN,2,2,NaN,2,2,2,1,2,1,2,1,1,2,2,2,2,2,2,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN,NaN,,2,2,2,2,2,2,,NaN,NaN,NaN,NaN,NaN,NaN,,3,1,1,2,NaN,2016-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,561.0,Default Response Set,NaN,2016-04-29 13:28:00,2016-05-01 00:09:00,,NaN,NaN,NaN,1.0,0,,NaN,,Seven Hills Homeless Center,14-AR-156,NaN,NaN,NaN,LA,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,1,2,4,5,4,1,1,NaN,NaN,1,1,1,5,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2,2,2,2,2,2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,1,2,1,2,,1,1,1,2,1,2,,5,5,5,NaN,5,NaN,,2,1,1,2,NaN,2016-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39539,39539,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Extremely Poor,No,NaN,3+,Yes,Very Dissatisfied,Dissatisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heterosexual or straight,Man,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Valid skip,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very Dissatisfied,NaN,NaN,NaN,NaN,NaN,13-NV-117,Online,20220817.0,20:07,2026.0,34.0,2028.0,NaN,NaN,2022-10-01,3,Yes,Yes,1.0,No,Valid skip,Yes,I did not receive assistance,No,Valid skip,Yes,Extremely Poor,Yes,Extremely Poor,Yes,I did not receive assistance,Yes,I did not receive assistance,Yes,I did not receive assistance,No,Valid skip,Yes,I did not receive assistance,Yes,I did not receive assistance,Yes,I did not receive assistance,Yes,I did not receive assistance,Yes,I did not receive assistance,Yes,I did not receive assistance,Negative comments only,Yes,White,Non-Hispanic/Non-Latin(a)(o)(x),NaN,NaN,'CO': Completed
39540,39540,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Excellent,Yes,NaN,1,No,Very satisfied,Very satisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heterosexual or straight,Man,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very satisfied,NaN,NaN,NaN,NaN,NaN,18-CA-171,Online,20220926.0,16:58,362.0,6.0,362.0,NaN,NaN,2022-10-01,1,Yes,Yes,5.0,Yes,Excellent,No,Valid skip,No,Valid skip,Yes,Excellent,No,Valid skip,No,Valid skip,Yes,Excellent,No,Valid skip,No,Valid skip,Yes,Excellent,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,Decline to provide comments,No,Choose not to respond,Choose not to respond,NaN,NaN,'CO': Completed
39541,39541,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Above Average,Yes,NaN,1,No,Satisfied,Satisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heterosexual or straight,Man,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Satisfied,NaN,NaN,NaN,NaN,NaN,19-MN-046,Online,20220718.0,11:01,224.0,4.0,226.0,NaN,NaN,2022-10-01,1,Yes,Yes,4.0,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,No,Valid skip,Positive comments only,No,White,Hispanic/Latin(a)(o)(x),NaN,NaN,'CO': Completed
39542,39542,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Average,No,NaN,0,Yes,Satisfied,Satisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I choose not to respond,I choose not to respond,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Valid skip,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Satisfied,NaN,NaN,NaN,NaN,NaN,12-MI-044,Online,20220714.0,19:21,539.0,9.0,539.0,NaN,NaN,2022-10-01,2,Yes,Yes,3.0,No,Valid skip,Yes,Above average,No,Valid skip,No,Valid skip,No,Valid skip,Yes,I did not receive assistance,No,Valid skip,Yes,I did not receive assistance,No,Valid skip,No,Valid skip,Yes,Average,Yes,Above average,Yes,Average,Yes,I did not receive assistance,Yes,I did not receive assistance,Both positive and negative comments,No,Choose not to respond,Choose not to respond,NaN,NaN,'CO': Completed
39543,39543,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Excellent,Yes,NaN,1,Yes,Very satisfied,Very satisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I choose not to respond,I choose not to respond,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Satisfied,NaN,NaN,NaN,NaN,NaN,S20-WA-500,Online,20220816.0,03:15,444.0,7.0,448.0,NaN,NaN,2022-10-01,2,Yes,Yes,5.0,Yes,Excellent,Yes,Excellent,No,Valid skip,No,Valid skip,Yes,Excellent,No,Valid skip,Yes,Above average,No,Valid skip,No,Valid skip,Yes,Excellent,Yes,Excellent,No,Valid skip,No,Valid skip,Yes,Above average,No,Valid skip,Positive comments only,No,Choose not to respond,Choose not to respond,NaN,NaN,'CO': Completed

In [16]:
pd.concat([df_16_17, df_18_20, df_21_22]).info()
#Given that columsn are merging,
#I should make sure that the questions didn't change.

<class 'pandas.core.frame.DataFrame'>
Index: 39544 entries, 0 to 4621
Columns: 208 entries, ResponseID to INT
dtypes: datetime64[ns](3), float64(81), object(124)
memory usage: 63.1+ MB

In [17]:
#from gpt:
from collections import Counter

# Your list of values
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

# Use Counter to count the occurrences of each value
value_counts = Counter(my_list)

# Convert the Counter object to a dictionary if needed
value_counts_dict = dict(value_counts)

# Print the results
print(value_counts_dict)

{1: 1, 2: 2, 3: 3, 4: 4}

In [18]:
col_counts_dict = dict(Counter(dfs_all_cols))

In [19]:
#Let's verify that we've counted correctly:

total = 0
len_total = 0
for key, val in col_counts_dict.items():
    if col_counts_dict[key] > 1:
        print(f"{key}: {col_counts_dict[key]}")
        total += col_counts_dict[key]
        len_total += 1
        


print(total) #duplicate columns with the original 
print(len_total) #counting only the originals

print(total - len_total) #number of extra columns
#Cool, it adds up

ResponseID: 2
Q1: 3
Q2: 3
Q4: 3
Q5: 3
Q6: 3
Q7: 3
Q15: 2
Q16: 2
Q2A: 2
Q8: 2
Q9: 2
Q10: 2
Q11: 2
34
14
20

In [20]:
#Looks like 1-7 are the same across all 3 tables. Let's move onto the
#questions and make sure they're the same:

In [21]:
df_16_17["Q7"].notna().sum()

0

In [22]:
#OK. Time to tackle the questions all_questions_explained table:

In [23]:
# all_qs_explained_ = (
#         pd.DataFrame({
#             "given_q_label" : ["Q1"],
#             "given_q_text" : ["How would you rate the quality of the services you have received from this supportive services provider?"],
#             "source_type" : [],
#             "num" : [],
#             "dlp_reworded_q" : [],
#             "dlp_id_for_reworded_q" : []
            
#         })
# )

# all_qs_explained

In [24]:
df_16_17["Q6"].value_counts()
#Interesting. No Q6abc

Q6
1     5919
2      447
       118
       107
Name: count, dtype: int64

In [25]:
df_18_20["Q9"].notna().sum()

0

In [26]:
df_18_20["Q10"].notna().sum()

0

In [27]:
df_18_20["Q11"].notna().sum()

0

In [28]:
dlp_qs = pd.read_csv("dlp_questions_explained - Sheet1.csv")

In [29]:
dlp_qs.head()

,given_q_label,given_q_text,source_type,nums,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes
0,Q1,How would you rate the quality of the services...,pdf,16,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.
1,Q2,If another Veteran or a friend were in need of...,pdf,16,NaN,NaN,NaN,NaN,NaN,NaN
2,Q3,How satisfied are you with the services you ha...,pdf,16,NaN,NaN,NaN,NaN,NaN,NaN
3,Q4,If you needed help again and had a choice of w...,pdf,16,NaN,NaN,NaN,NaN,NaN,NaN
4,Q6abc,Veterans were asked a series of questions abou...,pdf,16,NaN,NaN,NaN,NaN,NaN,"Interesting: There is no ""abc"" for Q6 in the t..."

In [30]:
dlp_qs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   given_q_label            305 non-null    object
 1   given_q_text             77 non-null     object
 2   source_type              305 non-null    object
 3   nums                     305 non-null    object
 4   percent_nonnull          228 non-null    float64
 5   consistent/inconsistent  0 non-null      float64
 6   dlp_std_q                0 non-null      float64
 7   dlp_id_for_std_q         0 non-null      float64
 8   dlp_qid_all_qs (index)   0 non-null      float64
 9   notes                    19 non-null     object
dtypes: float64(5), object(5)
memory usage: 24.0+ KB

In [31]:
dlp_qs["given_q_label"].value_counts().head(30)

given_q_label
Q1            8
Q7            8
Q2            6
Q4            6
Q8            6
Q6            6
Q10           5
Q11           5
Q9            5
Q5            4
Q15           3
Q3            3
Q2A           3
Q16           3
Q4_D2         2
Q4_A          2
Q4_A2         2
Q4_B          2
Q4_B2         2
Q4_C          2
Q4_C2         2
Q4_D          2
Q4_E2         2
Q4_E          2
Q3_3H         2
EXPERIENCE    2
Q11A          2
Q13           2
Q14           2
QA            2
Name: count, dtype: int64

In [32]:
dlp_qs["lc_given_q_text"] = dlp_qs["given_q_text"].str.lower()

In [33]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [34]:
(
    dlp_qs[
        (dlp_qs["given_q_label"] == "Q1")
        &
        (dlp_qs["source_type"] == "pdf")
    ]
    ["lc_given_q_text"]
)
#Oh, cool. I should for loop this to do it to every q label.

0     how would you rate the quality of the services you have\nreceived from this supportive services provider?
7     how would you rate the quality of the services you have\nreceived from this supportive services provider?
13    how would you rate the quality of the services you have\nreceived from this supportive services provider?
20     how would you rate the quality of the services you have received from this supportive services provider?
30                          how would you rate the quality of services you have received from this ssvf agency?
Name: lc_given_q_text, dtype: object

In [35]:
# for q_num in dlp_qs["given_q_label"][:5]:
#     print(f'{q_num}: {dlp_qs["lc_given_q_text"][dlp_qs["source_type"] == "pdf"]}')
#     print("=========")

In [36]:
# for q_num in dlp_qs["given_q_label"][:5]:
#     qs_per_num = (
#         dlp_qs
#         ["lc_given_q_text"]
#         ["given_q_label"] == q_num[dlp_qs["source_type"] == "pdf"]
#     print(f'{q_num}:

In [37]:
#This is the shit.

q_num_list = []

for q_num in dlp_qs["given_q_label"]:
    if q_num in q_num_list:
        continue
    else:
        qs_per_num = ( #create a Series for each q_num
            dlp_qs[
            (dlp_qs["given_q_label"] == q_num) #show the given q number
            &
            (dlp_qs["source_type"] == "pdf") #only show pdfs (since only pdfs have question text)
        ]
        [["lc_given_q_text", "nums"]] #show the question text
        )
        number_of_qs_per_num = len(qs_per_num)
        q_num_list.append(q_num)
        print(f'{q_num} ({number_of_qs_per_num} questions): {qs_per_num}')
        print("=======")

Q1 (5 questions):                                                                                               lc_given_q_text  \
0   how would you rate the quality of the services you have\nreceived from this supportive services provider?
7   how would you rate the quality of the services you have\nreceived from this supportive services provider?
13  how would you rate the quality of the services you have\nreceived from this supportive services provider?
20   how would you rate the quality of the services you have received from this supportive services provider?
30                        how would you rate the quality of services you have received from this ssvf agency?

     nums
0      16
7      17
13     18
20     20
30  21-22
=======
Q2 (3 questions):                                                                                                                         lc_given_q_text  \
1   if another veteran or a friend were in need of similar\nhelp, would you recommend this supportive services provider\nto him or her?
8   if another veteran or a friend were in need of similar help,\nwould you recommend this supportive services provider to him or\nher?
31                                     did the ssvf case manager involve you in creating an individualized housing stabilization\nplan?

     nums
1      16
8      17
31  21-22
=======
Q3 (2 questions):                                                                                       lc_given_q_text  \
2  how satisfied are you with the services you have\nreceived from this supportive services provider?
9  how satisfied are you with the services you have received\nfrom this supportive services provider?

  nums
2   16
9   17
=======
Q4 (3 questions):                                                                                                                          lc_given_q_text  \
3   if you needed help again and had a choice of where to\ngo at no cost to you, would you return to this supportive\nservices provider?
10  if you needed help again and had a choice of where to go at\nno cost to you, would you return to this supportive services\nprovider?
63                                           how many times have you moved since you started receiving services from this ssvf agency?\n

     nums
3      16
10     17
63  21-22
=======
Q6abc (2 questions):                                                                                                                                                                                                                                                                                                                                                                                                                                  lc_given_q_text  \
4   veterans were asked a series of questions about which supportive services they needed and\nreceived. if they received the service, they were then asked about the quality of the service.\nafter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.
11  veterans were asked a series of questions about which supportive services they needed and\nreceived. if they received the service, they were then asked about the quality of the service.\nafter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.

   nums
4    16
11   17
=======
Q7 (5 questions):                                                                                                                                 lc_given_q_text  \
5                                      is there any other feedback\nabout the supportive services provider that\nyou wish to provide to the va?
12                                     is there any other feedback\nabout the supportive services provider that\nyou wish to provide to the va?
15  how satisfied are you with the courteousness of the staff person that you dealt with most often\nwhile you were working with this provider?
22  how satisfied are you with the courteousness of the staff person that you dealt with most often\nwhile you were working with this provider?
66  how satisfied are you with the courteousness of the staff person that you dealt with most\noften while you were working with this provider?

     nums
5      16
12     17
15     18
22     20
66  21-22
=======
Q8 (4 questions):                                                                                                                                                 lc_given_q_text  \
6                                          please indicate which supportive services you received and indicate the quality of the supportive services received.
16  how satisfied are you with the timeliness of communication with the staff person that you dealt\nwith most often while you were working with this provider?
23  how satisfied are you with the timeliness of communication with the staff person that you dealt\nwith most often while you were working with this provider?
67  how satisfied are you with the timeliness of communication with the staff person that you\ndealt with most often while you were working with this provider?

     nums
6      16
16     18
23     20
67  21-22
=======
Q6 (3 questions):                                                                                                                      lc_given_q_text  \
14  how satisfied are you with the courteousness of the staff person that you initially spoke with when\nyou contacted the provider?
21  how satisfied are you with the courteousness of the staff person that you initially spoke with when\nyou contacted the provider?
65  how satisfied are you with the courteousness of the staff person that you initially spoke\nwith when you contacted the provider?

     nums
14     18
21     20
65  21-22
=======
Q9 (3 questions):                                                                                    lc_given_q_text  \
17  if your experiences were positive with this supportive services provider,\nplease tell us why.
24  if your experiences were positive with this supportive services provider,\nplease tell us why.
74                      appendix a: q9_positive experiences with the s.s.v.f staff that helped you

     nums
17     18
24     20
74  21-22
=======
Q10 (3 questions):                                                                                            lc_given_q_text  \
18          if your experiences were negative with this supportive services\nprovider, please tell us why.
25          if your experiences were negative with this supportive services\nprovider, please tell us why.
75  appendix b: q10_negative experiences you had with the ssvf agency or s. s. v. f.\nstaff who helped you

     nums
18     18
25     20
75  21-22
=======
Q11 (3 questions):                                                                    lc_given_q_text  \
19  please list any additional suggestions as to how to improve the ssvf\nprogram.
26  please list any additional suggestions as to how to improve the ssvf\nprogram.
76                      appendix c: q11_suggestions to improve the s.s.v.f program

     nums
19     18
26     20
76  21-22
=======
QA (1 questions):                                          lc_given_q_text   nums
27  what is the number of individuals in your household?  21-22
=======
QB (1 questions):                                    lc_given_q_text   nums
28  are you enrolled in the va health care system?  21-22
=======
QC (1 questions):                                                                                    lc_given_q_text  \
29  were you enrolled in the va healthcare system prior to receiving services from this\nprovider?

     nums
29  21-22
=======
Q2A (1 questions):                                                      lc_given_q_text   nums
32  do you feel that this housing plan is a good fit for your needs?  21-22
=======
Q3_1 (1 questions):                   lc_given_q_text   nums
33  did you need case management?  21-22
=======
Q3_1B (1 questions):                                           lc_given_q_text   nums
34  what was the quality of the case management received?  21-22
=======
Q3_2 (1 questions):                                       lc_given_q_text   nums
35  did you need assistance in obtaining va benefits?  21-22
=======
Q3_2B (1 questions):                                                           lc_given_q_text  \
36  what was the quality of assistance received in obtaining va benefits?

     nums
36  21-22
=======
Q3_3A (1 questions):                                                                 lc_given_q_text  \
37  did you need assistance in obtaining and coordinating health care benefits?

     nums
37  21-22
=======
Q3_3A2 (1 questions):                                                                                         lc_given_q_text  \
38  what was the quality of the assistance received in obtaining and coordinating\nhealthcare benefits?

     nums
38  21-22
=======
Q3_3B (1 questions):                                                                  lc_given_q_text  \
39  did you need assistance in obtaining and coordinating daily living benefits?

     nums
39  21-22
=======
Q3_3B2 (1 questions):                                                                                           lc_given_q_text  \
40  what was the quality of the assistance received in obtaining and coordinating daily\nliving benefits?

     nums
40  21-22
=======
Q3_3C (1 questions):                                                                                  lc_given_q_text  \
41  did you need assistance in obtaining and coordinating personal financial planning\nbenefits?

     nums
41  21-22
=======
Q3_3C2 (1 questions):                                                                                                         lc_given_q_text  \
42  what was the quality of the assistance received in obtaining and coordinating personal financial planning benefits?

     nums
42  21-22
=======
Q3_3D (1 questions):                                                                    lc_given_q_text  \
43  did you need assistance in obtaining and coordinating transportation benefits?

     nums
43  21-22
=======
Q3_3D2 (1 questions):                                                                                             lc_given_q_text  \
44  what was the quality of the assistance received in obtaining and coordinating transportation benefits?

     nums
44  21-22
=======
Q3_3E (1 questions):                                                                    lc_given_q_text  \
45  did you need assistance in obtaining and coordinating income support benefits?

     nums
45  21-22
=======
Q3_3E2 (1 questions):                                                                                             lc_given_q_text  \
46  what was the quality of the assistance received in obtaining and coordinating income\nsupport benefits?

     nums
46  21-22
=======
Q3_3F (1 questions):                                                           lc_given_q_text  \
47  did you need assistance in obtaining and coordinating legal benefits?

     nums
47  21-22
=======
Q3_3F2 (1 questions):                                                                                    lc_given_q_text  \
48  what was the quality of the assistance received in obtaining and coordinating legal\nbenefits?

     nums
48  21-22
=======
Q3_3G (1 questions):                                                               lc_given_q_text  \
49  did you need assistance in obtaining and coordinating childcare benefits?

     nums
49  21-22
=======
Q3_3G2  (1 questions):                                                                                        lc_given_q_text  \
50  what was the quality of the assistance received in obtaining and coordinating\nchildcare benefits?

     nums
50  21-22
=======
Q3_3H (1 questions):                                                                        lc_given_q_text  \
51  did you need assistance in obtaining and coordinating housing counseling benefits?

     nums
51  21-22
=======
Q3_3H2 (1 questions):                                                                                                 lc_given_q_text  \
52  what was the quality of the assistance received in obtaining and coordinating housing\ncounseling benefits?

     nums
52  21-22
=======
Q4_A (1 questions):                     lc_given_q_text   nums
53  did you need rental assistance?  21-22
=======
Q4_A2 (1 questions):                                             lc_given_q_text   nums
54  what was the quality of the rental assistance received?  21-22
=======
Q4_B (1 questions):                                  lc_given_q_text   nums
55  did you need utility fee payment assistance?  21-22
=======
Q4_B2 (1 questions):                                                          lc_given_q_text  \
56  what was the quality of the utility fee payment assistance received?

     nums
56  21-22
=======
Q4_C (1 questions):                                            lc_given_q_text   nums
57  did you need security and utility deposits assistance?  21-22
=======
Q4_C2 (1 questions):                                                                    lc_given_q_text  \
58  what was the quality of the security and utility deposits assistance received?

     nums
58  21-22
=======
Q4_D (1 questions):                            lc_given_q_text   nums
59  did you need moving costs assistance?   21-22
=======
Q4_D2 (1 questions):                                                   lc_given_q_text   nums
60  what was the quality of the moving costs assistance received?  21-22
=======
Q4_E (1 questions):                                            lc_given_q_text   nums
61  did you need assistance purchasing emergency supplies?  21-22
=======
Q4_E2 (1 questions):                                                                    lc_given_q_text  \
62  what was the quality of the emergency supplies purchasing assistance received?

     nums
62  21-22
=======
Q5 (1 questions):                                                                                                                                                                      lc_given_q_text  \
64  since you started receiving services from this supportive services provider, was there a time\nwhen your income decreased so much that it became hard to pay your housing costs?

     nums
64  21-22
=======
EXPERIENCE (1 questions):                                                                                                                                              lc_given_q_text  \
68  do you have any positive or negative experiences you had with the ssvf agency or\nssvf staff who helped you that you would like to provide comments on?

     nums
68  21-22
=======
Q11A (1 questions):                                                                    lc_given_q_text  \
69  do you have any additional suggestions as to how to improve the ssvf program?

     nums
69  21-22
=======
Q13 (1 questions):                   lc_given_q_text   nums
70  what race do you identify as?  21-22
=======
Q14 (1 questions):                        lc_given_q_text   nums
71  what ethnicity do you identify as?  21-22
=======
Q15 (1 questions):                    lc_given_q_text   nums
72  do you consider yourself to be  21-22
=======
Q16 (1 questions):          lc_given_q_text   nums
73  what is your gender?  21-22
=======
ResponseID (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
ResponseSet (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
IPAddress (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
StartDate (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
EndDate (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
RecipientLastName (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
RecipientFirstName (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
RecipientEmail (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
ExternalDataReference (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Finished (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Status (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
va Cell Phone (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Response ID (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Timestamp MM/dd/yyyy (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Custom Variable 1 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Custom Variable 2 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Custom Variable 3 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Custom Variable 4 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Respondent Email (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Region (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
How many people are in the veterans household including the veteran (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Veterans First Name if first name is not provided  please type (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Veterans Email Address yourname.com (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Cell Phone XXX-XXX-XXXX 1-999-999-9999 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
UserAgent (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q_URL (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q35 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
QIS (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
QIVA (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
F37 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8 into (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.1-1a (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.1-1b (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.1-1c_1 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.2-2a (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.2-2b (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.2-2c_1 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-a_1 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-a_2 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-a_3 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-a_4 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-a_5 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-a_6 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]

In [38]:
#RESULTS FOR QS WITH THE SAME LABEL BUT DIFFERENT TEXT VALUES (DEFINITIONS):
#Q1: Slight change in 21-22, from "this ssvf agency" to "this supportive services provider."
#Q2: 21-22 is totally different.
#Q3: same
#Q4: One is totally different. Goes from "If another veteran or friend ..." to "Did the ssvf case manager involve you ...?".
#Q6abc: same
#Q7: Changes from "other feedback" in 16 and 17 to "courteousness" in 18, 20 and 21-22.
#Q8: 16 asks about supportive services received and their quality, whereas 18, 20 and 21-22 are about timeliness of communication.
#Q6: same
#Q9: slightly changed wording but probably the same  the 21-22 "appendix a: q_9" thing says "s.s.v.f. staff" rather than "supportive services provider."
#Q10: same as above
#Q11: in essence the same thing
#QA: one q
#QB: one q
#QC: one q
#Q2A: one q
#Q3_1 #Oh cool, the rest are one or 0 qs.

In [39]:
#Redoing it with normalized letters (uppercase).

q_num_list_norm = []

for q_num in dlp_qs["given_q_label"].str.upper():
    if q_num in q_num_list_norm:
        continue
    else:
        qs_per_num_norm = ( #create a Series for each q_num
            dlp_qs[
            (dlp_qs["given_q_label"].str.upper() == q_num) #show the given q number
            &
            (dlp_qs["source_type"] == "pdf") #only show pdfs (since only pdfs have question text)
        ]
        [["lc_given_q_text", "nums"]] #show the question text and the pdf number(s)
        )
        number_of_qs_per_num_norm = len(qs_per_num_norm)
        q_num_list_norm.append(q_num)
        print(f'{q_num} ({number_of_qs_per_num_norm} questions): {qs_per_num_norm}')
        print("=======")

Q1 (5 questions):                                                                                               lc_given_q_text  \
0   how would you rate the quality of the services you have\nreceived from this supportive services provider?
7   how would you rate the quality of the services you have\nreceived from this supportive services provider?
13  how would you rate the quality of the services you have\nreceived from this supportive services provider?
20   how would you rate the quality of the services you have received from this supportive services provider?
30                        how would you rate the quality of services you have received from this ssvf agency?

     nums
0      16
7      17
13     18
20     20
30  21-22
=======
Q2 (3 questions):                                                                                                                         lc_given_q_text  \
1   if another veteran or a friend were in need of similar\nhelp, would you recommend this supportive services provider\nto him or her?
8   if another veteran or a friend were in need of similar help,\nwould you recommend this supportive services provider to him or\nher?
31                                     did the ssvf case manager involve you in creating an individualized housing stabilization\nplan?

     nums
1      16
8      17
31  21-22
=======
Q3 (2 questions):                                                                                       lc_given_q_text  \
2  how satisfied are you with the services you have\nreceived from this supportive services provider?
9  how satisfied are you with the services you have received\nfrom this supportive services provider?

  nums
2   16
9   17
=======
Q4 (3 questions):                                                                                                                          lc_given_q_text  \
3   if you needed help again and had a choice of where to\ngo at no cost to you, would you return to this supportive\nservices provider?
10  if you needed help again and had a choice of where to go at\nno cost to you, would you return to this supportive services\nprovider?
63                                           how many times have you moved since you started receiving services from this ssvf agency?\n

     nums
3      16
10     17
63  21-22
=======
Q6ABC (2 questions):                                                                                                                                                                                                                                                                                                                                                                                                                                  lc_given_q_text  \
4   veterans were asked a series of questions about which supportive services they needed and\nreceived. if they received the service, they were then asked about the quality of the service.\nafter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.
11  veterans were asked a series of questions about which supportive services they needed and\nreceived. if they received the service, they were then asked about the quality of the service.\nafter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.

   nums
4    16
11   17
=======
Q7 (5 questions):                                                                                                                                 lc_given_q_text  \
5                                      is there any other feedback\nabout the supportive services provider that\nyou wish to provide to the va?
12                                     is there any other feedback\nabout the supportive services provider that\nyou wish to provide to the va?
15  how satisfied are you with the courteousness of the staff person that you dealt with most often\nwhile you were working with this provider?
22  how satisfied are you with the courteousness of the staff person that you dealt with most often\nwhile you were working with this provider?
66  how satisfied are you with the courteousness of the staff person that you dealt with most\noften while you were working with this provider?

     nums
5      16
12     17
15     18
22     20
66  21-22
=======
Q8 (4 questions):                                                                                                                                                 lc_given_q_text  \
6                                          please indicate which supportive services you received and indicate the quality of the supportive services received.
16  how satisfied are you with the timeliness of communication with the staff person that you dealt\nwith most often while you were working with this provider?
23  how satisfied are you with the timeliness of communication with the staff person that you dealt\nwith most often while you were working with this provider?
67  how satisfied are you with the timeliness of communication with the staff person that you\ndealt with most often while you were working with this provider?

     nums
6      16
16     18
23     20
67  21-22
=======
Q6 (3 questions):                                                                                                                      lc_given_q_text  \
14  how satisfied are you with the courteousness of the staff person that you initially spoke with when\nyou contacted the provider?
21  how satisfied are you with the courteousness of the staff person that you initially spoke with when\nyou contacted the provider?
65  how satisfied are you with the courteousness of the staff person that you initially spoke\nwith when you contacted the provider?

     nums
14     18
21     20
65  21-22
=======
Q9 (3 questions):                                                                                    lc_given_q_text  \
17  if your experiences were positive with this supportive services provider,\nplease tell us why.
24  if your experiences were positive with this supportive services provider,\nplease tell us why.
74                      appendix a: q9_positive experiences with the s.s.v.f staff that helped you

     nums
17     18
24     20
74  21-22
=======
Q10 (3 questions):                                                                                            lc_given_q_text  \
18          if your experiences were negative with this supportive services\nprovider, please tell us why.
25          if your experiences were negative with this supportive services\nprovider, please tell us why.
75  appendix b: q10_negative experiences you had with the ssvf agency or s. s. v. f.\nstaff who helped you

     nums
18     18
25     20
75  21-22
=======
Q11 (3 questions):                                                                    lc_given_q_text  \
19  please list any additional suggestions as to how to improve the ssvf\nprogram.
26  please list any additional suggestions as to how to improve the ssvf\nprogram.
76                      appendix c: q11_suggestions to improve the s.s.v.f program

     nums
19     18
26     20
76  21-22
=======
QA (1 questions):                                          lc_given_q_text   nums
27  what is the number of individuals in your household?  21-22
=======
QB (1 questions):                                    lc_given_q_text   nums
28  are you enrolled in the va health care system?  21-22
=======
QC (1 questions):                                                                                    lc_given_q_text  \
29  were you enrolled in the va healthcare system prior to receiving services from this\nprovider?

     nums
29  21-22
=======
Q2A (1 questions):                                                      lc_given_q_text   nums
32  do you feel that this housing plan is a good fit for your needs?  21-22
=======
Q3_1 (1 questions):                   lc_given_q_text   nums
33  did you need case management?  21-22
=======
Q3_1B (1 questions):                                           lc_given_q_text   nums
34  what was the quality of the case management received?  21-22
=======
Q3_2 (1 questions):                                       lc_given_q_text   nums
35  did you need assistance in obtaining va benefits?  21-22
=======
Q3_2B (1 questions):                                                           lc_given_q_text  \
36  what was the quality of assistance received in obtaining va benefits?

     nums
36  21-22
=======
Q3_3A (1 questions):                                                                 lc_given_q_text  \
37  did you need assistance in obtaining and coordinating health care benefits?

     nums
37  21-22
=======
Q3_3A2 (1 questions):                                                                                         lc_given_q_text  \
38  what was the quality of the assistance received in obtaining and coordinating\nhealthcare benefits?

     nums
38  21-22
=======
Q3_3B (1 questions):                                                                  lc_given_q_text  \
39  did you need assistance in obtaining and coordinating daily living benefits?

     nums
39  21-22
=======
Q3_3B2 (1 questions):                                                                                           lc_given_q_text  \
40  what was the quality of the assistance received in obtaining and coordinating daily\nliving benefits?

     nums
40  21-22
=======
Q3_3C (1 questions):                                                                                  lc_given_q_text  \
41  did you need assistance in obtaining and coordinating personal financial planning\nbenefits?

     nums
41  21-22
=======
Q3_3C2 (1 questions):                                                                                                         lc_given_q_text  \
42  what was the quality of the assistance received in obtaining and coordinating personal financial planning benefits?

     nums
42  21-22
=======
Q3_3D (1 questions):                                                                    lc_given_q_text  \
43  did you need assistance in obtaining and coordinating transportation benefits?

     nums
43  21-22
=======
Q3_3D2 (1 questions):                                                                                             lc_given_q_text  \
44  what was the quality of the assistance received in obtaining and coordinating transportation benefits?

     nums
44  21-22
=======
Q3_3E (1 questions):                                                                    lc_given_q_text  \
45  did you need assistance in obtaining and coordinating income support benefits?

     nums
45  21-22
=======
Q3_3E2 (1 questions):                                                                                             lc_given_q_text  \
46  what was the quality of the assistance received in obtaining and coordinating income\nsupport benefits?

     nums
46  21-22
=======
Q3_3F (1 questions):                                                           lc_given_q_text  \
47  did you need assistance in obtaining and coordinating legal benefits?

     nums
47  21-22
=======
Q3_3F2 (1 questions):                                                                                    lc_given_q_text  \
48  what was the quality of the assistance received in obtaining and coordinating legal\nbenefits?

     nums
48  21-22
=======
Q3_3G (1 questions):                                                               lc_given_q_text  \
49  did you need assistance in obtaining and coordinating childcare benefits?

     nums
49  21-22
=======
Q3_3G2  (1 questions):                                                                                        lc_given_q_text  \
50  what was the quality of the assistance received in obtaining and coordinating\nchildcare benefits?

     nums
50  21-22
=======
Q3_3H (1 questions):                                                                        lc_given_q_text  \
51  did you need assistance in obtaining and coordinating housing counseling benefits?

     nums
51  21-22
=======
Q3_3H2 (1 questions):                                                                                                 lc_given_q_text  \
52  what was the quality of the assistance received in obtaining and coordinating housing\ncounseling benefits?

     nums
52  21-22
=======
Q4_A (1 questions):                     lc_given_q_text   nums
53  did you need rental assistance?  21-22
=======
Q4_A2 (1 questions):                                             lc_given_q_text   nums
54  what was the quality of the rental assistance received?  21-22
=======
Q4_B (1 questions):                                  lc_given_q_text   nums
55  did you need utility fee payment assistance?  21-22
=======
Q4_B2 (1 questions):                                                          lc_given_q_text  \
56  what was the quality of the utility fee payment assistance received?

     nums
56  21-22
=======
Q4_C (1 questions):                                            lc_given_q_text   nums
57  did you need security and utility deposits assistance?  21-22
=======
Q4_C2 (1 questions):                                                                    lc_given_q_text  \
58  what was the quality of the security and utility deposits assistance received?

     nums
58  21-22
=======
Q4_D (1 questions):                            lc_given_q_text   nums
59  did you need moving costs assistance?   21-22
=======
Q4_D2 (1 questions):                                                   lc_given_q_text   nums
60  what was the quality of the moving costs assistance received?  21-22
=======
Q4_E (1 questions):                                            lc_given_q_text   nums
61  did you need assistance purchasing emergency supplies?  21-22
=======
Q4_E2 (1 questions):                                                                    lc_given_q_text  \
62  what was the quality of the emergency supplies purchasing assistance received?

     nums
62  21-22
=======
Q5 (1 questions):                                                                                                                                                                      lc_given_q_text  \
64  since you started receiving services from this supportive services provider, was there a time\nwhen your income decreased so much that it became hard to pay your housing costs?

     nums
64  21-22
=======
EXPERIENCE (1 questions):                                                                                                                                              lc_given_q_text  \
68  do you have any positive or negative experiences you had with the ssvf agency or\nssvf staff who helped you that you would like to provide comments on?

     nums
68  21-22
=======
Q11A (1 questions):                                                                    lc_given_q_text  \
69  do you have any additional suggestions as to how to improve the ssvf program?

     nums
69  21-22
=======
Q13 (1 questions):                   lc_given_q_text   nums
70  what race do you identify as?  21-22
=======
Q14 (1 questions):                        lc_given_q_text   nums
71  what ethnicity do you identify as?  21-22
=======
Q15 (1 questions):                    lc_given_q_text   nums
72  do you consider yourself to be  21-22
=======
Q16 (1 questions):          lc_given_q_text   nums
73  what is your gender?  21-22
=======
RESPONSEID (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
RESPONSESET (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
IPADDRESS (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
STARTDATE (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
ENDDATE (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
RECIPIENTLASTNAME (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
RECIPIENTFIRSTNAME (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
RECIPIENTEMAIL (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
EXTERNALDATAREFERENCE (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
FINISHED (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
STATUS (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
VA CELL PHONE (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
RESPONSE ID (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
TIMESTAMP MM/DD/YYYY (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
CUSTOM VARIABLE 1 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
CUSTOM VARIABLE 2 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
CUSTOM VARIABLE 3 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
CUSTOM VARIABLE 4 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
RESPONDENT EMAIL (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
REGION (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
HOW MANY PEOPLE ARE IN THE VETERANS HOUSEHOLD INCLUDING THE VETERAN (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
VETERANS FIRST NAME IF FIRST NAME IS NOT PROVIDED  PLEASE TYPE (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
VETERANS EMAIL ADDRESS YOURNAME.COM (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
CELL PHONE XXX-XXX-XXXX 1-999-999-9999 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
USERAGENT (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q_URL (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q35 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
QIS (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
QIVA (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
F37 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8 INTO (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.1-1A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.1-1B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.1-1C_1 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.2-2A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.2-2B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.2-2C_1 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-A_1 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-A_2 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-A_3 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-A_4 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-A_5 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q8.3-A_6 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]

TIMESTAMP (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
GRANT_ID (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
LEGAL_NAME (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
FNAME (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
PHONE (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
REMAIL (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_1_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_1_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_1_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_2_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_2_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_2_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_1_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_2_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_3_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_4_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_5_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_6_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_7_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_8_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_1_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_2_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_3_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_4_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_5_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_6_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_7_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_8_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_1_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_2_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_3_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_4_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_5_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_6_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_7_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3_8_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_1_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_2_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_3_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_4_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_5_A (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_1_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_2_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_3_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_4_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_5_B (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_1_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_2_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_3_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_4_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_4_5_C (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
DATERANGE (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
UNIQUEID (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
GRANTEEID (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
MODE (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
LTCALLDT (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
LTCALLST (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
CALLDURS (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
CALLDURM (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
TOTALTIME (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
LTCALLR (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
LTCASER (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
DATE (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
HOUSEHOLD (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
HEALTHCARE (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
HEALTHCARE2 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q1 NUM (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q3_3G2 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
INT99 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
Q12 (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======
INT (0 questions): Empty DataFrame
Columns: [lc_given_q_text, nums]
Index: []
=======

In [40]:
#Cool. I checked the question count manually  they are the same, normalized or not.

In [41]:
#This is monotonous work. Let's check the loop above.
#Then, let's use higher logic to write a script that determines which questions don't have text.
#When I'm tired, I'll hop to the monotony.

In [42]:
#I think I'll first assign each manifestation of a question (observation) a mani_q_id with reset_index.

#1. I want to know which Q labels with a source_type of "table" don't have a Q label with a source type of "pdf,"
#especially where percent_nonnull is not na and is > 0. #TAKING THIS BELOW

#2. I also want to know which Q labels with a source_type of "table" have a more than one Q label with
#a source type of "pdf"



#For 2., I need to count Q labels and apply those counts to a column in the main chart.
#Then, I'll create a new table with the mani_q_id, Q labels that are == "table" and 
#For this table, I'll say use lambda df: df["given_q_label"].

#I'll also create a column called "definition_exists" with Boolean values.
#For this column, I'll

(
    dlp_qs
    [dlp_qs["source_type"] == "table"]
    ["given_q_label"]
)

#I see.

77                                                              ResponseID
78                                                             ResponseSet
79                                                               IPAddress
80                                                               StartDate
81                                                                 EndDate
82                                                       RecipientLastName
83                                                      RecipientFirstName
84                                                          RecipientEmail
85                                                   ExternalDataReference
86                                                                Finished
87                                                                  Status
88                                                           va Cell Phone
89                                                             Response ID
90                                                    Timestamp MM/dd/yyyy
91                                                       Custom Variable 1
92                                                       Custom Variable 2
93                                                       Custom Variable 3
94                                                       Custom Variable 4
95                                                        Respondent Email
96                                                                  Region
97     How many people are in the veterans household including the veteran
98          Veterans First Name if first name is not provided  please type
99                                     Veterans Email Address yourname.com
100                                 Cell Phone XXX-XXX-XXXX 1-999-999-9999
101                                                              UserAgent
102                                                                  Q_URL
103                                                                    Q35
104                                                                    QIS
105                                                                   QIVA
106                                                                     Q1
107                                                                     Q2
108                                                                     Q3
109                                                                     Q4
110                                                                     Q5
111                                                                     Q6
112                                                                     Q7
113                                                                    F37
114                                                                Q8 into
115                                                                Q8.1-1a
116                                                                Q8.1-1b
117                                                              Q8.1-1c_1
118                                                                Q8.2-2a
119                                                                Q8.2-2b
120                                                              Q8.2-2c_1
121                                                               Q8.3-a_1
122                                                               Q8.3-a_2
123                                                               Q8.3-a_3
124                                                               Q8.3-a_4
125                                                               Q8.3-a_5
126                                                               Q8.3-a_6
127                                                               Q8.3-a_7
128                                                               Q8.3-a_8
129                                                               Q8.3-b_1
130                                                               Q8.3-b_2
131                                                               Q8.3-b_3
132                                                               Q8.3-b_4
133                                                               Q8.3-b_5
134                                                               Q8.3-b_6
135                                                               Q8.3-b_7
136                                                               Q8.3-b_8
137                                                               Q8.3-c_1
138                                                               Q8.3-c_2
139                                                               Q8.3-c_3
140                                                               Q8.3-c_4
141                                                               Q8.3-c_5
142                                                               Q8.3-c_6
143                                                               Q8.3-c_7
144                                                               Q8.3-c_8
145                                                               Q8.4-a_1
146                                                               Q8.4-a_2
147                                                               Q8.4-a_3
148                                                               Q8.4-a_4
149                                                               Q8.4-a_5
150                                                               Q8.4-a_6
151                                                          Q8.4-a_6_TEXT
152                                                               Q8.4-b_1
153                                                               Q8.4-b_2
154                                                               Q8.4-b_3
155                                                               Q8.4-b_4
156                                                               Q8.4-b_5
157                                                               Q8.4-b_6
158                                                          Q8.4-b_6_TEXT
159                                                               Q8.4-c_1
160                                                               Q8.4-c_2
161                                                               Q8.4-c_3
162                                                               Q8.4-c_4
163                                                               Q8.4-c_5
164                                                               Q8.4-c_6
165                                                          Q8.4-c_6_TEXT
166                                                                    Q15
167                                                                    Q16
168                                                                    Q17
169                                                                    Q18
170                                                               Negative
171                                                             date range
172                                                             ResponseID
173                                                                    PIN
174                                                              Timestamp
175                                                               GRANT_ID
176                                                             LEGAL_NAME
177                                                                  FNAME
178                                                                  PHONE
179                                                                 REMAIL
180                                                                     QA
181                                                                     QB
182                                                                     QC
183                                                                     Q1
184                                                                     Q2
185                                                                    Q2A
186                                                                 Q3_1_A
187                                                                 Q3_1_B
188                                                                 Q3_1_C
189                                                                 Q3_2_A
190                                                                 Q3_2_B
191                                                                 Q3_2_C
192                                                               Q3_3_1_A
193                                                               Q3_3_2_A
194                                                               Q3_3_3_A
195                                                               Q3_3_4_A
196                                                               Q3_3_5_A
197                                                               Q3_3_6_A
198                                                               Q3_3_7_A
199                                                               Q3_3_8_A
200                                                               Q3_3_1_B
201                                                               Q3_3_2_B
202                                                               Q3_3_3_B
203                                                               Q3_3_4_B
204                                                               Q3_3_5_B
205                                                               Q3_3_6_B
206                                                               Q3_3_7_B
207                                                               Q3_3_8_B
208                                                               Q3_3_1_C
209                                                               Q3_3_2_C
210                                                               Q3_3_3_C
211                                                               Q3_3_4_C
212                                                               Q3_3_5_C
213                                                               Q3_3_6_C
214                                                               Q3_3_7_C
215                                                               Q3_3_8_C
216                                                               Q3_4_1_A
217                                                               Q3_4_2_A
218                                                               Q3_4_3_A
219                                                               Q3_4_4_A
220                                                               Q3_4_5_A
221                                                               Q3_4_1_B
222                                                               Q3_4_2_B
223                                                               Q3_4_3_B
224                                                               Q3_4_4_B
225                                                               Q3_4_5_B
226                                                               Q3_4_1_C
227                                                               Q3_4_2_C
228                                                               Q3_4_3_C
229                                                               Q3_4_4_C
230                                                               Q3_4_5_C
231                                                                     Q4
232                                                                     Q5
233                                                                     Q6
234                                                                     Q7
235                                                                     Q8
236                                                                     Q9
237                                                                    Q10
238                                                                    Q11
239                                                              DateRange
240                                                               UNIQUEID
241                                                              GRANTEEID
242                                                                   MODE
243                                                               LtCallDt
244                                                               LtCallST
245                                                               CallDurS
246                                                               CallDurM
247                                                              TotalTime
248                                                                LtCallR
249                                                                LtCaseR
250                                                                   Date
251                                                              HOUSEHOLD
252                                                             HEALTHCARE
253                                                            HEALTHCARE2
254                                                                     Q1
255                                                                 Q1 Num
256                                                                     Q2
257                                                                    Q2A
258                                                                   Q3_1
259                                                                  Q3_1B
260                                                                   Q3_2
261                                                                  Q3_2B
262                                                                  Q3_3A
263                                                                 Q3_3A2
264                                                                  Q3_3B
265                                                                 Q3_3B2
266                                                                  Q3_3C
267                                                                 Q3_3C2
268                                                                  Q3_3D
269                                                                 Q3_3D2
270                                                                  Q3_3E
271                                                                 Q3_3E2
272                                                                  Q3_3F
273                                                                 Q3_3F2
274                                                                  Q3_3G
275                                                                 Q3_3G2
276                                                                  Q3_3H
277                                                                 Q3_3H2
278                                                                   Q4_A
279                                                                  Q4_A2
280                                                                   Q4_B
281                                                                  Q4_B2
282                                                                   Q4_C
283                                                                  Q4_C2
284                                                                   Q4_D
285                                                                  Q4_D2
286                                                                   Q4_E
287                                                                  Q4_E2
288                                                                     Q4
289                                                                     Q5
290                                                                     Q6
291                                                                     Q7
292                                                                     Q8
293                                                             EXPERIENCE
294                                                                     Q9
295                                                                    Q10
296                                                                   Q11A
297                                                                    Q11
298                                                                    Q13
299                                                                    Q14
300                                                                    Q15
301                                                                    Q16
302                                                                  INT99
303                                                                    Q12
304                                                                    INT
Name: given_q_label, dtype: object

In [43]:
notnorm_q_label_counts = (
    dlp_qs["given_q_label"]
    .value_counts()
    .to_frame()
    .reset_index()
)
notnorm_q_label_counts.head()

  given_q_label  count
0            Q1      8
1            Q7      8
2            Q2      6
3            Q4      6
4            Q8      6

In [48]:
#Let's check if normalizing the value_counts' letter casing changes anything.
norm_q_label_counts = (
    dlp_qs["given_q_label"]
    .str.upper()
    .value_counts()
    .to_frame()
    .reset_index()
)
norm_q_label_counts.head()

  given_q_label  count
0            Q1      8
1            Q7      8
2            Q2      6
3            Q4      6
4            Q8      6

In [49]:
(norm_q_label_counts == q_label_counts_notnorm).value_counts()
#OK, the count is different if you normalize letters. So, I'll add both counts to the main chart

NameError: name 'q_label_counts_notnorm' is not defined

In [50]:
dlp_qs = dlp_qs.merge(notnorm_q_label_counts).rename(columns={"count" : "notnorm_q_label_count"})
dlp_qs.head()

,given_q_label,given_q_text,source_type,nums,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,lc_given_q_text,notnorm_q_label_count
0,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,16,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.,how would you rate the quality of the services you have\nreceived from this supportive services provider?,8
1,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,17,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.,how would you rate the quality of the services you have\nreceived from this supportive services provider?,8
2,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,18,NaN,NaN,NaN,NaN,NaN,NaN,how would you rate the quality of the services you have\nreceived from this supportive services provider?,8
3,Q1,How would you rate the quality of the services you have received from this supportive services provider?,pdf,20,NaN,NaN,NaN,NaN,NaN,NaN,how would you rate the quality of the services you have received from this supportive services provider?,8
4,Q1,HOW WOULD YOU RATE THE QUALITY OF SERVICES YOU HAVE RECEIVED FROM THIS SSVF AGENCY?,pdf,21-22,NaN,NaN,NaN,NaN,NaN,NaN,how would you rate the quality of services you have received from this ssvf agency?,8

In [51]:
#Let's merge the norm count. We have to normalize the labels before we merge.

In [52]:
norm_q_label_counts.head()

  given_q_label  count
0            Q1      8
1            Q7      8
2            Q2      6
3            Q4      6
4            Q8      6

In [53]:
counted_dlp_qs = (
    norm_q_label_counts
    .assign(norm_dlp_q_label = ( #this will be the key column they'll merge on
        lambda df: (
            df["given_q_label"]
        ))) #end of assignment
    .drop(columns=["given_q_label"])
    .merge
(
    dlp_qs
    .assign(
    norm_dlp_q_label = lambda df: (
        df["given_q_label"]
        .str.upper()
    ) #end of this column's assignment
    ) #end of assign function
    ,
    on="norm_dlp_q_label"
)
    .rename(columns={"count" : "norm_q_label_count"})
    [[
        "given_q_label",
        "given_q_text",
        "source_type",
        "nums",
        "percent_nonnull",
        "consistent/inconsistent",
        "dlp_std_q",
        "dlp_id_for_std_q",
        "dlp_qid_all_qs (index)",
        "notes",
        "lc_given_q_text",
        "norm_dlp_q_label",
        "norm_q_label_count",
        "notnorm_q_label_count"
        
    ]]
)

counted_dlp_qs.head()

,given_q_label,given_q_text,source_type,nums,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,lc_given_q_text,norm_dlp_q_label,norm_q_label_count,notnorm_q_label_count
0,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,16,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.,how would you rate the quality of the services you have\nreceived from this supportive services provider?,Q1,8,8
1,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,17,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.,how would you rate the quality of the services you have\nreceived from this supportive services provider?,Q1,8,8
2,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,18,NaN,NaN,NaN,NaN,NaN,NaN,how would you rate the quality of the services you have\nreceived from this supportive services provider?,Q1,8,8
3,Q1,How would you rate the quality of the services you have received from this supportive services provider?,pdf,20,NaN,NaN,NaN,NaN,NaN,NaN,how would you rate the quality of the services you have received from this supportive services provider?,Q1,8,8
4,Q1,HOW WOULD YOU RATE THE QUALITY OF SERVICES YOU HAVE RECEIVED FROM THIS SSVF AGENCY?,pdf,21-22,NaN,NaN,NaN,NaN,NaN,NaN,how would you rate the quality of services you have received from this ssvf agency?,Q1,8,8

In [54]:
(
    dlp_qs
    [dlp_qs
    ["source_type"] == "pdf"]
    ["given_q_label"]
    .str.upper()
    .value_counts()
)

given_q_label
Q1            5
Q7            5
Q8            4
Q6            3
Q2            3
Q10           3
Q9            3
Q11           3
Q4            3
Q6ABC         2
Q3            2
Q4_D          1
Q3_3H         1
Q3_3H2        1
Q4_A          1
Q4_A2         1
Q4_B          1
Q4_B2         1
Q4_C          1
Q4_C2         1
EXPERIENCE    1
Q4_D2         1
Q4_E          1
Q4_E2         1
Q5            1
Q3_3G         1
Q11A          1
Q13           1
Q14           1
Q15           1
Q3_3G2        1
Q3_3D2        1
Q3_3F2        1
Q3_3F         1
QA            1
QB            1
QC            1
Q2A           1
Q3_1          1
Q3_1B         1
Q3_2          1
Q3_2B         1
Q3_3A         1
Q3_3A2        1
Q3_3B         1
Q3_3B2        1
Q3_3C         1
Q3_3C2        1
Q3_3D         1
Q3_3E         1
Q3_3E2        1
Q16           1
Name: count, dtype: int64

In [55]:
#I had an idea in the car ... I think it had to do with tidying while using the code above.
#Perhaps using the made-up id to follow around the counts for the pdfs and for the tables
#and then merging back.

In [64]:
counted_dlp_qs = counted_dlp_qs.reset_index(drop=True).reset_index(names="dlp_id")

ValueError: cannot insert dlp_id, already exists

In [126]:
counted_dlp_qs.head()

,dlp_id,given_q_label,given_q_text,source_type,nums,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,lc_given_q_text,norm_dlp_q_label,norm_q_label_count,notnorm_q_label_count
0,0,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,16,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.,how would you rate the quality of the services you have\nreceived from this supportive services provider?,Q1,8,8
1,1,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,17,NaN,NaN,NaN,NaN,NaN,The PDF looks at Qs1 thru 4 together.,how would you rate the quality of the services you have\nreceived from this supportive services provider?,Q1,8,8
2,2,Q1,How would you rate the quality of the services you have\nreceived from this supportive services provider?,pdf,18,NaN,NaN,NaN,NaN,NaN,NaN,how would you rate the quality of the services you have\nreceived from this supportive services provider?,Q1,8,8
3,3,Q1,How would you rate the quality of the services you have received from this supportive services provider?,pdf,20,NaN,NaN,NaN,NaN,NaN,NaN,how would you rate the quality of the services you have received from this supportive services provider?,Q1,8,8
4,4,Q1,HOW WOULD YOU RATE THE QUALITY OF SERVICES YOU HAVE RECEIVED FROM THIS SSVF AGENCY?,pdf,21-22,NaN,NaN,NaN,NaN,NaN,NaN,how would you rate the quality of services you have received from this ssvf agency?,Q1,8,8

In [56]:
# len(
#     dlp_qs[
#         (dlp_qs["source_type"] == "table")
#         &
#         (dlp_qs["source_type"] != "pdf")
#     ])
#Previously outputted 228.

In [57]:
#PASTING THIS FROM ABOVE:
#I think I'll first assign each manifestation of a question (observation) a mani_q_id with reset_index.

#1. I want to know which Q labels with a source_type of "table" don't have a Q label with a source type of "pdf,"
#especially where percent_nonnull is not na and is > 0. 


#For this, I'll check if every given_q_label value with a source type of "pdf" appears in any given_q_label
#with a source type of "table."

In [72]:
(
    counted_dlp_qs
    [counted_dlp_qs["source_type"] == "table"]
    ["given_q_label"]
    .isin(
        counted_dlp_qs
        [counted_dlp_qs["source_type"] == "pdf"]
        ["given_q_label"]
    )
).value_counts()
#The false values are how many "pdf" values don't exist in the "table" column

given_q_label
False    159
True      69
Name: count, dtype: int64

In [109]:
#Let's identify them:
filter_pdfs_in_tables = (
    counted_dlp_qs
    [counted_dlp_qs["source_type"] == "table"]
    ["given_q_label"]
    .isin(
        counted_dlp_qs
        [counted_dlp_qs["source_type"] == "pdf"]
        ["given_q_label"]
    )
)

In [104]:
counted_dlp_qs[filter_pdfs_in_tables]
#Let's try to fix this ...

/var/folders/cl/myc9mwnx15nbmsd02f_ct27h0000gn/T/ipykernel_1937/1448543900.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  counted_dlp_qs[filter_pdfs_in_tables]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [108]:
filter_pdfs_in_tables.index

Index([  5,   6,   7,  13,  14,  15,  19,  20,  21,  25,
       ...
       295, 296, 297, 298, 299, 300, 301, 302, 303, 304],
      dtype='int64', length=228)

In [115]:
index_of_pdf_in_table_filter = filter_pdfs_in_tables.index
(
    counted_dlp_qs.loc[
        index_of_pdf_in_table_filter, :]
    [filter_pdfs_in_tables]
)
#I actually need the reverse. Let's add a ~ into that final filter:

69

In [127]:
qs_not_in_pdfs = (
    counted_dlp_qs
    .loc[
        index_of_pdf_in_table_filter, :]
    [~filter_pdfs_in_tables]
#     .loc[lambda df: (
#         df["given_q_label"]
#         .str.contains("Q"))]
#     .loc[lambda df: (
#         ~df["given_q_label"]
#         .str.contains("Q"))]
)
qs_not_in_pdfs

#OH SHIT. I NEEDED TO REVERSE THE INDEX, TOO. I'LL DO THAT IN THE
#NEXT DOC.

,dlp_id,given_q_label,given_q_text,source_type,nums,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,lc_given_q_text,norm_dlp_q_label,norm_q_label_count,notnorm_q_label_count
103,103,ResponseID,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,Bolded means likely a relevant question,NaN,RESPONSEID,2,2
104,104,ResponseID,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONSEID,2,2
147,147,Q3_3_4_A,NaN,table,18-20,86.56,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_4_A,1,1
148,148,Q3_3_2_B,NaN,table,18-20,84.89,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_2_B,1,1
149,149,Q3_3_5_A,NaN,table,18-20,86.96,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_5_A,1,1
150,150,Q3_3_6_A,NaN,table,18-20,85.83,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_6_A,1,1
151,151,Q3_3_7_A,NaN,table,18-20,85.05,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_7_A,1,1
152,152,Q3_3_8_A,NaN,table,18-20,87.40,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_8_A,1,1
153,153,Q3_3_1_B,NaN,table,18-20,87.29,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_1_B,1,1
154,154,Q8.4-c_6_TEXT,NaN,table,16-17,8.17,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_6_TEXT,1,1
155,155,Q3_3_3_B,NaN,table,18-20,84.80,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_3_B,1,1
156,156,Q3_3_4_B,NaN,table,18-20,84.68,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_4_B,1,1
157,157,Q3_3_5_B,NaN,table,18-20,84.70,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_5_B,1,1
158,158,Q3_3_6_B,NaN,table,18-20,84.06,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_6_B,1,1
159,159,Q3_3_7_B,NaN,table,18-20,83.49,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_7_B,1,1
160,160,Q3_3_8_B,NaN,table,18-20,84.92,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_8_B,1,1
161,161,Q3_3_1_C,NaN,table,18-20,31.71,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_1_C,1,1
162,162,Q3_3_2_A,NaN,table,18-20,86.49,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_2_A,1,1
163,163,Q3_3_2_C,NaN,table,18-20,30.11,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_2_C,1,1
164,164,Q3_3_3_A,NaN,table,18-20,86.47,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_3_A,1,1
165,165,FNAME,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,FNAME,1,1
166,166,Q3_3_1_A,NaN,table,18-20,89.83,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_1_A,1,1
167,167,GRANT_ID,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,GRANT_ID,1,1
168,168,Q3_3_4_C,NaN,table,18-20,24.85,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_4_C,1,1
169,169,Q17,NaN,table,16-17,86.36,NaN,NaN,NaN,NaN,NaN,NaN,Q17,1,1
170,170,Q18,NaN,table,16-17,37.43,NaN,NaN,NaN,NaN,NaN,NaN,Q18,1,1
171,171,Negative,NaN,table,16-17,13.69,NaN,NaN,NaN,NaN,NaN,NaN,NEGATIVE,1,1
172,172,date range,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,DATE RANGE,1,1
173,173,PIN,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,PIN,1,1
174,174,Timestamp,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,TIMESTAMP,1,1
175,175,LEGAL_NAME,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,LEGAL_NAME,1,1
176,176,Q3_2_C,NaN,table,18-20,42.66,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2_C,1,1
177,177,PHONE,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,PHONE,1,1
178,178,REMAIL,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,REMAIL,1,1
179,179,Q3_1_A,NaN,table,18-20,95.16,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1_A,1,1
180,180,Q3_1_B,NaN,table,18-20,93.34,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1_B,1,1
181,181,Q3_1_C,NaN,table,18-20,75.81,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1_C,1,1
182,182,Q3_2_A,NaN,table,18-20,93.65,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2_A,1,1
183,183,Q3_2_B,NaN,table,18-20,92.33,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2_B,1,1
184,184,Q3_3_3_C,NaN,table,18-20,30.37,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_3_C,1,1
185,185,LtCallST,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,LTCALLST,1,1
186,186,Q3_3_5_C,NaN,table,18-20,34.06,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_5_C,1,1
187,187,LtCaseR,NaN,table,21-22,5.91,NaN,NaN,NaN,NaN,NaN,NaN,LTCASER,1,1
188,188,MODE,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,MODE,1,1
189,189,LtCallDt,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,LTCALLDT,1,1
190,190,Q8.4-c_5,NaN,table,16-17,27.45,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_5,1,1
191,191,CallDurS,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CALLDURS,1,1
192,192,CallDurM,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CALLDURM,1,1
193,193,TotalTime,NaN,table,21-22,93.73,NaN,NaN,NaN,NaN,NaN,NaN,TOTALTIME,1,1
194,194,LtCallR,NaN,table,21-22,5.93,NaN,NaN,NaN,NaN,NaN,NaN,LTCALLR,1,1
195,195,Date,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,DATE,1,1
196,196,UNIQUEID,NaN,table,21-22,0.00,NaN,NaN,NaN,NaN,NaN,NaN,UNIQUEID,1,1
197,197,HOUSEHOLD,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,HOUSEHOLD,1,1
198,198,HEALTHCARE,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,HEALTHCARE,1,1
199,199,HEALTHCARE2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,HEALTHCARE2,1,1
200,200,Q1 Num,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q1 NUM,1,1
201,201,Q3_3G2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3G2,1,1
202,202,INT99,NaN,table,21-22,5.56,NaN,NaN,NaN,NaN,NaN,NaN,INT99,1,1
203,203,Q12,NaN,table,21-22,4.78,NaN,NaN,NaN,NaN,NaN,NaN,Q12,1,1
204,204,GRANTEEID,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,GRANTEEID,1,1
205,205,DateRange,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,DATERANGE,1,1
206,206,Q3_3_6_C,NaN,table,18-20,12.37,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_6_C,1,1
207,207,Q3_4_1_B,NaN,table,18-20,85.75,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_1_B,1,1
208,208,Q3_3_7_C,NaN,table,18-20,2.91,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_7_C,1,1
209,209,Q3_3_8_C,NaN,table,18-20,43.15,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_8_C,1,1
210,210,Q3_4_1_A,NaN,table,18-20,86.86,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_1_A,1,1
211,211,Q3_4_2_A,NaN,table,18-20,84.97,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_2_A,1,1
212,212,Q3_4_3_A,NaN,table,18-20,85.08,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_3_A,1,1
213,213,Q3_4_4_A,NaN,table,18-20,84.53,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_4_A,1,1
214,214,Q3_4_5_A,NaN,table,18-20,84.62,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_5_A,1,1
215,215,Q3_4_2_B,NaN,table,18-20,83.94,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_2_B,1,1
216,216,Q3_4_5_C,NaN,table,18-20,21.90,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_5_C,1,1
217,217,Q3_4_3_B,NaN,table,18-20,84.07,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_3_B,1,1
218,218,Q3_4_4_B,NaN,table,18-20,83.52,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_4_B,1,1
219,219,Q3_4_5_B,NaN,table,18-20,83.48,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_5_B,1,1
220,220,Q3_4_1_C,NaN,table,18-20,60.99,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_1_C,1,1
221,221,Q3_4_2_C,NaN,table,18-20,31.34,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_2_C,1,1
222,222,Q3_4_3_C,NaN,table,18-20,43.97,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_3_C,1,1
223,223,Q3_4_4_C,NaN,table,18-20,14.54,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_4_C,1,1
224,224,Q8.4-c_6,NaN,table,16-17,16.52,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_6,1,1
225,225,Q8.3-c_1,NaN,table,16-17,38.95,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_1,1,1
226,226,Q8.4-c_4,NaN,table,16-17,22.24,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_4,1,1
227,227,QIS,NaN,table,16-17,98.29,NaN,NaN,NaN,NaN,NaN,NaN,QIS,1,1
228,228,How many people are in the veterans household including the veteran,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,HOW MANY PEOPLE ARE IN THE VETERANS HOUSEHOLD INCLUDING THE VETERAN,1,1
229,229,Veterans First Name if first name is not provided please type,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,VETERANS FIRST NAME IF FIRST NAME IS NOT PROVIDED PLEASE TYPE,1,1
230,230,Veterans Email Address yourname.com,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,VETERANS EMAIL ADDRESS YOURNAME.COM,1,1
231,231,Cell Phone XXX-XXX-XXXX 1-999-999-9999,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,CELL PHONE XXX-XXX-XXXX 1-999-999-9999,1,1
232,232,UserAgent,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,USERAGENT,1,1
233,233,Q_URL,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,Q_URL,1,1
234,234,Q35,NaN,table,16-17,95.95,NaN,NaN,NaN,NaN,NaN,NaN,Q35,1,1
235,235,QIVA,NaN,table,16-17,99.62,NaN,NaN,NaN,NaN,NaN,NaN,QIVA,1,1
236,236,Respondent Email,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONDENT EMAIL,1,1
237,237,F37,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,F37,1,1
238,238,Q8 into,NaN,table,16-17,40.80,NaN,NaN,NaN,NaN,NaN,NaN,Q8 INTO,1,1
239,239,Q8.1-1a,NaN,table,16-17,94.02,NaN,NaN,NaN,NaN,NaN,NaN,Q8.1-1A,1,1
240,240,Q8.1-1b,NaN,table,16-17,93.06,NaN,NaN,NaN,NaN,NaN,NaN,Q8.1-1B,1,1
241,241,Q8.1-1c_1,NaN,table,16-17,80.49,NaN,NaN,NaN,NaN,NaN,NaN,Q8.1-1C_1,1,1
242,242,Q8.2-2a,NaN,table,16-17,92.98,NaN,NaN,NaN,NaN,NaN,NaN,Q8.2-2A,1,1
243,243,Q8.2-2b,NaN,table,16-17,92.17,NaN,NaN,NaN,NaN,NaN,NaN,Q8.2-2B,1,1
244,244,Region,NaN,table,16-17,81.60,NaN,NaN,NaN,NaN,NaN,NaN,REGION,1,1
245,245,Custom Variable 4,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 4,1,1
246,246,Q8.3-a_1,NaN,table,16-17,85.29,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_1,1,1
247,247,RecipientEmail,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RECIPIENTEMAIL,1,1
249,249,ResponseSet,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONSESET,1,1
250,250,IPAddress,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,IPADDRESS,1,1
251,251,StartDate,NaN,table,16-17,45.84,NaN,NaN,NaN,NaN,NaN,NaN,STARTDATE,1,1
252,252,EndDate,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,ENDDATE,1,1
253,253,RecipientLastName,NaN,table,16-17,7.14,NaN,NaN,NaN,NaN,NaN,NaN,RECIPIENTLASTNAME,1,1
254,254,RecipientFirstName,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RECIPIENTFIRSTNAME,1,1
255,255,ExternalDataReference,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,EXTERNALDATAREFERENCE,1,1
256,256,Custom Variable 3,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 3,1,1
257,257,Finished,NaN,table,16-17,44.52,NaN,NaN,NaN,NaN,NaN,NaN,FINISHED,1,1
258,258,Status,NaN,table,16-17,44.52,NaN,NaN,NaN,NaN,NaN,NaN,STATUS,1,1
259,259,va Cell Phone,NaN,table,16-17,7.14,NaN,NaN,NaN,NaN,NaN,NaN,VA CELL PHONE,1,1
260,260,Response ID,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONSE ID,1,1
261,261,Timestamp MM/dd/yyyy,NaN,table,16-17,53.46,NaN,NaN,NaN,NaN,NaN,NaN,TIMESTAMP MM/DD/YYYY,1,1
262,262,Custom Variable 1,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 1,1,1
263,263,Custom Variable 2,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 2,1,1
264,264,Q8.2-2c_1,NaN,table,16-17,51.08,NaN,NaN,NaN,NaN,NaN,NaN,Q8.2-2C_1,1,1
265,265,Q8.3-a_2,NaN,table,16-17,83.71,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_2,1,1
266,266,Q8.4-c_3,NaN,table,16-17,52.31,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_3,1,1
267,267,Q8.4-b_1,NaN,table,16-17,84.47,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_1,1,1
268,268,Q8.4-a_1,NaN,table,16-17,87.17,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_1,1,1
269,269,Q8.4-a_2,NaN,table,16-17,83.85,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_2,1,1
270,270,Q8.4-a_3,NaN,table,16-17,84.71,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_3,1,1
271,271,Q8.4-a_4,NaN,table,16-17,81.48,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_4,1,1
272,272,Q8.4-a_5,NaN,table,16-17,81.56,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_5,1,1
273,273,Q8.4-a_6,NaN,table,16-17,58.94,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_6,1,1
274,274,Q8.4-a_6_TEXT,NaN,table,16-17,14.27,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_6_TEXT,1,1
275,275,Q8.4-b_2,NaN,table,16-17,79.39,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_2,1,1
276,276,Q8.3-c_7,NaN,table,16-17,12.51,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_7,1,1
277,277,Q8.4-b_3,NaN,table,16-17,81.36,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_3,1,1
278,278,Q8.4-b_4,NaN,table,16-17,75.94,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_4,1,1
279,279,Q8.4-b_5,NaN,table,16-17,76.84,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_5,1,1
280,280,Q8.4-b_6,NaN,table,16-17,58.26,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_6,1,1
281,281,Q8.4-b_6_TEXT,NaN,table,16-17,10.26,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_6_TEXT,1,1
282,282,Q8.4-c_1,NaN,table,16-17,66.23,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_1,1,1
283,283,Q8.4-c_2,NaN,table,16-17,39.66,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_2,1,1
284,284,Q8.3-c_8,NaN,table,16-17,52.23,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_8,1,1
285,285,Q8.3-c_6,NaN,table,16-17,20.73,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_6,1,1
286,286,Q8.3-a_3,NaN,table,16-17,83.18,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_3,1,1
287,287,Q8.3-b_3,NaN,table,16-17,77.80,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_3,1,1
288,288,Q8.3-a_4,NaN,table,16-17,83.10,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_4,1,1
289,289,Q8.3-a_5,NaN,table,16-17,84.68,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_5,1,1
290,290,Q8.3-a_6,NaN,table,16-17,80.82,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_6,1,1
291,291,Q8.3-a_7,NaN,table,16-17,78.45,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_7,1,1
292,292,Q8.3-a_8,NaN,table,16-17,83.32,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_8,1,1
293,293,Q8.3-b_1,NaN,table,16-17,77.96,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_1,1,1
294,294,Q8.3-b_2,NaN,table,16-17,77.68,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_2,1,1
295,295,Q8.3-b_4,NaN,table,16-17,77.43,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_4,1,1
296,296,Q8.3-c_5,NaN,table,16-17,43.10,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_5,1,1
297,297,Q8.3-b_5,NaN,table,16-17,78.73,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_5,1,1
298,298,Q8.3-b_6,NaN,table,16-17,74.27,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_6,1,1
299,299,Q8.3-b_7,NaN,table,16-17,71.62,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_7,1,1
300,300,Q8.3-b_8,NaN,table,16-17,79.56,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_8,1,1
301,301,Q8.3-c_2,NaN,table,16-17,38.39,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_2,1,1
302,302,Q8.3-c_3,NaN,table,16-17,38.36,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_3,1,1
303,303,Q8.3-c_4,NaN,table,16-17,33.68,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_4,1,1
304,304,INT,NaN,table,21-22,94.01,NaN,NaN,NaN,NaN,NaN,NaN,INT,1,1

In [134]:
qs_containing_Q_not_in_pdfs = (
    qs_not_in_pdfs
    .loc[lambda df: (
        df["given_q_label"]
        .str.contains("Q"))]
)
qs_containing_Q_not_in_pdfs
#Note: There are a few exceptions. The main one is 
#"UNIQUEID." Let's point that out to Jeremy.

,dlp_id,given_q_label,given_q_text,source_type,nums,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,lc_given_q_text,norm_dlp_q_label,norm_q_label_count,notnorm_q_label_count
147,147,Q3_3_4_A,NaN,table,18-20,86.56,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_4_A,1,1
148,148,Q3_3_2_B,NaN,table,18-20,84.89,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_2_B,1,1
149,149,Q3_3_5_A,NaN,table,18-20,86.96,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_5_A,1,1
150,150,Q3_3_6_A,NaN,table,18-20,85.83,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_6_A,1,1
151,151,Q3_3_7_A,NaN,table,18-20,85.05,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_7_A,1,1
152,152,Q3_3_8_A,NaN,table,18-20,87.40,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_8_A,1,1
153,153,Q3_3_1_B,NaN,table,18-20,87.29,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_1_B,1,1
154,154,Q8.4-c_6_TEXT,NaN,table,16-17,8.17,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_6_TEXT,1,1
155,155,Q3_3_3_B,NaN,table,18-20,84.80,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_3_B,1,1
156,156,Q3_3_4_B,NaN,table,18-20,84.68,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_4_B,1,1
157,157,Q3_3_5_B,NaN,table,18-20,84.70,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_5_B,1,1
158,158,Q3_3_6_B,NaN,table,18-20,84.06,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_6_B,1,1
159,159,Q3_3_7_B,NaN,table,18-20,83.49,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_7_B,1,1
160,160,Q3_3_8_B,NaN,table,18-20,84.92,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_8_B,1,1
161,161,Q3_3_1_C,NaN,table,18-20,31.71,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_1_C,1,1
162,162,Q3_3_2_A,NaN,table,18-20,86.49,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_2_A,1,1
163,163,Q3_3_2_C,NaN,table,18-20,30.11,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_2_C,1,1
164,164,Q3_3_3_A,NaN,table,18-20,86.47,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_3_A,1,1
166,166,Q3_3_1_A,NaN,table,18-20,89.83,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_1_A,1,1
168,168,Q3_3_4_C,NaN,table,18-20,24.85,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_4_C,1,1
169,169,Q17,NaN,table,16-17,86.36,NaN,NaN,NaN,NaN,NaN,NaN,Q17,1,1
170,170,Q18,NaN,table,16-17,37.43,NaN,NaN,NaN,NaN,NaN,NaN,Q18,1,1
176,176,Q3_2_C,NaN,table,18-20,42.66,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2_C,1,1
179,179,Q3_1_A,NaN,table,18-20,95.16,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1_A,1,1
180,180,Q3_1_B,NaN,table,18-20,93.34,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1_B,1,1
181,181,Q3_1_C,NaN,table,18-20,75.81,NaN,NaN,NaN,NaN,NaN,NaN,Q3_1_C,1,1
182,182,Q3_2_A,NaN,table,18-20,93.65,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2_A,1,1
183,183,Q3_2_B,NaN,table,18-20,92.33,NaN,NaN,NaN,NaN,NaN,NaN,Q3_2_B,1,1
184,184,Q3_3_3_C,NaN,table,18-20,30.37,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_3_C,1,1
186,186,Q3_3_5_C,NaN,table,18-20,34.06,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_5_C,1,1
190,190,Q8.4-c_5,NaN,table,16-17,27.45,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_5,1,1
196,196,UNIQUEID,NaN,table,21-22,0.00,NaN,NaN,NaN,NaN,NaN,NaN,UNIQUEID,1,1
200,200,Q1 Num,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q1 NUM,1,1
201,201,Q3_3G2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3G2,1,1
203,203,Q12,NaN,table,21-22,4.78,NaN,NaN,NaN,NaN,NaN,NaN,Q12,1,1
206,206,Q3_3_6_C,NaN,table,18-20,12.37,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_6_C,1,1
207,207,Q3_4_1_B,NaN,table,18-20,85.75,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_1_B,1,1
208,208,Q3_3_7_C,NaN,table,18-20,2.91,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_7_C,1,1
209,209,Q3_3_8_C,NaN,table,18-20,43.15,NaN,NaN,NaN,NaN,NaN,NaN,Q3_3_8_C,1,1
210,210,Q3_4_1_A,NaN,table,18-20,86.86,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_1_A,1,1
211,211,Q3_4_2_A,NaN,table,18-20,84.97,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_2_A,1,1
212,212,Q3_4_3_A,NaN,table,18-20,85.08,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_3_A,1,1
213,213,Q3_4_4_A,NaN,table,18-20,84.53,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_4_A,1,1
214,214,Q3_4_5_A,NaN,table,18-20,84.62,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_5_A,1,1
215,215,Q3_4_2_B,NaN,table,18-20,83.94,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_2_B,1,1
216,216,Q3_4_5_C,NaN,table,18-20,21.90,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_5_C,1,1
217,217,Q3_4_3_B,NaN,table,18-20,84.07,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_3_B,1,1
218,218,Q3_4_4_B,NaN,table,18-20,83.52,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_4_B,1,1
219,219,Q3_4_5_B,NaN,table,18-20,83.48,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_5_B,1,1
220,220,Q3_4_1_C,NaN,table,18-20,60.99,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_1_C,1,1
221,221,Q3_4_2_C,NaN,table,18-20,31.34,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_2_C,1,1
222,222,Q3_4_3_C,NaN,table,18-20,43.97,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_3_C,1,1
223,223,Q3_4_4_C,NaN,table,18-20,14.54,NaN,NaN,NaN,NaN,NaN,NaN,Q3_4_4_C,1,1
224,224,Q8.4-c_6,NaN,table,16-17,16.52,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_6,1,1
225,225,Q8.3-c_1,NaN,table,16-17,38.95,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_1,1,1
226,226,Q8.4-c_4,NaN,table,16-17,22.24,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_4,1,1
227,227,QIS,NaN,table,16-17,98.29,NaN,NaN,NaN,NaN,NaN,NaN,QIS,1,1
233,233,Q_URL,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,Q_URL,1,1
234,234,Q35,NaN,table,16-17,95.95,NaN,NaN,NaN,NaN,NaN,NaN,Q35,1,1
235,235,QIVA,NaN,table,16-17,99.62,NaN,NaN,NaN,NaN,NaN,NaN,QIVA,1,1
238,238,Q8 into,NaN,table,16-17,40.80,NaN,NaN,NaN,NaN,NaN,NaN,Q8 INTO,1,1
239,239,Q8.1-1a,NaN,table,16-17,94.02,NaN,NaN,NaN,NaN,NaN,NaN,Q8.1-1A,1,1
240,240,Q8.1-1b,NaN,table,16-17,93.06,NaN,NaN,NaN,NaN,NaN,NaN,Q8.1-1B,1,1
241,241,Q8.1-1c_1,NaN,table,16-17,80.49,NaN,NaN,NaN,NaN,NaN,NaN,Q8.1-1C_1,1,1
242,242,Q8.2-2a,NaN,table,16-17,92.98,NaN,NaN,NaN,NaN,NaN,NaN,Q8.2-2A,1,1
243,243,Q8.2-2b,NaN,table,16-17,92.17,NaN,NaN,NaN,NaN,NaN,NaN,Q8.2-2B,1,1
246,246,Q8.3-a_1,NaN,table,16-17,85.29,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_1,1,1
264,264,Q8.2-2c_1,NaN,table,16-17,51.08,NaN,NaN,NaN,NaN,NaN,NaN,Q8.2-2C_1,1,1
265,265,Q8.3-a_2,NaN,table,16-17,83.71,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_2,1,1
266,266,Q8.4-c_3,NaN,table,16-17,52.31,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_3,1,1
267,267,Q8.4-b_1,NaN,table,16-17,84.47,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_1,1,1
268,268,Q8.4-a_1,NaN,table,16-17,87.17,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_1,1,1
269,269,Q8.4-a_2,NaN,table,16-17,83.85,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_2,1,1
270,270,Q8.4-a_3,NaN,table,16-17,84.71,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_3,1,1
271,271,Q8.4-a_4,NaN,table,16-17,81.48,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_4,1,1
272,272,Q8.4-a_5,NaN,table,16-17,81.56,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_5,1,1
273,273,Q8.4-a_6,NaN,table,16-17,58.94,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_6,1,1
274,274,Q8.4-a_6_TEXT,NaN,table,16-17,14.27,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-A_6_TEXT,1,1
275,275,Q8.4-b_2,NaN,table,16-17,79.39,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_2,1,1
276,276,Q8.3-c_7,NaN,table,16-17,12.51,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_7,1,1
277,277,Q8.4-b_3,NaN,table,16-17,81.36,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_3,1,1
278,278,Q8.4-b_4,NaN,table,16-17,75.94,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_4,1,1
279,279,Q8.4-b_5,NaN,table,16-17,76.84,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_5,1,1
280,280,Q8.4-b_6,NaN,table,16-17,58.26,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_6,1,1
281,281,Q8.4-b_6_TEXT,NaN,table,16-17,10.26,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-B_6_TEXT,1,1
282,282,Q8.4-c_1,NaN,table,16-17,66.23,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_1,1,1
283,283,Q8.4-c_2,NaN,table,16-17,39.66,NaN,NaN,NaN,NaN,NaN,NaN,Q8.4-C_2,1,1
284,284,Q8.3-c_8,NaN,table,16-17,52.23,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_8,1,1
285,285,Q8.3-c_6,NaN,table,16-17,20.73,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_6,1,1
286,286,Q8.3-a_3,NaN,table,16-17,83.18,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_3,1,1
287,287,Q8.3-b_3,NaN,table,16-17,77.80,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_3,1,1
288,288,Q8.3-a_4,NaN,table,16-17,83.10,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_4,1,1
289,289,Q8.3-a_5,NaN,table,16-17,84.68,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_5,1,1
290,290,Q8.3-a_6,NaN,table,16-17,80.82,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_6,1,1
291,291,Q8.3-a_7,NaN,table,16-17,78.45,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_7,1,1
292,292,Q8.3-a_8,NaN,table,16-17,83.32,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-A_8,1,1
293,293,Q8.3-b_1,NaN,table,16-17,77.96,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_1,1,1
294,294,Q8.3-b_2,NaN,table,16-17,77.68,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_2,1,1
295,295,Q8.3-b_4,NaN,table,16-17,77.43,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_4,1,1
296,296,Q8.3-c_5,NaN,table,16-17,43.10,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_5,1,1
297,297,Q8.3-b_5,NaN,table,16-17,78.73,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_5,1,1
298,298,Q8.3-b_6,NaN,table,16-17,74.27,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_6,1,1
299,299,Q8.3-b_7,NaN,table,16-17,71.62,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_7,1,1
300,300,Q8.3-b_8,NaN,table,16-17,79.56,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-B_8,1,1
301,301,Q8.3-c_2,NaN,table,16-17,38.39,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_2,1,1
302,302,Q8.3-c_3,NaN,table,16-17,38.36,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_3,1,1
303,303,Q8.3-c_4,NaN,table,16-17,33.68,NaN,NaN,NaN,NaN,NaN,NaN,Q8.3-C_4,1,1

In [133]:
qs_without_the_letter_Q_not_in_pdfs = (
    qs_not_in_pdfs
    .loc[lambda df: (
        ~df["given_q_label"]
        .str.contains("Q"))]
)
qs_without_the_letter_Q_not_in_pdfs

,dlp_id,given_q_label,given_q_text,source_type,nums,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,lc_given_q_text,norm_dlp_q_label,norm_q_label_count,notnorm_q_label_count
103,103,ResponseID,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,Bolded means likely a relevant question,NaN,RESPONSEID,2,2
104,104,ResponseID,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONSEID,2,2
165,165,FNAME,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,FNAME,1,1
167,167,GRANT_ID,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,GRANT_ID,1,1
171,171,Negative,NaN,table,16-17,13.69,NaN,NaN,NaN,NaN,NaN,NaN,NEGATIVE,1,1
172,172,date range,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,DATE RANGE,1,1
173,173,PIN,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,PIN,1,1
174,174,Timestamp,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,TIMESTAMP,1,1
175,175,LEGAL_NAME,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,LEGAL_NAME,1,1
177,177,PHONE,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,PHONE,1,1
178,178,REMAIL,NaN,table,18-20,0.00,NaN,NaN,NaN,NaN,NaN,NaN,REMAIL,1,1
185,185,LtCallST,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,LTCALLST,1,1
187,187,LtCaseR,NaN,table,21-22,5.91,NaN,NaN,NaN,NaN,NaN,NaN,LTCASER,1,1
188,188,MODE,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,MODE,1,1
189,189,LtCallDt,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,LTCALLDT,1,1
191,191,CallDurS,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CALLDURS,1,1
192,192,CallDurM,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CALLDURM,1,1
193,193,TotalTime,NaN,table,21-22,93.73,NaN,NaN,NaN,NaN,NaN,NaN,TOTALTIME,1,1
194,194,LtCallR,NaN,table,21-22,5.93,NaN,NaN,NaN,NaN,NaN,NaN,LTCALLR,1,1
195,195,Date,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,DATE,1,1
197,197,HOUSEHOLD,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,HOUSEHOLD,1,1
198,198,HEALTHCARE,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,HEALTHCARE,1,1
199,199,HEALTHCARE2,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,HEALTHCARE2,1,1
202,202,INT99,NaN,table,21-22,5.56,NaN,NaN,NaN,NaN,NaN,NaN,INT99,1,1
204,204,GRANTEEID,NaN,table,21-22,100.00,NaN,NaN,NaN,NaN,NaN,NaN,GRANTEEID,1,1
205,205,DateRange,NaN,table,18-20,100.00,NaN,NaN,NaN,NaN,NaN,NaN,DATERANGE,1,1
228,228,How many people are in the veterans household including the veteran,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,HOW MANY PEOPLE ARE IN THE VETERANS HOUSEHOLD INCLUDING THE VETERAN,1,1
229,229,Veterans First Name if first name is not provided please type,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,VETERANS FIRST NAME IF FIRST NAME IS NOT PROVIDED PLEASE TYPE,1,1
230,230,Veterans Email Address yourname.com,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,VETERANS EMAIL ADDRESS YOURNAME.COM,1,1
231,231,Cell Phone XXX-XXX-XXXX 1-999-999-9999,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,CELL PHONE XXX-XXX-XXXX 1-999-999-9999,1,1
232,232,UserAgent,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,USERAGENT,1,1
236,236,Respondent Email,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONDENT EMAIL,1,1
237,237,F37,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,F37,1,1
244,244,Region,NaN,table,16-17,81.60,NaN,NaN,NaN,NaN,NaN,NaN,REGION,1,1
245,245,Custom Variable 4,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 4,1,1
247,247,RecipientEmail,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RECIPIENTEMAIL,1,1
249,249,ResponseSet,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONSESET,1,1
250,250,IPAddress,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,IPADDRESS,1,1
251,251,StartDate,NaN,table,16-17,45.84,NaN,NaN,NaN,NaN,NaN,NaN,STARTDATE,1,1
252,252,EndDate,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,ENDDATE,1,1
253,253,RecipientLastName,NaN,table,16-17,7.14,NaN,NaN,NaN,NaN,NaN,NaN,RECIPIENTLASTNAME,1,1
254,254,RecipientFirstName,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RECIPIENTFIRSTNAME,1,1
255,255,ExternalDataReference,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,EXTERNALDATAREFERENCE,1,1
256,256,Custom Variable 3,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 3,1,1
257,257,Finished,NaN,table,16-17,44.52,NaN,NaN,NaN,NaN,NaN,NaN,FINISHED,1,1
258,258,Status,NaN,table,16-17,44.52,NaN,NaN,NaN,NaN,NaN,NaN,STATUS,1,1
259,259,va Cell Phone,NaN,table,16-17,7.14,NaN,NaN,NaN,NaN,NaN,NaN,VA CELL PHONE,1,1
260,260,Response ID,NaN,table,16-17,0.00,NaN,NaN,NaN,NaN,NaN,NaN,RESPONSE ID,1,1
261,261,Timestamp MM/dd/yyyy,NaN,table,16-17,53.46,NaN,NaN,NaN,NaN,NaN,NaN,TIMESTAMP MM/DD/YYYY,1,1
262,262,Custom Variable 1,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 1,1,1
263,263,Custom Variable 2,NaN,table,16-17,100.00,NaN,NaN,NaN,NaN,NaN,NaN,CUSTOM VARIABLE 2,1,1
304,304,INT,NaN,table,21-22,94.01,NaN,NaN,NaN,NaN,NaN,NaN,INT,1,1

In [ ]:
#I can probably just do that by using .isna.
#
#I'll do that to check it:

In [152]:
(
    counted_dlp_qs[
        counted_dlp_qs
        ["source_type"] == "table"
    ]
    ["given_q_text"].isna()
    .value_counts()
)
#Confirmed that no table has question text.

given_q_text
True    228
Name: count, dtype: int64

In [ ]:
#Putting that previous cell aside,
#I should check if normalizing the values
#changes anything ...

In [153]:
(
    counted_dlp_qs
    [counted_dlp_qs["source_type"] == "table"]
    ["given_q_label"]
    .str.upper()
    .isin(
        counted_dlp_qs
        [counted_dlp_qs["source_type"] == "pdf"]
        ["given_q_label"]
        .str.upper()
    )
).value_counts()

given_q_label
False    159
True      69
Name: count, dtype: int64

In [ ]:
#Cool  that is the same True/False count as above,
#when it wasn't normalized with ".str.upper."
#I think this means I don't need to repeat the process while normalizing
#the values.

In [155]:
#We can do the reverse and check which table values are in the pdf values.
filter_tables_in_pdfs = (
    counted_dlp_qs
    [counted_dlp_qs["source_type"] == "pdf"]
    ["given_q_label"]
    .isin(
        counted_dlp_qs
        [counted_dlp_qs["source_type"] == "table"]
        ["given_q_label"]
    )
)
#The false values are how many "table" values don't exist in the "pdf" column

In [158]:
index_of_table_in_pdf_filter = filter_tables_in_pdfs.index
(
    counted_dlp_qs.loc[
        index_of_table_in_pdf_filter, :]
    [~filter_tables_in_pdfs]
)

,dlp_id,given_q_label,given_q_text,source_type,nums,percent_nonnull,consistent/inconsistent,dlp_std_q,dlp_id_for_std_q,dlp_qid_all_qs (index),notes,lc_given_q_text,norm_dlp_q_label,norm_q_label_count,notnorm_q_label_count
107,107,Q6abc,"Veterans were asked a series of questions about which supportive services they needed and\nreceived. If they received the service, they were then asked about the quality of the service.\nAfter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.",pdf,16,NaN,NaN,NaN,NaN,NaN,"Interesting: There is no ""abc"" for Q6 in the table for 2016-17. Also, the last sentence makes me think it's referring to Q7.","veterans were asked a series of questions about which supportive services they needed and\nreceived. if they received the service, they were then asked about the quality of the service.\nafter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.",Q6ABC,2,2
108,108,Q6abc,"Veterans were asked a series of questions about which supportive services they needed and\nreceived. If they received the service, they were then asked about the quality of the service.\nAfter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.",pdf,17,NaN,NaN,NaN,NaN,NaN,"Interesting: There is no ""abc"" for Q6 in the table for 2016-17. Also, the last sentence makes me think it's referring to Q7.","veterans were asked a series of questions about which supportive services they needed and\nreceived. if they received the service, they were then asked about the quality of the service.\nafter answering questions about fifteen different specific services (inclusive of such things as\ncase management, health care and rental assistance), they were given the option to write in\nservices not mentioned that they felt they needed.",Q6ABC,2,2
248,248,Q3_3G2,WHAT WAS THE QUALITY OF THE ASSISTANCE RECEIVED IN OBTAINING AND COORDINATING\nCHILDCARE BENEFITS?,pdf,21-22,NaN,NaN,NaN,NaN,NaN,NaN,what was the quality of the assistance received in obtaining and coordinating\nchildcare benefits?,Q3_3G2,1,1

In [160]:
filter_tables_in_pdfs.value_counts()
#Cool. There are 3 false values, so that seems right.
#Q3_3G2 is suspect. Why isn't that in the tables?
#Also, I should clear up the Q6abc bits.

given_q_label
True     74
False     3
Name: count, dtype: int64

In [ ]:
#I should also connect these tables back to the original tables via the
#dlp_ids.
#I'll need to merge rows in one table with columns in another.
#The table I made will need to be transposed.
#OR I could use the DLP id trick.

In [212]:
#Let's play around with the df_16_17 table first to jog my memory:
df_16_17.head().transpose().reset_index(names="given_q_labels")

,given_q_labels,0,1,2,3,4
0,ResponseID,557,558,559,560,561
1,ResponseSet,Default Response Set,Default Response Set,Default Response Set,Default Response Set,Default Response Set
2,IPAddress,NaN,NaN,NaN,NaN,NaN
3,StartDate,2016-04-23 13:33:00,2016-04-29 13:09:00,2016-04-29 12:59:00,2016-04-29 13:23:00,2016-04-29 13:28:00
4,EndDate,2016-05-01 00:09:00,2016-05-01 00:09:00,2016-05-01 00:09:00,2016-05-01 00:09:00,2016-05-01 00:09:00
5,RecipientLastName,,,,,
6,RecipientFirstName,NaN,NaN,NaN,NaN,NaN
7,RecipientEmail,NaN,NaN,NaN,NaN,NaN
8,ExternalDataReference,NaN,NaN,NaN,NaN,NaN
9,Finished,1.0,1.0,1.0,1.0,1.0
10,Status,0,0,0,0,0
11,va Cell Phone,,,,,
12,Response ID,NaN,NaN,NaN,NaN,NaN
13,Timestamp MM/dd/yyyy,,,,,
14,Custom Variable 1,Decatur Cooperative Ministry Inc.,Salvation Army a California Corporation,Families in Transition of Santa Cruz County Inc.,Veterans Northeast Outreach Center Inc.,Seven Hills Homeless Center
15,Custom Variable 2,13-GA-102,13-NV-118,14-CA-169,14-MA-209,14-AR-156
16,Custom Variable 3,NaN,NaN,NaN,NaN,NaN
17,Custom Variable 4,NaN,NaN,NaN,NaN,NaN
18,Respondent Email,NaN,NaN,NaN,NaN,NaN
19,Region,GA,NV,CA,MA,LA
20,How many people are in the veterans household including the veteran,NaN,NaN,NaN,NaN,NaN
21,Veterans First Name if first name is not provided please type,NaN,NaN,NaN,NaN,NaN
22,Veterans Email Address yourname.com,NaN,NaN,NaN,NaN,NaN
23,Cell Phone XXX-XXX-XXXX 1-999-999-9999,NaN,NaN,NaN,NaN,NaN
24,UserAgent,NaN,NaN,NaN,NaN,NaN
25,Q_URL,NaN,NaN,NaN,NaN,NaN
26,Q35,1.0,1.0,1.0,1.0,1.0
27,QIS,1,1,1,1,1
28,QIVA,1,1,2,1,1
29,Q1,1,4,4,4,2
30,Q2,1,4,3,3,4
31,Q3,2,5,1,5,5
32,Q4,2,4,4,4,4
33,Q5,2,1,2,2,1
34,Q6,NaN,1,NaN,NaN,1
35,Q7,NaN,NaN,NaN,NaN,NaN
36,F37,NaN,NaN,NaN,NaN,NaN
37,Q8 into,1,1,1,1,1
38,Q8.1-1a,1,1,1,1,1
39,Q8.1-1b,2,1,1,2,1
40,Q8.1-1c_1,NaN,4,4,NaN,5
41,Q8.2-2a,1,1,1,2,2
42,Q8.2-2b,2,1,1,2,2
43,Q8.2-2c_1,NaN,4,4,NaN,NaN
44,Q8.3-a_1,1,1,NaN,2,NaN
45,Q8.3-a_2,1,1,NaN,2,NaN
46,Q8.3-a_3,1,2,NaN,2,NaN
47,Q8.3-a_4,2,1,1,1,NaN
48,Q8.3-a_5,1,2,NaN,2,NaN
49,Q8.3-a_6,1,2,NaN,1,NaN
50,Q8.3-a_7,1,2,NaN,2,NaN
51,Q8.3-a_8,1,1,1,1,NaN
52,Q8.3-b_1,2,1,NaN,1,1
53,Q8.3-b_2,2,1,NaN,2,1
54,Q8.3-b_3,2,2,NaN,2,2
55,Q8.3-b_4,2,1,1,2,2
56,Q8.3-b_5,2,2,NaN,2,2
57,Q8.3-b_6,2,2,NaN,2,2
58,Q8.3-b_7,2,2,NaN,2,2
59,Q8.3-b_8,2,1,1,2,2
60,Q8.3-c_1,NaN,4,NaN,3,5
61,Q8.3-c_2,NaN,4,NaN,NaN,NaN
62,Q8.3-c_3,NaN,NaN,NaN,NaN,NaN
63,Q8.3-c_4,NaN,3,5,NaN,NaN
64,Q8.3-c_5,NaN,NaN,NaN,NaN,NaN
65,Q8.3-c_6,NaN,NaN,NaN,NaN,NaN
66,Q8.3-c_7,NaN,NaN,NaN,NaN,NaN
67,Q8.3-c_8,NaN,4,5,NaN,NaN
68,Q8.4-a_1,1,1,1,1,2
69,Q8.4-a_2,1,1,NaN,1,1
70,Q8.4-a_3,1,1,NaN,1,1
71,Q8.4-a_4,1,2,NaN,1,2
72,Q8.4-a_5,1,2,NaN,NaN,1
73,Q8.4-a_6,NaN,2,NaN,NaN,2
74,Q8.4-a_6_TEXT,,,,,
75,Q8.4-b_1,2,1,1,2,1
76,Q8.4-b_2,2,1,NaN,2,1
77,Q8.4-b_3,2,1,NaN,2,1
78,Q8.4-b_4,2,2,NaN,2,2
79,Q8.4-b_5,2,2,NaN,2,1
80,Q8.4-b_6,NaN,2,NaN,2,2
81,Q8.4-b_6_TEXT,,,,,
82,Q8.4-c_1,NaN,3,4,NaN,5
83,Q8.4-c_2,NaN,4,NaN,NaN,5
84,Q8.4-c_3,NaN,5,NaN,NaN,5
85,Q8.4-c_4,NaN,NaN,NaN,NaN,NaN
86,Q8.4-c_5,NaN,NaN,NaN,NaN,5
87,Q8.4-c_6,NaN,NaN,NaN,NaN,NaN
88,Q8.4-c_6_TEXT,,,,,
89,Q15,4,1,1,3,2
90,Q16,1,2,1,1,1
91,Q17,1,2,1,1,1
92,Q18,2,NaN,1,2,2
93,Negative,NaN,NaN,NaN,NaN,NaN
94,date range,2016-05-31 00:00:00,2016-05-31 00:00:00,2016-05-31 00:00:00,2016-05-31 00:00:00,2016-05-31 00:00:00

In [204]:
(
    counted_dlp_qs
    [
        (counted_dlp_qs
        ["source_type"] == "table")
        &
        (counted_dlp_qs
         ["nums"] == "16-17")
    ]
    .merge(
        df_16_17
        .transpose()
        .reset_index(names="given_q_label")
    )
    .transpose()
    .reset_index()
    .head()
)
#Cool. Now, I'll want to make a version of the df_16_17 table with the dlp_id.

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94
0,dlp_id,5,13,19,25,37,56,60,64,69,103,154,169,170,171,172,190,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303
1,given_q_label,Q1,Q7,Q2,Q4,Q6,Q5,Q15,Q3,Q16,ResponseID,Q8.4-c_6_TEXT,Q17,Q18,Negative,date range,Q8.4-c_5,Q8.4-c_6,Q8.3-c_1,Q8.4-c_4,QIS,How many people are in the veterans household including the veteran,Veterans First Name if first name is not provided please type,Veterans Email Address yourname.com,Cell Phone XXX-XXX-XXXX 1-999-999-9999,UserAgent,Q_URL,Q35,QIVA,Respondent Email,F37,Q8 into,Q8.1-1a,Q8.1-1b,Q8.1-1c_1,Q8.2-2a,Q8.2-2b,Region,Custom Variable 4,Q8.3-a_1,RecipientEmail,ResponseSet,IPAddress,StartDate,EndDate,RecipientLastName,RecipientFirstName,ExternalDataReference,Custom Variable 3,Finished,Status,va Cell Phone,Response ID,Timestamp MM/dd/yyyy,Custom Variable 1,Custom Variable 2,Q8.2-2c_1,Q8.3-a_2,Q8.4-c_3,Q8.4-b_1,Q8.4-a_1,Q8.4-a_2,Q8.4-a_3,Q8.4-a_4,Q8.4-a_5,Q8.4-a_6,Q8.4-a_6_TEXT,Q8.4-b_2,Q8.3-c_7,Q8.4-b_3,Q8.4-b_4,Q8.4-b_5,Q8.4-b_6,Q8.4-b_6_TEXT,Q8.4-c_1,Q8.4-c_2,Q8.3-c_8,Q8.3-c_6,Q8.3-a_3,Q8.3-b_3,Q8.3-a_4,Q8.3-a_5,Q8.3-a_6,Q8.3-a_7,Q8.3-a_8,Q8.3-b_1,Q8.3-b_2,Q8.3-b_4,Q8.3-c_5,Q8.3-b_5,Q8.3-b_6,Q8.3-b_7,Q8.3-b_8,Q8.3-c_2,Q8.3-c_3,Q8.3-c_4
2,given_q_text,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,source_type,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table
4,nums,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17

In [221]:
(
    counted_dlp_qs
    [
        (counted_dlp_qs
        ["source_type"] == "table")
        &
        (counted_dlp_qs
         ["nums"] == "16-17")
    ]
    .merge(
        df_16_17
        .transpose()
        .reset_index(names="given_q_label")
    )
#         [[
#         'dlp_id','ResponseID', 'ResponseSet', 'IPAddress', 'StartDate', 'EndDate',
#        'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
#        'ExternalDataReference', 'Finished', 'Status', 'va Cell Phone',
#        'Response ID', 'Timestamp MM/dd/yyyy', 'Custom Variable 1',
#        'Custom Variable 2', 'Custom Variable 3', 'Custom Variable 4',
#        'Respondent Email', 'Region',
#        'How many people are in the veterans household including the veteran',
#        'Veterans First Name if first name is not provided  please type',
#        'Veterans Email Address yourname.com',
#        'Cell Phone XXX-XXX-XXXX 1-999-999-9999', 'UserAgent', 'Q_URL', 'Q35',
#        'QIS', 'QIVA', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'F37',
#        'Q8 into', 'Q8.1-1a', 'Q8.1-1b', 'Q8.1-1c_1', 'Q8.2-2a', 'Q8.2-2b',
#        'Q8.2-2c_1', 'Q8.3-a_1', 'Q8.3-a_2', 'Q8.3-a_3', 'Q8.3-a_4', 'Q8.3-a_5',
#        'Q8.3-a_6', 'Q8.3-a_7', 'Q8.3-a_8', 'Q8.3-b_1', 'Q8.3-b_2', 'Q8.3-b_3',
#        'Q8.3-b_4', 'Q8.3-b_5', 'Q8.3-b_6', 'Q8.3-b_7', 'Q8.3-b_8', 'Q8.3-c_1',
#        'Q8.3-c_2', 'Q8.3-c_3', 'Q8.3-c_4', 'Q8.3-c_5', 'Q8.3-c_6', 'Q8.3-c_7',
#        'Q8.3-c_8', 'Q8.4-a_1', 'Q8.4-a_2', 'Q8.4-a_3', 'Q8.4-a_4', 'Q8.4-a_5',
#        'Q8.4-a_6', 'Q8.4-a_6_TEXT', 'Q8.4-b_1', 'Q8.4-b_2', 'Q8.4-b_3',
#        'Q8.4-b_4', 'Q8.4-b_5', 'Q8.4-b_6', 'Q8.4-b_6_TEXT', 'Q8.4-c_1',
#        'Q8.4-c_2', 'Q8.4-c_3', 'Q8.4-c_4', 'Q8.4-c_5', 'Q8.4-c_6',
#        'Q8.4-c_6_TEXT', 'Q15', 'Q16', 'Q17', 'Q18', 'Negative', 'date range'
#       ]]
    .transpose()
    .loc[["dlp_id", "given_q_label"]]
    .transpose()
)

#Shit. I should have assigned each observational unit in the 16-17 table
#an id from the beginning and had that number follow it around to my new table.
#Then again, it would have been too long.
#Let's see ...
#I want to assign each label a dlp_id and am having trouble because
#the each given q label is a column, and the dlp id is a column ... so I'd need
#a dlp id for each column.

   dlp_id                                                        given_q_label
0       5                                                                   Q1
1      13                                                                   Q7
2      19                                                                   Q2
3      25                                                                   Q4
4      37                                                                   Q6
5      56                                                                   Q5
6      60                                                                  Q15
7      64                                                                   Q3
8      69                                                                  Q16
9     103                                                           ResponseID
10    154                                                        Q8.4-c_6_TEXT
11    169                                                                  Q17
12    170                                                                  Q18
13    171                                                             Negative
14    172                                                           date range
15    190                                                             Q8.4-c_5
16    224                                                             Q8.4-c_6
17    225                                                             Q8.3-c_1
18    226                                                             Q8.4-c_4
19    227                                                                  QIS
20    228  How many people are in the veterans household including the veteran
21    229       Veterans First Name if first name is not provided  please type
22    230                                  Veterans Email Address yourname.com
23    231                               Cell Phone XXX-XXX-XXXX 1-999-999-9999
24    232                                                            UserAgent
25    233                                                                Q_URL
26    234                                                                  Q35
27    235                                                                 QIVA
28    236                                                     Respondent Email
29    237                                                                  F37
30    238                                                              Q8 into
31    239                                                              Q8.1-1a
32    240                                                              Q8.1-1b
33    241                                                            Q8.1-1c_1
34    242                                                              Q8.2-2a
35    243                                                              Q8.2-2b
36    244                                                               Region
37    245                                                    Custom Variable 4
38    246                                                             Q8.3-a_1
39    247                                                       RecipientEmail
40    249                                                          ResponseSet
41    250                                                            IPAddress
42    251                                                            StartDate
43    252                                                              EndDate
44    253                                                    RecipientLastName
45    254                                                   RecipientFirstName
46    255                                                ExternalDataReference
47    256                                                    Custom Variable 3
48    257                                                             Finished
49    258                                                               Status
50    259                                                        va Cell Phone
51    260                                                          Response ID
52    261                                                 Timestamp MM/dd/yyyy
53    262                                                    Custom Variable 1
54    263                                                    Custom Variable 2
55    264                                                            Q8.2-2c_1
56    265                                                             Q8.3-a_2
57    266                                                             Q8.4-c_3
58    267                                                             Q8.4-b_1
59    268                                                             Q8.4-a_1
60    269                                                             Q8.4-a_2
61    270                                                             Q8.4-a_3
62    271                                                             Q8.4-a_4
63    272                                                             Q8.4-a_5
64    273                                                             Q8.4-a_6
65    274                                                        Q8.4-a_6_TEXT
66    275                                                             Q8.4-b_2
67    276                                                             Q8.3-c_7
68    277                                                             Q8.4-b_3
69    278                                                             Q8.4-b_4
70    279                                                             Q8.4-b_5
71    280                                                             Q8.4-b_6
72    281                                                        Q8.4-b_6_TEXT
73    282                                                             Q8.4-c_1
74    283                                                             Q8.4-c_2
75    284                                                             Q8.3-c_8
76    285                                                             Q8.3-c_6
77    286                                                             Q8.3-a_3
78    287                                                             Q8.3-b_3
79    288                                                             Q8.3-a_4
80    289                                                             Q8.3-a_5
81    290                                                             Q8.3-a_6
82    291                                                             Q8.3-a_7
83    292                                                             Q8.3-a_8
84    293                                                             Q8.3-b_1
85    294                                                             Q8.3-b_2
86    295                                                             Q8.3-b_4
87    296                                                             Q8.3-c_5
88    297                                                             Q8.3-b_5
89    298                                                             Q8.3-b_6
90    299                                                             Q8.3-b_7
91    300                                                             Q8.3-b_8
92    301                                                             Q8.3-c_2
93    302                                                             Q8.3-c_3
94    303                                                             Q8.3-c_4

In [234]:
(
    counted_dlp_qs
    [
        (counted_dlp_qs
        ["source_type"] == "table")
        &
        (counted_dlp_qs
         ["nums"] == "16-17")
    ]
    .transpose()
    .reset_index()
#     .merge(
#         df_16_17
#         .transpose()
#         .reset_index(names="given_q_label")
#     )
)

#How do I turn a row into the column names?
#Should I concactenate on the Qs instead of merge the two tables, given that

,index,5,13,19,25,37,56,60,64,69,103,154,169,170,171,172,190,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303
0,dlp_id,5,13,19,25,37,56,60,64,69,103,154,169,170,171,172,190,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303
1,given_q_label,Q1,Q7,Q2,Q4,Q6,Q5,Q15,Q3,Q16,ResponseID,Q8.4-c_6_TEXT,Q17,Q18,Negative,date range,Q8.4-c_5,Q8.4-c_6,Q8.3-c_1,Q8.4-c_4,QIS,How many people are in the veterans household including the veteran,Veterans First Name if first name is not provided please type,Veterans Email Address yourname.com,Cell Phone XXX-XXX-XXXX 1-999-999-9999,UserAgent,Q_URL,Q35,QIVA,Respondent Email,F37,Q8 into,Q8.1-1a,Q8.1-1b,Q8.1-1c_1,Q8.2-2a,Q8.2-2b,Region,Custom Variable 4,Q8.3-a_1,RecipientEmail,ResponseSet,IPAddress,StartDate,EndDate,RecipientLastName,RecipientFirstName,ExternalDataReference,Custom Variable 3,Finished,Status,va Cell Phone,Response ID,Timestamp MM/dd/yyyy,Custom Variable 1,Custom Variable 2,Q8.2-2c_1,Q8.3-a_2,Q8.4-c_3,Q8.4-b_1,Q8.4-a_1,Q8.4-a_2,Q8.4-a_3,Q8.4-a_4,Q8.4-a_5,Q8.4-a_6,Q8.4-a_6_TEXT,Q8.4-b_2,Q8.3-c_7,Q8.4-b_3,Q8.4-b_4,Q8.4-b_5,Q8.4-b_6,Q8.4-b_6_TEXT,Q8.4-c_1,Q8.4-c_2,Q8.3-c_8,Q8.3-c_6,Q8.3-a_3,Q8.3-b_3,Q8.3-a_4,Q8.3-a_5,Q8.3-a_6,Q8.3-a_7,Q8.3-a_8,Q8.3-b_1,Q8.3-b_2,Q8.3-b_4,Q8.3-c_5,Q8.3-b_5,Q8.3-b_6,Q8.3-b_7,Q8.3-b_8,Q8.3-c_2,Q8.3-c_3,Q8.3-c_4
2,given_q_text,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,source_type,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table
4,nums,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17
5,percent_nonnull,100.0,0.0,98.96,97.99,76.86,97.39,87.63,98.59,86.64,100.0,8.17,86.36,37.43,13.69,100.0,27.45,16.52,38.95,22.24,98.29,0.0,0.0,0.0,0.0,0.0,0.0,95.95,99.62,0.0,0.0,40.8,94.02,93.06,80.49,92.98,92.17,81.6,0.0,85.29,0.0,100.0,0.0,45.84,100.0,7.14,0.0,0.0,0.0,44.52,44.52,7.14,0.0,53.46,100.0,100.0,51.08,83.71,52.31,84.47,87.17,83.85,84.71,81.48,81.56,58.94,14.27,79.39,12.51,81.36,75.94,76.84,58.26,10.26,66.23,39.66,52.23,20.73,83.18,77.8,83.1,84.68,80.82,78.45,83.32,77.96,77.68,77.43,43.1,78.73,74.27,71.62,79.56,38.39,38.36,33.68
6,consistent/inconsistent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,dlp_std_q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,dlp_id_for_std_q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,dlp_qid_all_qs (index),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bolded means likely a relevant question,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,lc_given_q_text,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,norm_dlp_q_label,Q1,Q7,Q2,Q4,Q6,Q5,Q15,Q3,Q16,RESPONSEID,Q8.4-C_6_TEXT,Q17,Q18,NEGATIVE,DATE RANGE,Q8.4-C_5,Q8.4-C_6,Q8.3-C_1,Q8.4-C_4,QIS,HOW MANY PEOPLE ARE IN THE VETERANS HOUSEHOLD INCLUDING THE VETERAN,VETERANS FIRST NAME IF FIRST NAME IS NOT PROVIDED PLEASE TYPE,VETERANS EMAIL ADDRESS YOURNAME.COM,CELL PHONE XXX-XXX-XXXX 1-999-999-9999,USERAGENT,Q_URL,Q35,QIVA,RESPONDENT EMAIL,F37,Q8 INTO,Q8.1-1A,Q8.1-1B,Q8.1-1C_1,Q8.2-2A,Q8.2-2B,REGION,CUSTOM VARIABLE 4,Q8.3-A_1,RECIPIENTEMAIL,RESPONSESET,IPADDRESS,STARTDATE,ENDDATE,RECIPIENTLASTNAME,RECIPIENTFIRSTNAME,EXTERNALDATAREFERENCE,CUSTOM VARIABLE 3,FINISHED,STATUS,VA CELL PHONE,RESPONSE ID,TIMESTAMP MM/DD/YYYY,CUSTOM VARIABLE 1,CUSTOM VARIABLE 2,Q8.2-2C_1,Q8.3-A_2,Q8.4-C_3,Q8.4-B_1,Q8.4-A_1,Q8.4-A_2,Q8.4-A_3,Q8.4-A_4,Q8.4-A_5,Q8.4-A_6,Q8.4-A_6_TEXT,Q8.4-B_2,Q8.3-C_7,Q8.4-B_3,Q8.4-B_4,Q8.4-B_5,Q8.4-B_6,Q8.4-B_6_TEXT,Q8.4-C_1,Q8.4-C_2,Q8.3-C_8,Q8.3-C_6,Q8.3-A_3,Q8.3-B_3,Q8.3-A_4,Q8.3-A_5,Q8.3-A_6,Q8.3-A_7,Q8.3-A_8,Q8.3-B_1,Q8.3-B_2,Q8.3-B_4,Q8.3-C_5,Q8.3-B_5,Q8.3-B_6,Q8.3-B_7,Q8.3-B_8,Q8.3-C_2,Q8.3-C_3,Q8.3-C_4
13,norm_q_label_count,8,8,6,6,6,4,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
14,notnorm_q_label_count,8,8,6,6,6,4,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [217]:
(
    counted_dlp_qs
    [
        (counted_dlp_qs
        ["source_type"] == "table")
        &
        (counted_dlp_qs
         ["nums"] == "16-17")
    ]
    .transpose()
    .reset_index(names="only_dlp_id_matters")
)

,only_dlp_id_matters,5,13,19,25,37,56,60,64,69,103,154,169,170,171,172,190,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303
0,dlp_id,5,13,19,25,37,56,60,64,69,103,154,169,170,171,172,190,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303
1,given_q_label,Q1,Q7,Q2,Q4,Q6,Q5,Q15,Q3,Q16,ResponseID,Q8.4-c_6_TEXT,Q17,Q18,Negative,date range,Q8.4-c_5,Q8.4-c_6,Q8.3-c_1,Q8.4-c_4,QIS,How many people are in the veterans household including the veteran,Veterans First Name if first name is not provided please type,Veterans Email Address yourname.com,Cell Phone XXX-XXX-XXXX 1-999-999-9999,UserAgent,Q_URL,Q35,QIVA,Respondent Email,F37,Q8 into,Q8.1-1a,Q8.1-1b,Q8.1-1c_1,Q8.2-2a,Q8.2-2b,Region,Custom Variable 4,Q8.3-a_1,RecipientEmail,ResponseSet,IPAddress,StartDate,EndDate,RecipientLastName,RecipientFirstName,ExternalDataReference,Custom Variable 3,Finished,Status,va Cell Phone,Response ID,Timestamp MM/dd/yyyy,Custom Variable 1,Custom Variable 2,Q8.2-2c_1,Q8.3-a_2,Q8.4-c_3,Q8.4-b_1,Q8.4-a_1,Q8.4-a_2,Q8.4-a_3,Q8.4-a_4,Q8.4-a_5,Q8.4-a_6,Q8.4-a_6_TEXT,Q8.4-b_2,Q8.3-c_7,Q8.4-b_3,Q8.4-b_4,Q8.4-b_5,Q8.4-b_6,Q8.4-b_6_TEXT,Q8.4-c_1,Q8.4-c_2,Q8.3-c_8,Q8.3-c_6,Q8.3-a_3,Q8.3-b_3,Q8.3-a_4,Q8.3-a_5,Q8.3-a_6,Q8.3-a_7,Q8.3-a_8,Q8.3-b_1,Q8.3-b_2,Q8.3-b_4,Q8.3-c_5,Q8.3-b_5,Q8.3-b_6,Q8.3-b_7,Q8.3-b_8,Q8.3-c_2,Q8.3-c_3,Q8.3-c_4
2,given_q_text,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,source_type,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table,table
4,nums,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17,16-17
5,percent_nonnull,100.0,0.0,98.96,97.99,76.86,97.39,87.63,98.59,86.64,100.0,8.17,86.36,37.43,13.69,100.0,27.45,16.52,38.95,22.24,98.29,0.0,0.0,0.0,0.0,0.0,0.0,95.95,99.62,0.0,0.0,40.8,94.02,93.06,80.49,92.98,92.17,81.6,0.0,85.29,0.0,100.0,0.0,45.84,100.0,7.14,0.0,0.0,0.0,44.52,44.52,7.14,0.0,53.46,100.0,100.0,51.08,83.71,52.31,84.47,87.17,83.85,84.71,81.48,81.56,58.94,14.27,79.39,12.51,81.36,75.94,76.84,58.26,10.26,66.23,39.66,52.23,20.73,83.18,77.8,83.1,84.68,80.82,78.45,83.32,77.96,77.68,77.43,43.1,78.73,74.27,71.62,79.56,38.39,38.36,33.68
6,consistent/inconsistent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,dlp_std_q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,dlp_id_for_std_q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,dlp_qid_all_qs (index),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bolded means likely a relevant question,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,lc_given_q_text,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,norm_dlp_q_label,Q1,Q7,Q2,Q4,Q6,Q5,Q15,Q3,Q16,RESPONSEID,Q8.4-C_6_TEXT,Q17,Q18,NEGATIVE,DATE RANGE,Q8.4-C_5,Q8.4-C_6,Q8.3-C_1,Q8.4-C_4,QIS,HOW MANY PEOPLE ARE IN THE VETERANS HOUSEHOLD INCLUDING THE VETERAN,VETERANS FIRST NAME IF FIRST NAME IS NOT PROVIDED PLEASE TYPE,VETERANS EMAIL ADDRESS YOURNAME.COM,CELL PHONE XXX-XXX-XXXX 1-999-999-9999,USERAGENT,Q_URL,Q35,QIVA,RESPONDENT EMAIL,F37,Q8 INTO,Q8.1-1A,Q8.1-1B,Q8.1-1C_1,Q8.2-2A,Q8.2-2B,REGION,CUSTOM VARIABLE 4,Q8.3-A_1,RECIPIENTEMAIL,RESPONSESET,IPADDRESS,STARTDATE,ENDDATE,RECIPIENTLASTNAME,RECIPIENTFIRSTNAME,EXTERNALDATAREFERENCE,CUSTOM VARIABLE 3,FINISHED,STATUS,VA CELL PHONE,RESPONSE ID,TIMESTAMP MM/DD/YYYY,CUSTOM VARIABLE 1,CUSTOM VARIABLE 2,Q8.2-2C_1,Q8.3-A_2,Q8.4-C_3,Q8.4-B_1,Q8.4-A_1,Q8.4-A_2,Q8.4-A_3,Q8.4-A_4,Q8.4-A_5,Q8.4-A_6,Q8.4-A_6_TEXT,Q8.4-B_2,Q8.3-C_7,Q8.4-B_3,Q8.4-B_4,Q8.4-B_5,Q8.4-B_6,Q8.4-B_6_TEXT,Q8.4-C_1,Q8.4-C_2,Q8.3-C_8,Q8.3-C_6,Q8.3-A_3,Q8.3-B_3,Q8.3-A_4,Q8.3-A_5,Q8.3-A_6,Q8.3-A_7,Q8.3-A_8,Q8.3-B_1,Q8.3-B_2,Q8.3-B_4,Q8.3-C_5,Q8.3-B_5,Q8.3-B_6,Q8.3-B_7,Q8.3-B_8,Q8.3-C_2,Q8.3-C_3,Q8.3-C_4
13,norm_q_label_count,8,8,6,6,6,4,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
14,notnorm_q_label_count,8,8,6,6,6,4,3,3,3,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [235]:
#Holy fucking fuck. I forgot to add the data dictionary abbreviations and definitions to the table.
#Well, time to make a new document.